@model AtriumWebApp.Web.Utilization.Models.ViewModel.PASRRAdminViewModel
@{
    ViewBag.Title = "PASRR Admin Page";
}

<style type="text/css">
    .dataTables_scrollBody {
        overflow: auto;
        height: auto !important;
        max-height: 300px;
        width: 100%;
    }

    .content-wrapper {
        max-width: 1366px;
    }

    .dataTables_wrapper {
        border: solid thin black;
    }

    #admin-body {
        width: 100%;
    }
</style>

<h2 id="title" style="margin-left: 200px">Pre-Admission Screening Resident Review Admin Page</h2>
@using (Html.BeginForm("SaveLookback", "PASRRAdmin", FormMethod.Post, new { id = "SaveLookback" }))
{
    <table>
        <thead>
            <tr style="font-weight: bold">
                <th>Lookback Days</th>
            </tr>
        </thead>
        <tr>
            <td>@Html.Label("Adjust Lookback Days:")</td>
            @{
                string PASRRLookbackDays;
                Context.Session.TryGetObject("PASRRLookbackDays", out PASRRLookbackDays);
            }
            <td>@Html.TextBox("LookbackDays", PASRRLookbackDays, new { @style = "width: 35px;", maxlength = "3" })</td>
            <td><input id="submit" name="submit" type="submit" value="Update" /></td>
        </tr>
    </table>
                }
<div id="tabs" style="min-height:500px;">
    <ul>
        <li>
            <a href="#community">Communities</a>
        </li>
    </ul>
    <div id="community">
        <table id="CommunityTable">
            <thead>
                <tr>
                    <th>Facility</th>
                    <th>State</th>
                    <th>Region</th>
                    <th>Use in Display</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var com in Model.AdminViewModel.Communities.OrderByDescending(c => c.IsCommunityFlg).ThenBy(c => c.CommunityShortName))
            {
                    <tr id="@com.CommunityId">
                        <td>@com.CommunityShortName</td>
                        <td>@com.StateCd</td>
                        <td>@Model.AdminViewModel.Regions.Single(r => r.RegionId == com.RegionId).RegionName</td>
                        <td>@Html.CheckBoxFor(m => m.AdminViewModel.ApplicationCommunityInfos.Single(aci => aci.CommunityId == com.CommunityId).DataEntryFlg, new { id = com.CommunityId, @class = "checkbox" })</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<environment names="Development">
    <script src="~/js/PASRRAdmin.js" asp-append-version="true"></script>
</environment>
<environment names="Testing,Production,Training">
    <script src="~/js/PASRRAdmin.min.js" asp-append-version="true"></script>
</environment>