@model AtriumWebApp.Web.RiskManagement.Models.ViewModel.RMWAdminViewModel

@{
    ViewBag.Title = "Workers Compensation Admin Page";
}
<style type="text/css">
    .content-wrapper {
        max-width: 1366px;
    }

    .dataTables_wrapper {
        border: solid thin black;
    }

    #admin-body {
        width: 100%;
    }

    .dataTables_scrollBody {
        overflow: auto;
        height: auto !important;
        max-height: 300px;
        width: 100%;
    }
</style>


<h2 style="padding-bottom: 30px;">@ViewBag.Title</h2>
@using (Html.BeginForm("SaveLookback", "RMWorkerCompAdmin", FormMethod.Post, new { id = "SaveLookback" }))
{
    <table>
        <thead>
            <tr style="font-weight: bold">
                <th>Lookback Days</th>
            </tr>
        </thead>
        <tr>
            <td>@Html.Label("Adjust Lookback Days:")</td>
            @{
                string lookbackDays;
                Context.Session.TryGetObject("RMWLookbackDays", out lookbackDays);
            }

            <td>@Html.TextBox("LookbackDays", lookbackDays)</td>
            <td>
                <input id="submit" name="submit" type="submit" value="Update" />
            </td>
        </tr>
    </table>
}

<div id="tabs" style="min-height:500px">
    <ul>
        <li>
            <a href="#communityTab">Communities</a>
        </li>
        <li>
            <a href="#insuranceTab">Insurance</a>
        </li>
        <li>
            <a href="#legalTab">Legal Firms</a>
        </li>
        <li>
            <a href="#vocTab">VOC Rehab</a>
        </li>
        <li>
            <a href="#tcmTab">TCM</a>
        </li>
        <li>
            <a href="#claimTab">Claim Types</a>
        </li>
    </ul>
    <div id="communityTab">
        <table id="CommunityTable" class="float-right">
            <thead>
                <tr>
                    <th>Facility</th>
                    <th>State</th>
                    <th>Region</th>
                    <th>Use in Display</th>
                    <th>Report Flag</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var com in Model.AdminViewModel.Communities.OrderByDescending(c => c.IsCommunityFlg).ThenBy(c => c.CommunityShortName))
            {
                    <tr>
                        <td>@com.CommunityShortName</td>
                        <td>@com.StateCd</td>
                        <td>@Model.AdminViewModel.Regions.Single(r => r.RegionId == com.RegionId).RegionName</td>
                        <td>@Html.CheckBoxFor(x => x.AdminViewModel.ApplicationCommunityInfos.Single(aci => aci.CommunityId == com.CommunityId).DataEntryFlg, new { id = com.CommunityId, @class = "checkbox" })</td>
                        <td>@Html.CheckBoxFor(x => x.AdminViewModel.ApplicationCommunityInfos.Single(aci => aci.CommunityId == com.CommunityId).ReportFlg, new { id = com.CommunityId, @class = "checkboxReport" })</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div id="insuranceTab">
        <table id="Insurance">
            <thead>
                <tr>
                    <th>Insurance Name</th>
                    <th>Sort Order</th>
                    <th>Enable Disable</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ins in Model.Insurances)
            {
                    <tr id="@ins.InsuranceId">
                        <td>
                            @ins.InsuranceNm
                        </td>
                        <td>
                            @ins.SortOrder
                        </td>
                        <td>
                            @Html.CheckBox("EnableDisable", ins.DataEntryFlg, new { @class = "EnableDisable" })
                        </td>
                        <td>
                            <a class="edit" href="">Edit</a>
                        </td>
                        <td>
                            <a class="delete" href="">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @Html.EditorFor(a => a.NewInsurance,"","")
    </div>
    <div id="legalTab">
        <table id="LawFirm">
            <thead>
                <tr>
                    <th>Legal Firm</th>
                    <th>Sort Order</th>
                    <th>Enable Disable</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ins in Model.LegalFirms)
            {
                    <tr id="@ins.LegalFirmID">
                        <td>
                            @ins.LegalFirmNm
                        </td>
                        <td>
                            @ins.SortOrder
                        </td>
                        <td>
                            @Html.CheckBox("EnableDisable", ins.DataEntryFlg, new { @class = "EnableDisable" })
                        </td>
                        <td>
                            <a class="edit" href="">Edit</a>
                        </td>
                        <td>
                            <a class="delete" href="">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @Html.EditorFor(a => a.NewLegal, "", "")
    </div>
    <div id="vocTab">
        <table id="VOC">
            <thead>
                <tr>
                    <th>VOC Rehab</th>
                    <th>Sort Order</th>
                    <th>Enable Disable</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ins in Model.VOCRehabs)
            {
                    <tr id="@ins.VOCRehabID">
                        <td>
                            @ins.VOCRehabName
                        </td>
                        <td>
                            @ins.SortOrder
                        </td>
                        <td>
                            @Html.CheckBox("EnableDisable", ins.DataEntryFlg, new { @class = "EnableDisable" })
                        </td>
                        <td>
                            <a class="edit" href="">Edit</a>
                        </td>
                        <td>
                            <a class="delete" href="">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @Html.EditorFor(a => a.NewVOC, "", "")
    </div>
    <div id="tcmTab">
        <table id="TCM">
            <thead>
                <tr>
                    <th>TCM</th>
                    <th>Sort Order</th>
                    <th>Enable Disable</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ins in Model.TCMs)
            {
                    <tr id="@ins.TCMId">
                        <td>
                            @ins.TCMName
                        </td>
                        <td>
                            @ins.SortOrder
                        </td>
                        <td>
                            @Html.CheckBox("EnableDisable", ins.DataEntryFlg, new { @class = "EnableDisable" })
                        </td>
                        <td>
                            <a class="edit" href="">Edit</a>
                        </td>
                        <td>
                            <a class="delete" href="">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @Html.EditorFor(a => a.NewTCM, "", "")
    </div>
    <div id="claimTab">
        <table id="ClaimTypes">
            <thead>
                <tr>
                    <th>Claim Type</th>
                    <th>Sort Order</th>
                    <th>Enable Disable</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var type in Model.ClaimTypes)
            {
                    <tr id="@type.ClaimTypeId">
                        <td>
                            @type.ClaimTypeDesc
                        </td>
                        <td>
                            @type.SortOrder
                        </td>
                        <td>
                            @Html.CheckBox("EnableDisable", type.DataEntryFlg, new { @class = "EnableDisable" })
                        </td>
                        <td>
                            <a class="edit" href="">Edit</a>
                        </td>
                        <td>
                            <a class="delete" href="">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @Html.EditorFor(a => a.NewClaimType, "", "")
    </div>
</div>

<environment names="Development">
    <script src="~/js/WorkersCompAdmin.js" asp-append-version="true"></script>
</environment>
<environment names="Testing,Production,Training">
    <script src="~/js/WorkersCompAdmin.min.js" asp-append-version="true"></script>
</environment>
