@model AtriumWebApp.Web.Utilization.Models.ViewModel.PASRRViewModel
@{
    var PageTitle = "";
    string PASRRCurrentResidentName;
    if (!Context.Session.TryGetObject("PASRRCurrentResidentName",out PASRRCurrentResidentName))
    {
        ViewBag.Title = "PASRR";
        PageTitle = "Pre-Admission Screening Resident Review";
    }
    else
    {
        ViewBag.Title = "PASRR for " + PASRRCurrentResidentName;
        PageTitle = "Pre-Admission Screening Resident Review for " + PASRRCurrentResidentName;
    }
    string PASRRCurrentResidentId;
}

<style type="text/css">
    .date {
        width: 75px;
    }
    #popupModal {
        /*min-height: 275px;*/
        width: 700px;
        display: none;
        /*padding-bottom: 20px;*/
        position: fixed;
        background-color: #EFEEEF;
        z-index: 999;
    }
    #title-div {
        margin-left: 0px;
        text-align: center;
    }
    .content-wrapper {
        max-width: none;
    }
    .note {
        height: 120px;
        padding-bottom: 10px;
    }
    /*.note {
        height: 135px;
        padding-bottom: 10px;
    }*/
    /*#UpdateRange {
        margin-top: 20px;
        text-align: right;
    }*/
    #PatientPASRRTable-div {
        margin-left: -35px;
        width: 1120px;
    }
</style>

<div id="title-div">
    <h2 id="title">@PageTitle</h2>
</div>
<div id="body-IC">
    @Html.Partial("_SideBarSelection")
    <div class="container_16" style="height: 100px;">
        <div class="grid_10 margin_separator" style="margin-left: -35px;">
            @if (!Context.Session.TryGetObject("PASRRCurrentResidentId", out PASRRCurrentResidentId))
            {
                <span class="instruction">Select a resident to continue...</span>
            }
            else
            {
                <table style="float: left;">
                    <tr>
                        <td>@Html.Label("PASRR Type:")</td>
                    </tr>
                    <tr>
                        <td id="measure-list">@Html.DropDownList("PASRRType", new SelectList(Model.PASRRTypes, "PASRRTypeId", "PASRRTypeName"), "Select a Type")</td>
                    </tr>
                    <tr>
                        <td><button type="button" id="btnCreate" name="btnCreate" disabled>Create</button></td>
                    </tr>
                </table>
            }
        </div>
    </div>
    <div class="container_16">
        <div id="PatientPASRRTable-div" class="grid_16">
            <table id="PatientPASRRTable">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Completed</th>
                        <th>Hospital Exempt</th>
                        <th>Expiration</th>
                        <th>Stay > 30 Days</th>
                        <th>Dementia Exempt</th>
                        <th>Level II Needed</th>
                        <th>Level II Requested</th>
                        <th>Level II Completed</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var rec in Model.PatientPASRRLogs)
                        {
                            <tr id="@(rec.PASRRLogId)">
                                <td>@(rec.SigChangeTypeId != -1 ? String.Format("{0} - {1}", rec.PASRRType.PASRRTypeName, rec.SigChangeType.SigChangeTypeName) : rec.PASRRType.PASRRTypeName)</td>
                                <td>@(rec.CompleteDate.ToShortDateString())</td>
                                <td>@(rec.PASRRTypeId == 3 ? "N/A" : rec.HospitalExemption ? "Yes" : "No")</td>
                                <td>@(rec.HospitalExemptionExpirationDate.HasValue ? rec.HospitalExemptionExpirationDate.Value.ToShortDateString() : "N/A")</td>
                                <td>@(!rec.HospitalExemption ? "N/A" : rec.StayGreaterThan30Days ? "Yes" : "No")</td>
                                <td>@(rec.DementiaExemption ? "Yes" : "No")</td>
                                <td>@(rec.LevelIINeeded ? "Yes" : "No")</td>
                                <td>@(!rec.LevelIINeeded ? "N/A" : rec.LevelIIRequestedDate.HasValue ? rec.LevelIIRequestedDate.Value.ToShortDateString() : "")</td>
                                <td>@(!rec.LevelIINeeded ? "N/A" : rec.LevelIICompletedDate.HasValue ? rec.LevelIICompletedDate.Value.ToShortDateString() : "")</td>
                                <td><a class="edit" href="">Edit</a></td>
                                <td><a class="delete" href="">Delete</a></td>
                                <td>@(rec.CompleteDate.ToString("yyyy-MM-dd"))</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@if (Context.Session.TryGetObject("PASRRCurrentResidentId",out PASRRCurrentResidentId))
{
    <div id="popupModal">
        <button class="float-right" id="btnClose">X</button>
        <h2 id="modalTitle" class="margin_separator" style="text-align: center"></h2>
        @using (Html.BeginForm("SavePASRRLog", "PASRR", FormMethod.Post, new { id = "SavePASRRLog" }))
        {
            @Html.Hidden("PatientId", PASRRCurrentResidentId)
            @Html.Hidden("PASRRLogId")
            @Html.Hidden("PASRRTypeId")
            <fieldset class="note">
                <legend>PASRR Log</legend>
                <div class="container_16">
                    <div class="grid_6">
                        <div class="container_16 bottom_pad">
                            <div class="grid_3" style="text-align: right;">@Html.Label("Completed Date:")</div>
                            <div class="grid_3">@Html.TextBox("CompleteDate", "", new { @class = "isDate date dateUS" })</div>
                        </div>
                        <div class="container_16 bottom_pad sigChangeTypeShow" style="display: none">
                            <div class="grid_3" style="text-align: right;">@Html.Label("Sig Change Type:")</div>
                            <div class="grid_3">@Html.DropDownList("SigChangeType", new SelectList(Model.SigChangeTypes, "SigChangeTypeId", "SigChangeTypeName"), "Select a Type")</div>
                        </div>
                        <div class="container_16 bottom_pad">
                            <div class="grid_3" style="text-align: right;">@Html.Label("Level II Needed:")</div>
                            <div class="grid_1">@Html.CheckBox("LevelIINeeded", false, new { @style = "margin-left: -3px;" })</div>
                        </div>
                        <div class="container_16 bottom_pad levelIIFieldShow" style="display: none;">
                            <div class="grid_3" style="text-align: right;">@Html.Label("Requested Date:")</div>
                            <div class="grid_1">@Html.TextBox("LevelIIRequestedDate", "", new { @class = "isDate date" })</div>
                        </div>
                        <div class="container_16 bottom_pad levelIIFieldShow" style="display: none;">
                            <div class="grid_3" style="text-align: right;">@Html.Label("Completed Date:")</div>
                            <div class="grid_1">@Html.TextBox("LevelIICompletedDate", "", new { @class = "isDate date" })</div>
                        </div>
                    </div>
                    <div class="grid_6">
                        <div class="container_16 bottom_pad hospitalExemptShow" style="margin-left: -9px;">
                            <div class="grid_3">@Html.Label("Hospital Exempt:")</div>
                            <div class="grid_1">@Html.CheckBox("HospitalExemption")</div>
                        </div>
                        <div class="container_16 bottom_pad hospitalExemptFieldShow" style="margin-left: -9px; display: none;">
                            <div class="grid_3">@Html.Label("Expiration Date:")</div>
                            <div class="grid_1">@Html.TextBox("HospitalExemptionExpirationDate", "", new { @class = "isDate date", @style = "margin-left: 3px;" })</div>
                        </div>
                        <div class="container_16 bottom_pad hospitalExemptFieldShow" style="margin-left: -9px; display: none;">
                            <div class="grid_3">@Html.Label("Stay > 30 Days:")</div>
                            <div class="grid_1">@Html.CheckBox("StayGreaterThan30Days")</div>
                        </div>
                        <div class="container_16 bottom_pad dementiaExemptShow" style="margin-left: -9px; display: none;">
                            <div class="grid_3">@Html.Label("Dementia Exempt:")</div>
                            <div class="grid_1">@Html.CheckBox("DementiaExemption")</div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <br />
            <div class="container_16 margin_separator">
                <div class="grid_4">&nbsp;</div>
                <div class="grid_2">
                    <button type="button" id="btnSave">Save</button>
                </div>
                <div class="grid_2">
                    <button type="button" id="btnClear">Clear</button>
                </div>
            </div>
        }
    </div>
}
<environment names="Development">
    <script src="~/js/PASRR.js" asp-append-version="true"></script>
</environment>
<environment names="Testing,Production,Training">
    <script src="~/js/PASRR.min.js" asp-append-version="true"></script>
</environment>

<script>
    $(document).ready(function () {
        PreparePage();
    });
</script>
