@using AtriumWebApp.Web.Base.Library
@using AtriumWebApp.Models
@{
    string VACLookbackDate;
    Context.Session.TryGetObject("VACLookbackDate", out VACLookbackDate);
    string VACCurrentFacility;
    Context.Session.TryGetObject("VACCurrentFacility", out VACCurrentFacility);
    string VACCurrentFacilityName;
    Context.Session.TryGetObject("VACCurrentFacilityName", out VACCurrentFacilityName);
    string CensusDateInvalid;
    Context.Session.TryGetObject("CensusDateInvalid", out CensusDateInvalid);
    string CensusDateInFuture;
    Context.Session.TryGetObject("CensusDateInFuture", out CensusDateInFuture);
    IList<Community> VACFacilityList;
    Context.Session.TryGetObject("VACFacilityList", out VACFacilityList);
    IList<Patient> VACResidentList;
    Context.Session.TryGetObject("VACResidentList", out VACResidentList);
    string VACCurrentResidentIdString;
    Context.Session.TryGetObject("VACCurrentResidentIdString", out VACCurrentResidentIdString);
    string VACCurrentResidentName;
    Context.Session.TryGetObject("VACCurrentResidentName", out VACCurrentResidentName);
    string VACCurrentResidentFacility;
    Context.Session.TryGetObject("CensusDateInFuture", out VACCurrentResidentFacility);
    string VACCurrentResidentRoom;
    Context.Session.TryGetObject("VACCurrentResidentRoom", out VACCurrentResidentRoom);
    string VACCurrentResidentBirthdate;
    Context.Session.TryGetObject("VACCurrentResidentBirthdate", out VACCurrentResidentBirthdate);
    string VACCurrentResidentAdmitDate;
    Context.Session.TryGetObject("VACCurrentResidentAdmitDate", out VACCurrentResidentAdmitDate);
    string VACCurrentResidentCensusDate;
    Context.Session.TryGetObject("VACCurrentResidentCensusDate", out VACCurrentResidentCensusDate);
    string VACCurrentResidentAdmissionDiagnosis;
    Context.Session.TryGetObject("VACCurrentResidentAdmissionDiagnosis", out VACCurrentResidentAdmissionDiagnosis);
    string VACCurrentResidentDiagnosis1;
    Context.Session.TryGetObject("VACCurrentResidentDiagnosis1", out VACCurrentResidentDiagnosis1);
    string VACCurrentResidentDiagnosis2;
    Context.Session.TryGetObject("VACCurrentResidentDiagnosis2", out VACCurrentResidentDiagnosis2);
    string VACCurrentResidentDiagnosis3;
    Context.Session.TryGetObject("VACCurrentResidentDiagnosis3", out VACCurrentResidentDiagnosis3);
    string ToDateRangeInvalid;
    Context.Session.TryGetObject("ToDateRangeInvalid", out ToDateRangeInvalid);
    string ToDateRangeInFuture;
    Context.Session.TryGetObject("ToDateRangeInFuture", out ToDateRangeInFuture);
    string FromDateRangeInvalid;
    Context.Session.TryGetObject("FromDateRangeInvalid", out FromDateRangeInvalid);
    string FromDateRangeInFuture;
    Context.Session.TryGetObject("FromDateRangeInFuture", out FromDateRangeInFuture);
    string FromAfterTo;
    Context.Session.TryGetObject("FromAfterTo", out FromAfterTo);
    string VACoccurredRangeFrom;
    Context.Session.TryGetObject("VACoccurredRangeFrom", out VACoccurredRangeFrom);
    string VACoccurredRangeTo;
    Context.Session.TryGetObject("VACoccurredRangeTo", out VACoccurredRangeTo);
}

<section class="left-column-picker" style="height: 500px">

    @using (Html.BeginForm("Lookback", "Vaccination", FormMethod.Post, new { id = "Lookback" }))
    {
        @Html.Label("Last Census Date:")<br />
        @Html.TextBox("LookbackDate", VACLookbackDate, new { @class = "dateUS", size = "10" })
        @Html.Hidden("returnUrl", Context.UrlPath())
        @Html.Hidden("CurrentCommunity", VACCurrentFacility)
        <input type="submit" value="Update" onclick="" /> 
    }
    @Html.Hidden("CensusDateInvalid", CensusDateInvalid)
    @Html.Hidden("CensusDateInFuture", CensusDateInFuture)
    @using (Html.BeginForm("SideDDL", "Vaccination", FormMethod.Post, new { id = "SideDDL" }))
    {
        @Html.Label("Community:")<br />
        @Html.DropDownList("Communities", VACFacilityList as SelectList, new { id = "Communities" })
        <br />
        <br />
        @Html.Label("Resident:")<br />
        @Html.DropDownList("Residents", VACResidentList as SelectList, "Select a Resident", new { id = "Residents", onselectedindexchanged = "this.form.submit();" })
        <br />
        @Html.Hidden("returnUrl", Context.UrlPath())
    }

    @Html.Hidden("CurrentResidentId", VACCurrentResidentIdString)

    @if (!Context.Session.Contains("VACCurrentResidentName"))
    {
        <br />
        <div style="color: red; font-weight: bold;">Please choose a Resident</div>
    }
    <br />@Html.Label("","Current Resident", new { style = "font-weight: bold" })
    <p>
        Name/Community:
        <br />@VACCurrentResidentName
        <br />@VACCurrentFacilityName
    </p>
    <p>Rm#: @VACCurrentResidentRoom</p>
    <p>Birthdate: @VACCurrentResidentBirthdate</p>
    <p>Admit Date: @VACCurrentResidentAdmitDate</p>
    <p>Last Census Date: @VACCurrentResidentCensusDate</p>
    <p>
        Admission Diagnosis:<br />
        @VACCurrentResidentAdmissionDiagnosis
    </p>
    <p>
        Diagnosis:
        <br />
        1. @VACCurrentResidentDiagnosis1
        <br />
        2. @VACCurrentResidentDiagnosis2
        <br />
        3. @VACCurrentResidentDiagnosis3
    </p>
</section>

<script type="text/javascript">
    $(document).ready(function () {
        $("#LookbackDate").datepicker({
            beforeShow: function (textbox, instance) {
                instance.dpDiv.css({
                    marginTop: '10px',
                    marginLeft: '0px'
                });
            }
        });
        $(function () {
            if ($("#CensusDateInvalid").val() == "1") {
                alert("Error: Please enter a valid Last Census Date (mm/dd/yyyy)");
            }
            if ($("#CensusDateInFuture").val() == "1") {
                alert("Error: You can not have a Census date that is in the future");
            }
        });


        var currentCommunity = $("#CurrentCommunity").val();
        $("#Communities").val(currentCommunity);

        //$("#Residents").CascadingDropDown('#Communities', '../Vaccination/Resident',
        //    {
        //        promptText: 'Select a Resident',
        //        postData: function () {
        //            return { facilityID: $("#Communities option:selected").val() };
        //        }
        //    });
        var currentResident = $("#CurrentResidentId").val();
        $("#Residents").val(currentResident);

        $("#Residents").change(function () {
            var resident = $("#Residents option:selected").val();
            if (resident != "") {
                $("#SideDDL").submit();
            }
        });
        $("#Communities").change(function () {
            ShowProgress();
            $.post("./Base/ChangeCommunityForResident", { appCode: "VAC", facilityId: $("#Communities option:selected").val() }).done(function () {
                window.location.reload();
            });
        });
    });
</script>
