@using AtriumWebApp.Web.Base.Library
@using AtriumWebApp.Models
@{
    Context.Session.TryGetObject("CCALookbackDate", out string CCALookbackDate);
    Context.Session.TryGetObject("CCACurrentFacility", out string CCACurrentFacility);
    Context.Session.TryGetObject("CensusDateInvalid", out string CensusDateInvalid);
    Context.Session.TryGetObject("CensusDateInFuture", out string CensusDateInFuture);
    Context.Session.TryGetObject("FacilityList", out IList<Community> FacilityList);
    Context.Session.TryGetObject("ResidentList", out IList<Patient> ResidentList);
    Context.Session.TryGetObject("CCACurrentResidentIdString", out string CCACurrentResidentIdString);
    Context.Session.TryGetObject("CCACurrentResidentName", out string CCACurrentResidentName);
    Context.Session.TryGetObject("CensusDateInFuture", out string CCACurrentResidentFacility);
    Context.Session.TryGetObject("CCACurrentResidentRoom", out string CCACurrentResidentRoom);
    Context.Session.TryGetObject("CCACurrentResidentBirthdate", out string CCACurrentResidentBirthdate);
    Context.Session.TryGetObject("CCACurrentResidentAdmitDate", out string CCACurrentResidentAdmitDate);
    Context.Session.TryGetObject("CCACurrentResidentCensusDate", out string CCACurrentResidentCensusDate);
    Context.Session.TryGetObject("CCACurrentResidentAdmissionDiagnosis", out string CCACurrentResidentAdmissionDiagnosis);
    Context.Session.TryGetObject("CCACurrentResidentDiagnosis1", out string CCACurrentResidentDiagnosis1);
    Context.Session.TryGetObject("CCACurrentResidentDiagnosis2", out string CCACurrentResidentDiagnosis2);
    Context.Session.TryGetObject("CCACurrentResidentDiagnosis3", out string CCACurrentResidentDiagnosis3);
}

<section class="left-column-picker" style="height: 470px">

    @using (Html.BeginForm("Lookback", "CCAAttendance", FormMethod.Post, new { id = "Lookback" }))
    {
        @Html.Label("Last Census Date:")<br />
        @Html.TextBox("LookbackDate", "", new { @class = "dateUS", @Value = CCALookbackDate, size = "10" })
        @Html.Hidden("returnUrl", Context.UrlPath())
        @Html.Hidden("CurrentCommunity", CCACurrentFacility)
        <input type="submit" value="Update" onclick="" />
    }
    @Html.Hidden("CensusDateInvalid", CensusDateInvalid)
    @Html.Hidden("CensusDateInFuture", CensusDateInFuture)
    @using (Html.BeginForm("SideDDL", "CCAAttendance", FormMethod.Post, new { id = "SideDDL" }))
    {
        @Html.Label("Community:")<br />
        @Html.DropDownList("Communities", FacilityList as SelectList, new { id = "Communities" })
        <br />
        <br />
        @Html.Label("Resident:")<br />
        @Html.DropDownList("Residents", ResidentList as SelectList, "Select a Resident", new { id = "Residents", onselectedindexchanged = "this.form.submit();" })
        <br />
        @Html.Hidden("returnUrl", Context.UrlPath())
    }

    @Html.Hidden("CurrentResidentId", CCACurrentResidentIdString)

    @if (!Context.Session.Contains("CCACurrentResidentName"))
    {
        <br />
        <div style="color: red; font-weight: bold;">Please choose a Resident</div>
    }
    <br />@Html.Label("", "Current Resident", new { style = "font-weight: bold" })
    <p>
        Name/Community:
        <br />@CCACurrentResidentName
        <br />@CCACurrentResidentFacility
    </p>
    <p>Rm#: @CCACurrentResidentRoom</p>
    <p>Birthdate: @CCACurrentResidentBirthdate</p>
    <p>Admit Date: @CCACurrentResidentAdmitDate</p>
    <p>Last Census Date: @CCACurrentResidentCensusDate</p>
    <p>
        Admission Diagnosis:<br />
        @CCACurrentResidentAdmissionDiagnosis
    </p>
    <p>
        Diagnosis:
        <br />
        1. @CCACurrentResidentDiagnosis1
        <br />
        2. @CCACurrentResidentDiagnosis2
        <br />
        3. @CCACurrentResidentDiagnosis3
    </p>
</section>

<script type="text/javascript" src="~/Scripts/jquery.cascadingDropDown.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#LookbackDate").datepicker({
            beforeShow: function (textbox, instance) {
                instance.dpDiv.css({
                    marginTop: '10px',
                    marginLeft: '0px'
                });
            }
        });
        $(function () {
            if ($("#CensusDateInvalid").val() == "1") {
                alert("Error: Please enter a valid Last Census Date (mm/dd/yyyy)");
            }
            if ($("#CensusDateInFuture").val() == "1") {
                alert("Error: You can not have a Census date that is in the future");
            }
        });
        var currentCommunity = $("#CurrentCommunity").val();
        $("#Communities").val(currentCommunity);

        var currentResident = $("#CurrentResidentId").val();
        $("#Residents").val(currentResident);

        $("#Residents").change(function () {
            var resident = $("#Residents option:selected").val();
            if (resident != "") {
                $("#SideDDL").submit();
            }
        });
        $("#Communities").change(function () {
            ShowProgress();
            $.post("./Base/ChangeCommunityForResident", { appCode: "CCA", facilityId: $("#Communities option:selected").val() }).done(function () {
                window.location.reload();
            });
        });
    });
</script>
