@using AtriumWebApp.Web.Base.Library
@using AtriumWebApp.Models
@{ 
    string CensusDateInvalid;
    Context.Session.TryGetObject("CensusDateInvalid", out CensusDateInvalid);
    string CensusDateInFuture;
    Context.Session.TryGetObject("CensusDateInFuture", out CensusDateInFuture);
    IList<Community> HODFacilityList;
    Context.Session.TryGetObject("HODFacilityList", out HODFacilityList);
    string HODCurrentFacility;
    Context.Session.TryGetObject("HODCurrentFacility", out HODCurrentFacility);
}
<section class="left-column-picker" style="height: 50px">
    @Html.Hidden("CensusDateInvalid", CensusDateInvalid)
    @Html.Hidden("CensusDateInFuture", CensusDateInFuture)
    @using (Html.BeginForm("SideDDL", "HospitalDischarge", FormMethod.Post, new { id = "SideDDL" }))
    {
        @Html.Label("Community:")<br />
        @Html.DropDownList("Communities", HODFacilityList as SelectList, new { id = "Communities" })
        <br />
        @Html.Hidden("returnUrl", Context.UrlPath())
    }
    @Html.Hidden("CurrentCommunity", HODCurrentFacility)
</section>

@*<script type="text/javascript" src="~/Scripts/jquery.cascadingDropDown.js"></script>*@
<script type="text/javascript">
    $(document).ready(function () {
        $(function () {
            if ($("#CensusDateInvalid").val() == "1") {
                alert("Error: Please enter a valid Last Census Date (mm/dd/yyyy)");
            }
            if ($("#CensusDateInFuture").val() == "1") {
                alert("Error: You can not have a Census date that is in the future");
            }
        });

        var currentCommunity = $("#CurrentCommunity").val();
        $("#Communities").val(currentCommunity);

        $("#Communities").change(function () {
            var facility = $("#Communities option:selected").val();
            $("#CurrentCommunity").val(facility);
            if (facility != "") {
                $("#SideDDL").submit();
            }
        });
    });
</script>
