@using AtriumWebApp.Web.Base.Library
@using AtriumWebApp.Models
@{
    Context.Session.TryGetObject("RMUFacilityList", out IList<Community> RMUFacilityList);
    Context.Session.TryGetObject("RMUEmployeeList", out IList<Employee> RMUEmployeeList);
    Context.Session.TryGetObject("CurrentFacility", out string CurrentFacility);
    Context.Session.TryGetObject("RMUCurrentEmployeeIdString", out string RMUCurrentEmployeeIdString);
    Context.Session.TryGetObject("RMUCurrentEmployeeName", out string RMUCurrentEmployeeName);
    Context.Session.TryGetObject("RMUCurrentEmployeeFacility", out string RMUCurrentEmployeeFacility);
    Context.Session.TryGetObject("RMUCurrentEmployeeDateHire", out string RMUCurrentEmployeeDateHire);
    Context.Session.TryGetObject("RMUCurrentEmployeePayCycle", out string RMUCurrentEmployeePayCycle);
    Context.Session.TryGetObject("RMUCurrentEmployeeFTPT", out string RMUCurrentEmployeeFTPT);
}

<section class="left-column-picker" style="height: 800px">
        @using (Html.BeginForm("SideDDL", "RMUnemployment", FormMethod.Post, new { id = "SideDDL" }))
        {
                @Html.Label("Community:")<br />
                @Html.DropDownList("Communities", RMUFacilityList as SelectList, new { id = "Communities" })
                <br />
                <br />
                @Html.Label("Employee:")<br />
                @Html.DropDownList("Employees",RMUEmployeeList as SelectList, "Select an Employee", new { id = "Employees", onselectedindexchanged = "this.form.submit();" })
                <br />
                @Html.Hidden("returnUrl", Context.UrlPath())
                @Html.Hidden("CurrentCommunity", CurrentFacility)
        }
             
            @Html.Hidden("CurrentEmployeeId", RMUCurrentEmployeeIdString)  
    
                @if (!Context.Session.Contains("RMUCurrentEmployeeName"))
                {
                   <br /><div style="color:red; font-weight:bold;">Please choose an Employee</div>
                }
                <br />@Html.Label("","Current Employee", new { style = "font-weight: bold" })
    <p>Name/Community: <br />@RMUCurrentEmployeeName <br />@RMUCurrentEmployeeFacility</p>
    <p>Date of Hire: @RMUCurrentEmployeeDateHire</p>
    <p>Pay Cycle: @RMUCurrentEmployeePayCycle</p>
    <p>@RMUCurrentEmployeeFTPT</p>
            </section> 
@section scripts
{
@*<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>*@
<script type="text/javascript" src="~/Scripts/jquery.cascadingDropDown.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            alert('here');
            //var currentCommunity = $("#CurrentCommunity").val();
            //$("#Communities").val(currentCommunity);

            //$("#Employees").CascadingDropDown('#Communities', '../RMUnemployment/Employee',
            //    {
            //        promptText: 'Select an Employee',
            //        postData: function () {
            //            return { facilityID: $("#Communities option:selected").val() };
            //        }
            //    });
            //var currentResident = $("#CurrentEmployeeId").val();
            //$("#Employees").val(currentResident);

            //$("#Employees").change(function () {
            //    var resident = $("#Employees option:selected").val();
            //    if (resident != "") {
            //        $("#SideDDL").submit();
            //    }
            //});
            //$("#Communities").change(function () {
            //    var facility = $("#Communities option:selected").val();
            //    $("#CurrentCommunity").val(facility);
            //});
        });
    </script>
}