@model AtriumWebApp.Web.HR.Models.STNATrainingClass

@Html.HiddenFor(model => model.STNATrainingClassesId)
<div class="editor-field">
    @Html.HiddenFor(model => model.STNATrainingFacilityId)
    @Html.DropDownList("STNATrainingFacilityList", ViewData["STNATrainingFacilityList"] as SelectList, new { @disabled = true })
</div>

<div class="editor-field">
    @Html.LabelFor(model => model.StartDate) <br />
    @Html.EditorFor(model => model.StartDate, new { @class = "isDate" })
    @Html.ValidationMessageFor(model => model.StartDate)
</div>

<div class="editor-field">
    @Html.LabelFor(model => model.EndDate) <br />
    @Html.EditorFor(model => model.EndDate, new { @class = "isDate" })
    @Html.ValidationMessageFor(model => model.EndDate)
</div>

<div class="editor-field">
    @Html.LabelFor(model => model.ClassType) <br />
    @Html.DropDownListFor(model => model.ClassType, new List<SelectListItem> 
        { 
            new SelectListItem { Text = "Daytime", Value = "Daytime"},
            new SelectListItem { Text = "Evening", Value = "Evening" },
            new SelectListItem { Text = "Weekend", Value = "Weekend" }
        })
    @Html.ValidationMessageFor(model => model.ClassType)
</div>

<div class="editor-field">
    @Html.LabelFor(model => model.StudentsInClassCnt) <br />
    @Html.TextBoxFor(model => model.StudentsInClassCnt)
    @Html.ValidationMessageFor(model => model.StudentsInClassCnt)
</div>

<div class="editor-field">
    @Html.LabelFor(model => model.StudentsHiredCnt) <br />
    @Html.TextBoxFor(model => model.StudentsHiredCnt)
    @Html.ValidationMessageFor(model => model.StudentsHiredCnt)
</div>

<div class="editor-field">
    @Html.LabelFor(model => model.TrainerName) <br />
    @Html.EditorFor(model => model.TrainerName)
    @Html.ValidationMessageFor(model => model.TrainerName)
</div>

