@using AtriumWebApp.Models;
<section class="left-column-picker" style="height: 500px">
    @{
        string PELILookbackDate;
        Context.Session.TryGetObject("PELILookbackDate", out PELILookbackDate);
        string PELICurrentFacility;
        Context.Session.TryGetObject("PELICurrentFacility", out PELICurrentFacility);
        string PELICurrentFacilityStateCode;
        Context.Session.TryGetObject("PELICurrentFacilityStateCode", out PELICurrentFacilityStateCode);
        string CensusDateInvalid;
        Context.Session.TryGetObject("CensusDateInvalid", out CensusDateInvalid);
        string CensusDateInFuture;
        Context.Session.TryGetObject("CensusDateInFuture", out CensusDateInFuture);
        IList<Community> PELIFacilityList;
        Context.Session.TryGetObject("PELIFacilityList", out PELIFacilityList);
        IList<Patient> PELIResidentList;
        Context.Session.TryGetObject("PELIResidentList", out PELIResidentList);
        string PELICurrentResidentIdString;
        Context.Session.TryGetObject("PELICurrentResidentIdString", out PELICurrentResidentIdString);
        string PELICurrentResidentName;
        Context.Session.TryGetObject("PELICurrentResidentName", out PELICurrentResidentName);
        string PELICurrentResidentFacility;
        Context.Session.TryGetObject("PELICurrentResidentFacility", out PELICurrentResidentFacility);
        string PELICurrentResidentRoom;
        Context.Session.TryGetObject("PELICurrentResidentRoom", out PELICurrentResidentRoom);
        string PELICurrentResidentBirthdate;
        Context.Session.TryGetObject("PELICurrentResidentBirthdate", out PELICurrentResidentBirthdate);
        string PELICurrentResidentAdmitDate;
        Context.Session.TryGetObject("PELICurrentResidentAdmitDate", out PELICurrentResidentAdmitDate);
        string PELICurrentResidentCensusDate;
        Context.Session.TryGetObject("PELICurrentResidentCensusDate", out PELICurrentResidentCensusDate);
    }

    @using (Html.BeginForm("Lookback", "PELI", FormMethod.Post, new { id = "Lookback" }))
    {
        @Html.Label("Last Census Date:")<br />
        @Html.TextBox("LookbackDate", PELILookbackDate, new { @class = "dateUS", size = "10" })
        @Html.Hidden("returnUrl", Context.UrlPath());
        @Html.Hidden("CurrentCommunity", PELICurrentFacility)
        @Html.Hidden("CurrentCommunityStateCode", PELICurrentFacilityStateCode)
        <input type="submit" value="Update" onclick="" /> 
    }
    @Html.Hidden("CensusDateInvalid", CensusDateInvalid)
    @Html.Hidden("CensusDateInFuture", CensusDateInFuture)
    @using (Html.BeginForm("SideDDL", "PELI", FormMethod.Post, new { id = "SideDDL" }))
    {
        @Html.Label("Community:")<br />
        @Html.DropDownList("Communities", PELIFacilityList as SelectList, new { id = "Communities" })
        <br />
        <br />
        @Html.Label("Resident:")<br />
        @Html.DropDownList("Residents", PELIResidentList as SelectList, "Select a Resident", new { id = "Residents", onselectedindexchanged = "this.form.submit();" })
        <br />
        @Html.Hidden("returnUrl", Context.UrlPath());
    }

    @Html.Hidden("CurrentResidentId", PELICurrentResidentIdString)
    @Html.Hidden("PELICurrentResidentName", PELICurrentResidentName)

    @if (PELICurrentResidentName == null)
    {
        <br />
        <div style="color: red; font-weight: bold;">Please choose a Resident</div>
    }
    <br />@Html.Label("","Current Resident", new { style = "font-weight: bold" })
    <p>
        Name/Community:
        <br />@PELICurrentResidentName
        <br />@PELICurrentResidentFacility
    </p>
    <p>Rm#: @PELICurrentResidentRoom</p>
    <p>Birthdate: @PELICurrentResidentBirthdate</p>
    <p>Admit Date: @PELICurrentResidentAdmitDate</p>
    <p>Last Census Date: @PELICurrentResidentCensusDate</p>
    @*<p>
        Admission Diagnosis:<br />
        @PELICurrentResidentAdmissionDiagnosis
    </p>
    <p>
        Diagnosis:
        <br />
        1. @PELICurrentResidentDiagnosis1
        <br />
        2. @PELICurrentResidentDiagnosis2
        <br />
        3. @PELICurrentResidentDiagnosis3
    </p>*@
</section>

<script type="text/javascript">
    $(document).ready(function () {
        $("#LookbackDate").datepicker({
            beforeShow: function (textbox, instance) {
                instance.dpDiv.css({
                    marginTop: '10px',
                    marginLeft: '0px'
                });
            }
        });

        $(function () {
            if ($("#CensusDateInvalid").val() == "1") {
                alert("Error: Please enter a valid Last Census Date (mm/dd/yyyy)");
            }
            if ($("#CensusDateInFuture").val() == "1") {
                alert("Error: You can not have a Census date that is in the future");
            }
        });

        var currentCommunity = $("#CurrentCommunity").val();
        $("#Communities").val(currentCommunity);

        var currentResident = $("#CurrentResidentId").val();
        $("#Residents").val(currentResident);

        $("#Residents").change(function () {
            var resident = $("#Residents option:selected").val();
            if (resident != "") {
                $("#SideDDL").submit();
            }
        });

        $("#Communities").change(function () {
            ShowProgress();
            $.post(path + "/Base/ChangeCommunityForResident", { appCode: "PELI", facilityId: $("#Communities option:selected").val() }).done(function () {
                window.location.reload();
            });
        });
    });
</script>