@model AtriumWebApp.Web.Financial.Models.ViewModel.WriteOffViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>WriteOff</legend>
        @Html.Partial("WriteOffViewModel")
        @*@Html.HiddenFor(model => model.WriteOffId)

        <div class="editor-label">
            @Html.LabelFor(model => model.CommunityId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CommunityId)
            @Html.ValidationMessageFor(model => model.CommunityId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PatientId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PatientId)
            @Html.ValidationMessageFor(model => model.PatientId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PayerId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PayerId)
            @Html.ValidationMessageFor(model => model.PayerId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WriteOffAmt)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WriteOffAmt)
            @Html.ValidationMessageFor(model => model.WriteOffAmt)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DOSYear)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DOSYear)
            @Html.ValidationMessageFor(model => model.DOSYear)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DOSMonth)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DOSMonth)
            @Html.ValidationMessageFor(model => model.DOSMonth)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OurFaultFlg)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OurFaultFlg)
            @Html.ValidationMessageFor(model => model.OurFaultFlg)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Notes)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Notes)
            @Html.ValidationMessageFor(model => model.Notes)
        </div>*@

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
