@model AtriumWebApp.Web.Financial.Models.ViewModel.PurchaseOrderAdminViewModel
@{
    ViewBag.Title = "Purchase Order Admin Page";
}
<style type="text/css">
    .dataTables_scrollBody {
        overflow: auto;
        height: auto !important;
        max-height: 300px;
        width: 100%;
    }

    .content-wrapper {
        max-width: 1366px;
    }

    .dataTables_wrapper {
        border: solid thin black;
    }

    #admin-body {
        width: 100%;
    }
    .vendorModal {
        width: 700px;
        display: none;
        position: fixed;
        background-color: #EFEEEF;
        z-index: 999;
    }

    .note {
        padding-top: 6px;
        margin-bottom: 6px;
        border-top: 1px solid #949494;
        border-bottom: 1px solid #949494;
    }
</style>
<h2 style="padding-bottom: 30px;">@ViewBag.Title</h2>

<div id="tabs" style="min-height:500px;">
    <ul>
        <li>
            <a href="#communitiesTab">Communities</a>
        </li>
        <li>
            <a href="#orderTypeTab">Purchase Order Types</a>
        </li>
        <li>
            <a href="#vendorClassTab">Vendor Classes</a>
        </li>
        <li>
            <a href="#assetClassTab">Asset Classes</a>
        </li>
        <li>
            <a href="#approverTab">Approvers</a>
        </li>
        <li>
            <a href="#vendorsTab">Vendors</a>
        </li>
    </ul>
    <div id="admin-body">
        <div id="communitiesTab">
            <table id="CommunityTable" class="float-right">
                <thead>
                    <tr>
                        <th>Facility</th>
                        <th>State</th>
                        <th>Region</th>
                        <th>Use in Display</th>
                        <th>Report Flag</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var com in Model.AdminViewModel.Communities.OrderByDescending(c => c.IsCommunityFlg).ThenBy(c => c.CommunityShortName))
            {
                        <tr>
                            <td>@com.CommunityShortName</td>
                            <td>@com.StateCd</td>
                            <td>@Model.AdminViewModel.Regions.Single(r => r.RegionId == com.RegionId).RegionName</td>
                            <td>@Html.CheckBoxFor(x => x.AdminViewModel.ApplicationCommunityInfos.Single(aci => aci.CommunityId == com.CommunityId).DataEntryFlg, new { id = com.CommunityId, @class = "checkboxDisplay" })</td>
                            <td>@Html.CheckBoxFor(x => x.AdminViewModel.ApplicationCommunityInfos.Single(aci => aci.CommunityId == com.CommunityId).ReportFlg, new { id = com.CommunityId, @class = "checkboxReport" })</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div id="orderTypeTab">
            <table id="Types">
                <thead>
                    <tr>
                        <th>Purchase Ordery Type Name</th>
                        <th>Sort Order</th>
                        <th>Enable Disable</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.PurcahseOrderTypes)
            {
                        <tr id="@item.Id">
                            <td>@item.Name</td>
                            <td>@item.SortOrder</td>
                            <td>@item.AllowDataEntry</td>
                            <td><a class="edit" href="">Edit</a></td>
                            <td><a class="delete" href="">Delete</a></td>
                        </tr>
                    }
                </tbody>
            </table>
            @Html.EditorFor(a => a.NewType)
        </div>
        <div id="vendorClassTab">
            <table id="VendorClasses">
                <thead>
                    <tr>
                        <th>Vendor Class Name</th>
                        <th>Sort Order</th>
                        <th>Enable Disable</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.VendorClasses)
            {
                        <tr id="@item.Id">
                            <td>@item.Name</td>
                            <td>@item.SortOrder</td>
                            <td>@item.AllowDataEntry</td>
                            <td><a class="edit" href="">Edit</a></td>
                            <td><a class="delete" href="">Delete</a></td>
                        </tr>
                    }
                </tbody>
            </table>
            @Html.EditorFor(a => a.NewVendorClass)
        </div>
        <div id="assetClassTab">
            <table id="AssetClasses">
                <thead>
                    <tr>
                        <th>Asset Class Name</th>
                        <th>Sort Order</th>
                        <th>Enable Disable</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.AssetClasses)
            {
                        <tr id="@item.Id">
                            <td>@item.Name</td>
                            <td>@item.SortOrder</td>
                            <td>@item.AllowDataEntry</td>
                            <td><a class="edit" href="">Edit</a></td>
                            <td><a class="delete" href="">Delete</a></td>
                        </tr>
                    }
                </tbody>
            </table>
            @Html.EditorFor(a => a.NewAssetClass)
        </div>
        <div id="approverTab">
            <table id="Approvers">
                <thead>
                    <tr>
                        <th>Approver Name</th>
                        <th>Approval Level</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Approvers)
            {
                        <tr id="@item.Id">
                            <td>@item.Name</td>
                            <td>@item.ApprovalLevel</td>
                            <td><a class="edit" href="">Edit</a></td>
                            <td><a class="delete" href="">Delete</a></td>
                        </tr>
                    }
                </tbody>
            </table>
            @Html.EditorFor(a => a.NewApprover)
        </div>
        <div id="vendorsTab">
            <a id="btnCreate" class="create" href="">Add New Vendor</a>
            <table id="VendorTable">
                <thead>
                    <tr>
                        <th>Vendor</th>
                        <th>Class</th>
                        <th>Corp Id</th>
                        <th>Address</th>
                        <th>Phone</th>
                        <th>Fax</th>
                        <th>Email</th>
                        <th>Data Entry</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody style="vertical-align: top;">
                    @foreach (var vendor in Model.Vendors)
            {
                        <tr id="@vendor.Id">
                            <td>@vendor.VendorName</td>
                            <td>@vendor.VendorClass.Name</td>
                            <td>@vendor.CorpVendorId</td>
                            <td>@Html.Raw(vendor.FullAddressRaw)</td>
                            <td>@vendor.Phone</td>
                            <td>@vendor.Fax</td>
                            <td>@vendor.Email</td>
                            <td>@Html.CheckBox("EnableDisable", vendor.AllowDataEntry, new { @class = "EnableDisable" })</td>
                            <td><a class="edit" href="">Edit</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="vendor" class="vendorModal">
    <button class="float-right" id="btnClose">X</button>
    <h2 class="margin_separator" style="text-align: center">Vendor</h2>
    @using (Html.BeginForm("SaveVendor", "PurchaseOrderAdmin", FormMethod.Post, new { id = "SaveVendor" }))
    {
        @Html.Hidden("Id")
        @Html.Hidden("AllowDataEntry", true)
        <div class="note">
            <div class="container_16">
                <div class="grid_5">
                    <div class="container_16 bottom_pad">
                        <div class="grid_2" style="text-align: right;">@Html.Label("Vendor:")</div>
                        <div class="grid_3">@Html.TextBox("VendorName", "", new { maxlength = "64" })</div>
                    </div>
                    <div class="container_16 bottom_pad">
                        <div class="grid_2" style="text-align: right;">@Html.Label("Vendor Class:")</div>
                        <div class="grid_3">@Html.DropDownList("VendorClassId", new SelectList(Model.VendorClasses, "Id", "Name"), "Select...")</div>
                    </div>
                    <div class="container_16 bottom_pad">
                        <div class="grid_2" style="text-align: right;">@Html.Label("Corp Vendor Id:")</div>
                        <div class="grid_3">@Html.TextBox("CorpVendorId", "", new { maxlength = "20" })</div>
                    </div>
                    <div class="container_16 bottom_pad">
                        <div class="grid_2" style="text-align: right;">@Html.Label("Phone:")</div>
                        <div class="grid_3">@Html.TextBox("Phone", "", new { maxlength = "16" })</div>
                    </div>
                    <div class="container_16 bottom_pad">
                        <div class="grid_2" style="text-align: right;">@Html.Label("Fax:")</div>
                        <div class="grid_3">@Html.TextBox("Fax", "", new { maxlength = "16" })</div>
                    </div>
                    <div class="container_16 bottom_pad">
                        <div class="grid_2" style="text-align: right;">@Html.Label("Email:")</div>
                        <div class="grid_3">@Html.TextBox("Email", "", new { maxlength = "128" })</div>
                    </div>
                </div>
                <div class="grid_5">
                    <div class="container_16 bottom_pad">
                        <div class="grid_2">@Html.Label("Address 1:")</div>
                        <div class="grid_3">@Html.TextBox("Address1", "", new { maxlength = "64" })</div>
                    </div>
                    <div class="container_16 bottom_pad">
                        <div class="grid_2">@Html.Label("Address 2:")</div>
                        <div class="grid_3">@Html.TextBox("Address2", "", new { maxlength = "64" })</div>
                    </div>
                    <div class="container_16 bottom_pad">
                        <div class="grid_2">@Html.Label("City:")</div>
                        <div class="grid_3">@Html.TextBox("City", "", new { maxlength = "50" })</div>
                    </div>
                    <div class="container_16 bottom_pad">
                        <div class="grid_2">@Html.Label("State:")</div>
                        <div class="grid_3">@Html.DropDownList("StateCd", new SelectList(Model.StateCodes), "Select...")</div>
                    </div>
                    <div class="container_16 bottom_pad">
                        <div class="grid_2">@Html.Label("Zip Code:")</div>
                        <div class="grid_3">@Html.TextBox("ZipCode", "", new { maxlength = "20" })</div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="container_16 bottom_pad">
            <div class="grid_4">&nbsp;</div>
            <div class="grid_2">
                <button type="button" id="btnSave">Save</button>
            </div>
            <div class="grid_2">
                <button type="button" id="btnClear">Clear</button>
            </div>
        </div>
    }
</div>

<environment names="Development">
    <script src="~/js/PurchaseOrderAdmin.js" asp-append-version="true"></script>
</environment>
<environment names="Testing,Production,Training">
    <script src="~/js/PurchaseOrderAdmin.min.js" asp-append-version="true"></script>
</environment>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
