@model EquipmentManagementAdminViewModel

@{
    ViewBag.Title = "Equipment Management Admin";
}
<h2 id="title" style="margin-left: 200px">Equipment Management Admin</h2>
<div class="container-fluid">
    <form id="SaveLookback" asp-action="SaveLookback" asp-controller="EquipmentManagementAdmin" method="post">
        <div class="row">
            <div class="col-sm-12 text-left">
                <h3>Lookback Days</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                Adjust Lookback Days:
            </div>
            <div class="col-sm-1">
                <input type="text" asp-for="LookbackDays" />
                <br />
                <span asp-validation-for="LookbackDays" class="text-danger"></span>
            </div>
            <div class="col-sm-3">
                <input id="submit" name="submit" type="submit" value="Update" />
            </div>
        </div>
    </form>
</div>

<div id="tabs" style="min-height:500px;">
    <ul>
        <li>
            <a href="#communities">Communities</a>
        </li>
    </ul>

    <div id="admin-body">
        <div id="communities">

            <div id="CommunityTableWrapper">
                <table id="CommunityTable">
                    <thead>
                        <tr>
                            <th>Facility</th>
                            <th>State</th>
                            <th>Region</th>
                            <th>Use in Display</th>
                            <th>Report Flag</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var com in Model.AdminViewModel.Communities.OrderByDescending(c => c.IsCommunityFlg).ThenBy(c => c.CommunityShortName))
                        {
                            <tr id="@com.CommunityId">
                                <td>@com.CommunityShortName</td>
                                <td>@com.StateCd</td>
                                <td>@Model.AdminViewModel.Regions.Single(r => r.RegionId == com.RegionId).RegionName</td>
                                <td>@Html.CheckBoxFor(x => x.AdminViewModel.ApplicationCommunityInfos.Single(aci => aci.CommunityId == com.CommunityId).DataEntryFlg, new { id = com.CommunityId, @class = "checkbox" })</td>
                                <td>@Html.CheckBoxFor(x => x.AdminViewModel.ApplicationCommunityInfos.Single(aci => aci.CommunityId == com.CommunityId).ReportFlg, new { id = com.CommunityId, @class = "checkboxReport" })</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

<environment names="Development">
    <script src="~/js/EquipmentManagementAdmin.js" asp-append-version="true"></script>
</environment>
<environment names="Testing,Production,Training">
    <script src="~/js/EquipmentManagementAdmin.min.js" asp-append-version="true"></script>
</environment>


