@model StandardsOfCareAdminViewModel
@{
    ViewBag.Title = "Standards of Care Admin";
}

<h2 id="title" style="margin-left: 200px">Standards of Care Admin Page</h2>
@using (Html.BeginForm("SaveLookback", "StandardsOfCareAdmin", FormMethod.Post, new { id = "SaveLookback" }))
{
    <table>
        <thead>
            <tr style="font-weight: bold">
                <th>Lookback Days</th>
            </tr>
        </thead>
        <tr>
            <td>@Html.Label("Adjust Lookback Days:")</td>
            @{
                string lookbackDays;
                Context.Session.TryGetObject("SOCLookbackDays", out lookbackDays);
            }
            <td>@Html.TextBox("LookbackDays", lookbackDays)</td>
            <td>
                <input id="submit" name="submit" type="submit" value="Update" />
            </td>
        </tr>
    </table>
                }
<div id="tabs" style="min-height:500px">
    <ul>
        <li>
            <a href="#communityTab">Communities</a>
        </li>
        <li>
            <a href="#antipsychoticTab">Antipsychotics Diagnosis</a>
        </li>
        <li>
            <a href="#antipsychoticMedTab">Antipsychotic Meds</a>
        </li>
        <li>
            <a href="#catheterTab">Catheters</a>
        </li>
        <li>
            <a href="#fallsTab">Fall</a>
        </li>
        <li>
            <a href="#restraintTab">Restraints</a>
        </li>
        <li>
            <a href="#pressureWoundTab">Pressure Wounds</a>
        </li>
        <li>
            <a href="#compositeWoundTab">Composite Wounds</a>
        </li>
    </ul>
    <div id="admin-body">
        @*Removed per Rick 6/16/2017*@
        <div id="measuresTab" style="display:none;">
            <table id="Measures" style="width: 400px;">
                <thead>
                    <tr style="font-weight: bold">
                        <th>Measure</th>
                        <th>Sort Order</th>
                        <th>Enable Disable</th>
                        <th>Report Flag</th>@*<th>Occurrance Flag</th><th>Patient Flag</th>*@
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var measure in Model.Measures)
            {
                    <tr id="@measure.SOCMeasureId">
                        <td>@measure.SOCMeasureName</td>
                        <td>@measure.SortOrder</td>
                        <td>@Html.CheckBox("EnableDisable", measure.DataEntryFlg, new { @class = "EnableDisable" })</td>
                        <td>@Html.CheckBox("ReportFlg", measure.ReportFlg, new { @class = "ReportFlg" })</td>
                        @*<td>@Html.CheckBox("OccurranceCalcFlg", measure.OccuranceCalcFlg, new { @class = "Occurrance"})</td>
                            <td>@Html.CheckBox("PatientCalcFlg", measure.PatientCalcFlg, new { @class = "Patient"} )</td>*@
                        <td><a class="edit" href="">Edit</a></td>
                        <td><a class="delete" href="">Delete</a></td>
                    </tr>
                    }
                </tbody>
            </table>
            @Html.EditorFor(a => a.NewMeasure)
        </div>

        <div id="communityTab">
            <table id="CommunityTable">
                <thead>
                    <tr>
                        <th>
                            Facility
                        </th>
                        <th>
                            State
                        </th>
                        <th>
                            Region
                        </th>
                        <th>
                            Use in Display
                        </th>
                        <th>
                            Report Flag
                        </th>
                        @foreach (var payer in Model.PayerGroups)
                        {
                        <th>@payer.AtriumPayerGroupCode</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var com in Model.AdminViewModel.Communities.OrderByDescending(c => c.IsCommunityFlg).ThenBy(c => c.CommunityShortName))
            {
                    <tr id="@com.CommunityId">
                        <td>@com.CommunityShortName</td>
                        <td>@com.StateCd</td>
                        <td>@Model.AdminViewModel.Regions.Single(r => r.RegionId == com.RegionId).RegionName</td>
                        <td>@Html.CheckBoxFor(x => x.AdminViewModel.ApplicationCommunityInfos.Single(aci => aci.CommunityId == com.CommunityId).DataEntryFlg, new { id = com.CommunityId, @class = "checkbox" })</td>
                        <td>@Html.CheckBoxFor(x => x.AdminViewModel.ApplicationCommunityInfos.Single(aci => aci.CommunityId == com.CommunityId).ReportFlg, new { id = com.CommunityId, @class = "checkboxReport" })</td>
                        @foreach (var payer in Model.PayerGroups)
                        {
                            if (Model.CommunityPayerGroupInfo.Any(a => a.AtriumPayerGroupCode == payer.AtriumPayerGroupCode && a.CommunityId == com.CommunityId))
                            {
                            <td>@Html.CheckBox(payer.AtriumPayerGroupCode, Model.CommunityPayerGroupInfo.Single(c => c.AtriumPayerGroupCode == payer.AtriumPayerGroupCode && c.CommunityId == com.CommunityId).IncludeFlg, new { id = payer.AtriumPayerGroupCode, @class = "checkboxPayer" })</td>
                            }
                            else
                            {
                                <td></td>

                            }
                        }
                    </tr>
                    }
                </tbody>
            </table>
        </div>

        <div id="antipsychoticTab">
            <table id="anti">
                <thead>
                    <tr>
                        <th>Diagnosis</th>
                        <th>Sort Order</th>
                        <th>Enable Disable</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var anti in Model.SOCAintiPsychoticDiagnosis)
                    {
                    <tr id="@anti.AntiPsychoticDiagnosisId">
                        <td>@anti.AntiPsychoticDiagnosisDesc</td>
                        <td>@anti.SortOrder</td>
                        <td>@Html.CheckBox("EnableDisable", anti.DataEntryFlg, new { @class = "EnableDisable" })</td>
                        <td><a class="edit" href="">Edit</a></td>
                        <td><a class="delete" href="">Delete</a></td>
                    </tr>
                    }
                </tbody>
            </table>
            @Html.EditorFor(a => a.NewAntipsychotic)
        </div>

        <div id="antipsychoticMedTab">
            <table id="antiMed">
                <thead>
                    <tr>
                        <th>Medication</th>
                        <th>Sort Order</th>
                        <th>Enable Disable</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var anti in Model.Medications)
                    {
                        <tr id="@anti.AntiPsychoticMedicationId">
                            <td>@anti.AntiPsychoticMedicationName</td>
                            <td>@anti.SortOrder</td>
                            <td>@Html.CheckBox("EnableDisable", anti.DataEntryFlg, new { @class = "EnableDisable" })</td>
                            <td><a class="edit" href="">Edit</a></td>
                            <td><a class="delete" href="">Delete</a></td>
                        </tr>
                    }
                </tbody>
            </table>
            @Html.EditorFor(a => a.NewAntipsychoticMed,"","")
        </div>

        <div id="catheterTab">
            <table id="catheter">
                <thead>
                    <tr>
                        <th>Catheter</th>
                        <th>Sort Order</th>
                        <th>Enable Disable</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var cath in Model.CatheterTypes)
            {
                    <tr id="@cath.SOCCatheterTypeId">
                        <td>@cath.SOCCatheterTypeName</td>
                        <td>@cath.SortOrder</td>
                        <td>@Html.CheckBox("EnableDisable", cath.DataEntryFlg, new { @class = "EnableDisable" })</td>
                        <td><a class="edit" href="">Edit</a></td>
                        <td><a class="delete" href="">Delete</a></td>
                    </tr>
                    }
                </tbody>
            </table>
            @Html.EditorFor(a => a.NewCatheter)
        </div>

        <div id="fallsTab">
            <ul>
                <li>
                    <a href="#fallLocationTab">Fall Locations</a>
                </li>
                <li>
                    <a href="#fallInjuryTab">Fall Injuries</a>
                </li>
                <li>
                    <a href="#fallTreatmentTab">Fall Treatments</a>
                </li>
                <li>
                    <a href="#fallInterventionTab">Fall Interventions</a>
                </li>
                <li>
                    <a href="#fallTypeTab">Fall Types</a>
                </li>
            </ul>
            <div id="fallLocationTab">
                <table id="location">
                    <thead>
                        <tr>
                            <th>Location</th>
                            <th>Sort Order</th>
                            <th>Enable Disable</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var location in Model.SOCFallLocation)
            {
                            <tr id="@location.SOCFallLocationId">
                                <td>@location.SOCFallLocationName</td>
                                <td>@location.SortOrder</td>
                                <td>@Html.CheckBox("EnableDisable", location.DataEntryFlg, new { @class = "EnableDisable" })</td>
                                <td><a class="edit" href="">Edit</a></td>
                                <td><a class="delete" href="">Delete</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
                @Html.EditorFor(a => a.NewFallLocation)
            </div>

            <div id="fallInjuryTab">
                <table id="injury">
                    <thead>
                        <tr>
                            <th>Injury</th>
                            <th>Sort Order</th>
                            <th>Enable Disable</th>
                            <th>Threshold</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var injury in Model.SOCFallInjuryType)
            {
                            <tr id="@injury.SOCFallInjuryTypeId">
                                <td>@injury.SOCFallInjuryTypeName</td>
                                <td>@injury.SortOrder</td>
                                <td>@Html.CheckBox("EnableDisable", injury.DataEntryFlg, new { @class = "EnableDisable" })</td>
                                <td>@Html.CheckBox("Threshold", injury.IncludeInThresholdFlg, new { @class = "Threshold" })</td>
                                <td><a class="edit" href="">Edit</a></td>
                                <td><a class="delete" href="">Delete</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
                @Html.EditorFor(a => a.NewFallInjury)
            </div>

            <div id="fallTreatmentTab">
                <table id="treatment">
                    <thead>
                        <tr>
                            <th>Treatment</th>
                            <th>Sort Order</th>
                            <th>Enable Disable</th>
                            <th>Threshold</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var treatment in Model.SOCFallTreatment)
            {
                            <tr id="@treatment.SOCFallTreatmentId">
                                <td>@treatment.SOCFallTreatmentName</td>
                                <td>@treatment.SortOrder</td>
                                <td>@Html.CheckBox("EnableDisable", treatment.DataEntryFlg, new { @class = "EnableDisable" })</td>
                                <td>@Html.CheckBox("Threshold", treatment.IncludeInThresholdFlg, new { @class = "Threshold" })</td>
                                <td><a class="edit" href="">Edit</a></td>
                                <td><a class="delete" href="">Delete</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
                @Html.EditorFor(a => a.NewFallTreatment)
            </div>

            <div id="fallInterventionTab">
                <table id="intervention">
                    <thead>
                        <tr>
                            <th>Intervention</th>
                            <th>Sort Order</th>
                            <th>Enable Disable</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var intervention in Model.SOCFallIntervention)
            {
                            <tr id="@intervention.SOCFallInterventionId">
                                <td>@intervention.SOCFallInterventionName</td>
                                <td>@intervention.SortOrder</td>
                                <td>@Html.CheckBox("EnableDisable", intervention.DataEntryFlg, new { @class = "EnableDisable" })</td>
                                <td><a class="edit" href="">Edit</a></td>
                                <td><a class="delete" href="">Delete</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
                @Html.EditorFor(a => a.NewFallIntervention)
            </div>

            <div id="fallTypeTab">
                <table id="type">
                    <thead>
                        <tr>
                            <th>Type of Fall</th>
                            <th>Sort Order</th>
                            <th>Enable Disable</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var type in Model.SOCFallType)
            {
                            <tr id="@type.SOCFallTypeId">
                                <td>@type.SOCFallTypeName</td>
                                <td>@type.SortOrder</td>
                                <td>@Html.CheckBox("EnableDisable", type.DataEntryFlg, new { @class = "EnableDisable" })</td>
                                <td><a class="edit" href="">Edit</a></td>
                                <td><a class="delete" href="">Delete</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
                @Html.EditorFor(a => a.NewFallType)
            </div>
        </div>

        <div id="restraintTab">
            <table id="restraint">
                <thead>
                    <tr>
                        <th>Restraint</th>
                        <th>Sort Order</th>
                        <th>Enable Disable</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var restraint in Model.Restraints)
            {
                    <tr id="@restraint.SOCRestraintId">
                        <td>@restraint.SOCRestraintName</td>
                        <td>@restraint.SortOrder</td>
                        <td>@Html.CheckBox("EnableDisable", restraint.DataEntryFlg, new { @class = "EnableDisable" })</td>
                        <td><a class="edit" href="">Edit</a></td>
                        <td><a class="delete" href="">Delete</a></td>
                    </tr>
                    }
                </tbody>
            </table>
            @Html.EditorFor(a => a.NewRestraint)
        </div>

        <div id="pressureWoundTab">
            <table id="PRWND" style="width: 400px">
                <thead>
                    <tr>
                        <th>Stage</th>
                        <th>Severity Level</th>
                        <th>Sort Order</th>
                        <th>Enable Disable</th>
                        <th>Report Flag</th>
                        <th>Threshold</th>
                        <th>Length Flag</th>
                        <th>Width Flag </th>
                        <th>Depth Flag </th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var stage in Model.PressureWoundStages)
            {
                        <tr id="@stage.PressureWoundStageId">
                            <td>@stage.PressureWoundStageName</td>
                            <td>
                                @Html.DropDownListFor(s => stage.SeverityLevelNbr, new SelectList(
                   new[] {
                       new SelectListItem { Text = "Unknown", Value = null },
                       new SelectListItem { Text = "0", Value = "0" },
                       new SelectListItem { Text = "1", Value = "1" },
                       new SelectListItem { Text = "2", Value = "2" },
                       new SelectListItem { Text = "3", Value = "3" },
                       new SelectListItem { Text = "4", Value = "4" }


                   }, "Value", "Text", stage.SeverityLevelNbr), new { @class = "severity-level" })

                                @*@Html.DropDownList("SeverityLevelNbr", new List<SelectListItem>
                                    {
                                        new SelectListItem { Text = "Unknown", Value = null },
                                        new SelectListItem { Text = "0", Value = "0" },
                                        new SelectListItem { Text = "1", Value = "1" },
                                        new SelectListItem { Text = "2", Value = "2" },
                                        new SelectListItem { Text = "3", Value = "3" },
                                        new SelectListItem { Text = "4", Value = "4" }

                                    }, new { @class= "severity-level" })*@
                                @*@Html.Hidden("severityLevel", stage.SeverityLevelNbr)*@
                            </td>



                            <td>@stage.SortOrder</td>
                            <td>@Html.CheckBox("EnableDisable", stage.DataEntryFlg, new { @class = "EnableDisable" })</td>
                            <td>@Html.CheckBox("ReportFlg", stage.ReportFlg, new { @class = "ReportFlg" })</td>
                            <td>@Html.CheckBox("ThresholdFlg", stage.IncludeInThresholdFlg, new { @class = "WoundFlg", data_woundflg = 0, data_woundflg_name = "Threshold" })</td>
                            <td>@Html.CheckBox("LengthFlg", stage.LengthFlg, new { @class = "WoundFlg", data_woundflg = 1, data_woundflg_name = "Length Flag" })</td>
                            <td>@Html.CheckBox("WidthFlg", stage.WidthFlg, new { @class = "WoundFlg", data_woundflg = 2, data_woundflg_name = "Width Flag" })</td>
                            <td>@Html.CheckBox("DepthFlg", stage.DepthFlg, new { @class = "WoundFlg", data_woundflg = 3, data_woundflg_name = "Depth Flag" })</td>

                            <td></td>
                            <td><a class="delete" href="">Delete</a></td>
                        </tr>
                    }
                </tbody>
            </table>
            @Html.EditorFor(a => a.NewPressureWound)
            <div id="hiddenServerityLevels" style="display:none;">
                @Html.DropDownList("test", new SelectList(
                   new[] {
                       new SelectListItem { Text = "Unknown", Value = null },
                       new SelectListItem { Text = "0", Value = "0" },
                       new SelectListItem { Text = "1", Value = "1" },
                       new SelectListItem { Text = "2", Value = "2" },
                       new SelectListItem { Text = "3", Value = "3" },
                       new SelectListItem { Text = "4", Value = "4" }


                   }, "Value", "Text"), new { @class = "severity-level" })
            </div>
        </div>

        <div id="compositeWoundTab">
            <table id="SCWND">
                <thead>
                    <tr>
                        <th>Describe</th>
                        <th>Sort Order</th>
                        <th>Enable Disable</th>
                        <th>Report Flag</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var describe in Model.CompositeWoundDescribe)
            {
                        <tr id="@describe.CompositeWoundDescribeId">
                            <td>@describe.CompositeWoundDescribeName</td>
                            <td>@describe.SortOrder</td>
                            <td>@Html.CheckBox("EnableDisable", describe.DataEntryFlg, new { @class = "EnableDisable" })</td>
                            <td>@Html.CheckBox("ReportFlg", describe.ReportFlg, new { @class = "ReportFlg" })</td>
                            <td><a class="edit" href="">Edit</a></td>
                            <td><a class="delete" href="">Delete</a></td>
                        </tr>
                    }
                </tbody>
            </table>
            @Html.EditorFor(a => a.NewCompositeWound)



        </div>


    </div>
</div>

<environment names="Development">
    <script src="~/js/SOCAdmin.js" asp-append-version="true"></script>
</environment>
<environment names="Testing,Production,Training">
    <script src="~/js/SOCAdmin.min.js" asp-append-version="true"></script>
</environment>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

