@model AtriumWebApp.Web.Survey.Models.ViewModel.ReviewAdditionalAuditViewModel
@{
    ViewBag.Title = "Additional Questions Audit";
}
<style>
    .Answer.odd {
        background-color: #E2E4FF;
    }
</style>
<h2>@ViewBag.Title</h2>
@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.ReviewId)
    <div class="container_16">
        <div class="grid_14">
            <h4>Metric</h4>
        </div>
        <div class="grid_2">
            <h4>Compliant?</h4>
        </div>
    </div>
    <div class="margin_separator">
        @for (int i = 0; i < Model.Answers.Count; i++)
        {
            var answerDivClass = i % 2 == 0 ? "even" : "odd";
        <div class="container_16 Answer @(answerDivClass)">
            @Html.HiddenFor(m => m.Answers[i].Id)
            <div class="grid_14">
                @Model.Answers[i].Text
            </div>
            <div class="grid_2">
                @Html.CheckBoxFor(m => m.Answers[i].IsCompliant)
            </div>
        </div>
        }
    </div>
    <div class="margin_separator">
        <button id="back">Back</button>
        <input type="submit" class="float-right" value="Save" />
    </div>
}
<script type="text/javascript" src="~/Scripts/QuarterlySystemsReviewEditPage.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        PrepareBackButton('../');
    });
</script>