@model AtriumWebApp.Web.Survey.Models.ViewModel.ReviewIndexViewModel
@{
    ViewBag.Title = "Quarterly Systems Review";
}
<style>
    textarea {
        width: 100%;
    }
    .dock-container {
        position: relative;
    }
    .dock-bottom {
        position: absolute;
        bottom: 0px;
    }
    .totals {
        font-size: 1.4em;
        font-weight: bolder;
    }
    .Question.odd {
        background-color: #E2E4FF;
    }
</style>
<section class="table-cell">
    @using (Html.BeginForm("UpdateCurrentCommunity", null, FormMethod.Post, new { id = "CommunitySelectionForm" }))
    {
        @Html.LabelFor(m => m.CurrentCommunity)<text>:</text><br />
        @Html.DropDownListFor(m => m.CurrentCommunity, new SelectList(Model.Communities, "CommunityId", "CommunityShortName", Model.CurrentCommunity))
        @Html.Hidden("returnUrl", Context.UrlPath());
    }
</section>
<section class="table-cell">
    <div class="container_16 margin_separator">
        <div class="grid_16">
            <div id="formContent">
                @if (Model.Review != null)
                {
                    @Html.Partial("_Dashboard", Model.Review)
                }
            </div>
        </div>
    </div>
    <div class="container_16 bottom_pad">
        <div class="grid_3">
            @Html.ActionLink("Create New Review", "Create", null,null, new { id = "create", @class = "create-link" })
        </div>
        <div class="grid_13">
            @using (Html.BeginForm("UpdateRange", null, FormMethod.Post, new { @class = "float-right" }))
            {
                @Html.Hidden("returnUrl", Context.UrlPath());
                <span>
                    Date Range - 
                    @Html.LabelFor(m => m.OccurredRangeFrom):
                    @Html.EditorFor(m => m.OccurredRangeFrom, new { @class = "isDate", size = "10" })
                    @Html.LabelFor(m => m.OccurredRangeTo):
                    @Html.EditorFor(m => m.OccurredRangeTo, new { @class = "isDate", size = "10" })
                </span>
                <input id="submit" name="submit" type="submit" value="Update" />
            }
            @{
                string ToDateRangeInvalid;
                Context.Session.TryGetObject("ToDateRangeInvalid", out ToDateRangeInvalid);
                string ToDateRangeInFuture;
                Context.Session.TryGetObject("ToDateRangeInFuture", out ToDateRangeInFuture);
                string FromDateRangeInvalid;
                Context.Session.TryGetObject("FromDateRangeInvalid", out FromDateRangeInvalid);
                string FromDateRangeInFuture;
                Context.Session.TryGetObject("FromDateRangeInFuture", out FromDateRangeInFuture);
                string FromAfterTo;
                Context.Session.TryGetObject("FromAfterTo", out FromAfterTo);
            }

            @Html.Hidden("ToDateRangeInvalid", ToDateRangeInvalid)
            @Html.Hidden("ToDateRangeInFuture", ToDateRangeInFuture)
            @Html.Hidden("FromDateRangeInvalid", FromDateRangeInvalid)
            @Html.Hidden("FromDateRangeInFuture", FromDateRangeInFuture)
            @Html.Hidden("FromAfterTo", FromAfterTo)
        </div>
    </div>
    <div class="container_16">
        <div class="grid_16">
            <table id="reviewsTable">
                <thead>
                    <tr>
                        <th>Review Date</th>
                        <th>Begin Sample Date</th>
                        <th>End Sample Date</th>
                        <th>Closed?</th>
                        <th>Nursing Closed Date</th>
                        <th>Dietary Closed Date</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                    <tr id="@item.Id">
                        <td>@item.ReviewDate.ToShortDateString()</td>
                        <td>@item.BeginSampleDate.ToShortDateString()</td>
                        <td>@item.EndSampleDate.ToShortDateString()</td>
                        <td>@item.IsClosed</td>
                        <td>@Html.DisplayFor(m => item.ClosedByNurseDate)</td>
                        <td>@Html.DisplayFor(m => item.ClosedByDietitianDate)</td>
                        <td>
                            @if (!item.IsClosed || Model.CanEdiit)
                            {
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "edit-link" })
                            }
                        </td>
                        <td>
                            @if (!item.IsClosed || Model.CanDelete)
                            {
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "delete-link" })
                            }
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>
<environment names="Development">
    <script src="~/js/QuarterlySystemsReview.js" asp-append-version="true"></script>
</environment>
<environment names="Testing,Production,Training">
    <script src="~/js/QuarterlySystemsReview.min.js" asp-append-version="true"></script>
</environment>
<script type="text/javascript">
    $(document).ready(function () {
        PreparePage('@Url.Action("Index", "QuarterlySystemsReview")');
    });
</script>
