@model AtriumWebApp.Web.ClinicalOps.Models.ViewModel.AdminViewModel
@using AtriumWebApp.Web.Base.Library
@{
    ViewBag.Title = "CCA Admin";
}

<style type="text/css">
    #CommunityTableWrapper {
        width: 600px;
    }
    .content-wrapper {
        max-width: 1366px;
    }
    #admin-body {
        max-width: 750px;
    }
</style>
<h2 id="title" style="margin-left: 200px">Care Conference Attendance Admin Page</h2>
@using (Html.BeginForm("SaveLookback", "CCAAttendanceAdmin", FormMethod.Post, new { id = "SaveLookback" }))
{
    <table>
        <thead>
            <tr style="font-weight: bold">
                <th>Lookback Days</th>
            </tr>
        </thead>
        <tr>
            <td>@Html.Label("Adjust Lookback Days:")</td>
            @{ 
                Context.Session.TryGetObject("CCALookbackDays", out string CCALookbackDays);
            }
            <td>@Html.TextBox("LookbackDays", CCALookbackDays)</td>
            <td>
                <input id="submit" name="submit" type="submit" value="Update" />
            </td>
        </tr>
    </table>
}

<div id="CommunityTableWrapper">
    <table id="CommunityTable">
        <thead>
            <tr>
                <th>Facility
                </th>
                <th>State
                </th>
                <th>Region
                </th>
                <th>Use in Display
                </th>
                <th>Report Flag
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var com in Model.Communities.OrderByDescending(c => c.IsCommunityFlg).ThenBy(c => c.CommunityShortName))
            {
                <tr>
                    <td>@com.CommunityShortName</td>
                    <td>@com.StateCd</td>
                    <td>@Model.Regions.Single(r => r.RegionId == com.RegionId).RegionName</td>
                    <td>@Html.CheckBoxFor(x => x.ApplicationCommunityInfos.Single(aci => aci.CommunityId == com.CommunityId).DataEntryFlg, new { id = com.CommunityId, @class = "checkbox" })</td>
                    <td>@Html.CheckBoxFor(x => x.ApplicationCommunityInfos.Single(aci => aci.CommunityId == com.CommunityId).ReportFlg, new { id = com.CommunityId, @class = "checkboxReport" })</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<environment names="Development">
    <script src="~/js/CCAAdmin.js" asp-append-version="true"></script>
</environment>
<environment names="Testing,Production,Training">
    <script src="~/js/CCAAdmin.min.js" asp-append-version="true"></script>
</environment>
