@model List<SOCEventRestraintNoted>

<table id="restraintNoteTable">
    <thead>
        <tr>
            <th>Restraint</th>
            <th>Reduce Attempted</th>
            <th>Diagnosis Support</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var noted in Model)
        {
            <tr restraintid="@noted.SOCEventRestraintNotedId">
                <td>@noted.Restraint.SOCRestraintName</td>
                <td class="reduceDate">@(noted.AttemptedReducedDate.HasValue ? noted.AttemptedReducedDate.Value.ToString("MM/dd/yyyy") : "")</td>
                <td>
                    @if (noted.DiagnosisSupportsRestraintFlg)
                    {
                        @:Yes
                    }
                    else
                    {
                        @:No

                    }
                </td>
                <td>
                    @Html.ActionLink("Copy", "EditRestraintNote", new { eventId = noted.SOCEventId, noteId = noted.SOCEventRestraintNotedId }, new { @class = "copy" })
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditRestraintNote", new { eventId = noted.SOCEventId, noteId = noted.SOCEventRestraintNotedId }, new { @class = "edit" })

                </td>
                <td>
                    @Html.ActionLink("Delete", "DeleteRowRestraint", new { rowId = noted.SOCEventRestraintNotedId }, new { @class = "delete" })
                </td>
            </tr>
        }
    </tbody>
</table>