@model AtriumWebApp.Models.Budget.ViewModels.FacilityViewModel

@{
    SelectList facilitySelector = new SelectList(Model.Facilities, "FacilityID", "FacilityShortNm");
    var facilities = Model.Facilities;
    var regionList = new SelectList(Model.Regions, "RegionID", "RegionNm");
    var stateList = new SelectList(Model.States, "StateID", "StateCd");
    var newFacility = new AtriumWebApp.Models.Budget.Facility();
}

<div id="facilityAdminEditor">
    <div style="border:solid thin black">
        <div style="display:inline-block">
            @foreach (var facility in Model.Facilities)
            {
                @Html.DisplayFor(a => facility, "", "", new { States = stateList, Regions = regionList })
            }
        </div>

        <div style="display:inline-block;vertical-align:top;">
            <input type="button" value="Delete This Facility" class="adminButton" id="deletefacilityAdmin" />
            <input type="button" value="Add New Facility" class="adminButton" id="newfacilityAdmin"/>
        </div>
    </div>
    <div class="recordSelection">
        Record: <i class="fa fa-fast-backward selector" id="facilityAdminFirst"></i>
        <i class="fa fa-backward selector" aria-hidden="true" id="facilityAdminBack"></i>
        <input id="facilityAdminSelector" />
        <i class="fa fa-forward selector" aria-hidden="true" id="facilityAdminForward"></i>
        <i class="fa fa-fast-forward selector" aria-hidden="true" id="facilityAdminLast"></i>
        <select id="selectedfacilityAdmin">
            @for (int i = 0; i < facilities.Count; i++)
            {
                var facility = facilities[i];
                @:
                <option value="@facility.FacilityID" rowNum="@(i + 1)">@facility.FacilityShortNm</option>
            }
        </select>
    </div>
</div>
<div id="facilityAdminCreator" style="display:none;">
    @Html.EditorFor(a => newFacility, "", "", new { States = stateList, Regions = regionList, Facilities = Model.Facilities })
</div>
