@model AtriumWebApp.Web.Schedule.Models.ViewModel.ScheduleAdminAreaRoomsViewModel
<button class="float-right" id="closeRoomArea">X</button>
<h2>@Html.DisplayFor(m => m.CommunityShortName)</h2>
<table id="RoomArea">
    <thead>
        <tr>
            <th>Hall/Unit Name</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody id="RoomAreas">
        @foreach (var item in Model.AreaRooms)
        {
            <tr id="@item.Id">
                <td>@item.AtriumPatientGroupName</td>
                <td><a class="editAreaRoom" href="">Edit</a></td>
                <td><a class="deleteAreaRoom" href="">Delete</a></td>
            </tr>
        }
    </tbody>
</table>
<br />
@using (Html.BeginForm("AddRoomArea", "ScheduleAdmin", FormMethod.Post, new { id = "AddRoomArea", enctype = "multipart/form-data" }))
{
    <div>
        @Html.Label("New Hall/Unit: ")
        @Html.TextBox("NewRoomArea","",new { style = "font-size:inherit;" })
        <input type="submit" value="Save" id="addAreaRoom" class="add-button" style="font-size:inherit" />
    </div>
}
<environment names="Development">
    <script type="text/javascript" src="~/js/ScheduleAreaRoomAdmin.js" asp-append-version="true"></script>
</environment>
<environment names="Testing,Production,Training">
    <script type="text/javascript" src="~/js/ScheduleAreaRoomAdmin.min.js" asp-append-version="true"></script>
</environment>
