@model AtriumWebApp.Web.Schedule.Models.ViewModel.ScheduleAdminViewModel
@{
    ViewBag.Title = "Schedule Admin Page";
}
<style type="text/css">
    #areaRoomsModal{
        min-width:600px;
        min-height:600px;
    } 
    #RoomAreaAdmin {
        width: 600px;
    }
    #Approvers td {
        height: 25px;
    }

    .content-wrapper {
        max-width: 1366px;
    }

    .dataTables_wrapper {
        border: solid thin black;
    }

    #admin-body {
        width: 100%;
    }

    .dataTables_scrollBody {
        overflow: auto;
        height: auto !important;
        max-height: 300px;
        width: 100%;
    }

    #areaRoomsModal {
        width: 500px;
        height: 280px;
        display: none;
        position: fixed;
        background-color: #EFEEEF;
        z-index: 999;
    }
</style>
<h2 style="padding-bottom: 30px;">@ViewBag.Title</h2>
<div id="tabs" style="min-height:500px">

    <ul>
        <li>
            <a href="#communityTab">Communities</a>
        </li>
    </ul>
    <div id="communityTab">
        <table id="CommunityTable">
            <thead>
                <tr>
                    <th>Facility</th>
                    <th>State</th>
                    <th>Region</th>
                    <th>Use in Display</th>
                    <th>Report Flag</th>
                    <th>Manage Hall/Unit</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var com in Model.AdminViewModel.Communities.OrderByDescending(c => c.IsCommunityFlg).ThenBy(c => c.CommunityShortName))
            {
                    <tr>
                        <td>@com.CommunityShortName</td>
                        <td>@com.StateCd</td>
                        <td>@Model.AdminViewModel.Regions.Single(r => r.RegionId == com.RegionId).RegionName</td>
                        <td>@Html.CheckBoxFor(m => m.AdminViewModel.ApplicationCommunityInfos.Single(aci => aci.CommunityId == com.CommunityId).DataEntryFlg, new { id = com.CommunityId, @class = "checkboxDisplay" })</td>
                        <td>@Html.CheckBoxFor(m => m.AdminViewModel.ApplicationCommunityInfos.Single(aci => aci.CommunityId == com.CommunityId).ReportFlg, new { id = com.CommunityId, @class = "checkboxReport" })</td>
                        <td>@Html.ActionLink("Manage Halls/Units", "GetAreaRoomsForCommunity", new { id = com.CommunityId }, new { @class = "manage-arearooms" })</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>
<div id="areaRoomsModal" align="center">
</div>
<environment names="Development">
    <script type="text/javascript" src="~/js/ScheduleAdmin.js" asp-append-version="true"></script>
</environment>
<environment names="Testing,Production,Training">
    <script type="text/javascript" src="~/js/ScheduleAdmin.min.js" asp-append-version="true"></script>
</environment>

