@model AtriumWebApp.Web.Financial.Models.ViewModel.PurchaseOrderItemViewModel
<tr>
    <td>@Html.TextBoxFor(m => m.OrderQuantity, new { size = "3", @class = "OrderQuantity", data_field = "OrderQuantity" })</td>
    <td>@Html.TextBoxFor(m => m.StockNumber, new { size = "10", @class = "StockNumber", data_field = "StockNumber" })</td>
    <td>@Html.TextAreaFor(m => m.ItemDescription, new { @class = "ItemDescription", data_field = "ItemDescription", maxlength = 256 })</td>
    <td>@Html.TextBoxFor(m => m.AccountNumber, new { size = "10", @class = "AccountNumber", data_field = "AccountNumber" })</td>
    <td>@Html.TextBoxFor(m => m.EstimatedCost, Model.EstimatedCost.ToString("0.00"), new { size = "8", @class = "EstimatedItemCost", data_field = "EstimatedCost"})</td>
    <td>@Html.TextBoxFor(m => m.Unit, new { size = "3", @class = "Unit", data_field = "Unit" })</td>
    <td>
        <span class="TotalCost calculated">@Html.DisplayFor(m => m.TotalCost)</span>
    </td>
    <td>
        <button type="button" class="delete-item">&times;</button>
    </td>
</tr>