@model AtriumWebApp.Models.ViewModel.StandardsOfCareViewModel
<div id="event" align="center">
    <button class="float-right" id="closeMeasure">X</button>
    <h2 class="margin_separator">Event Record</h2>
    @using (Html.BeginForm("SaveEvent", "StandardsOfCare", FormMethod.Post, new { id = "SaveEvent" }))
    {
        @Html.HiddenFor(m => m.PatientId)
        @Html.HiddenFor(m => m.RoomId)
        @Html.HiddenFor(m => m.PatientGroupPayerId)
        <div class="container_16 bottom_pad">
            <div class="grid_2">@Html.Label("Date Occurred:")</div>
            <div class="grid_2 date-occurred-container"></div>
        </div>
        <div class="clear">&nbsp;</div>
        <div class="container_16 bottom_pad">
            <div class="grid_2">@Html.Label("Date Resolved:")</div>
            <div class="grid_2 date-resolved-container"></div>
        </div>
        <button class="margin_separator" type="button" id="saveMeasure">Save</button>
    }
</div>