@model AtriumWebApp.Models.ViewModel.StandardsOfCareViewModel
<div id="fall" align="center">
    <button class="float-right" id="closeFall">X</button>
    <h2 class="margin_separator">Fall Record</h2>
    @using (Html.BeginForm("SaveFall", "StandardsOfCare", FormMethod.Post, new { id = "SaveFall" }))
    {
        @Html.HiddenFor(m => m.PatientId)
        @Html.HiddenFor(m => m.RoomId)
        @Html.HiddenFor(m => m.PatientGroupPayerId)
        <div class="container_16 bottom_pad">
            <div class="grid_1">&nbsp;</div>
            <div class="grid_2">@Html.Label("Date Occurred:")</div>
            <div class="grid_2 date-occurred-container"></div>
            <div class="grid_1">&nbsp;</div>

            <div class="grid_1 bottom_pad">
                @Html.Label("Time:")
            </div>
            <div class="grid_4 bottom_pad">
    @Html.Label("Hr  ")@Html.TextBox("Hr", Model.SOCEventFall != null ? Model.SOCEventFall.FallTime.ToString("hh") : "", new { size = "2" })
    @Html.Label("Min  ")@Html.TextBox("Min", Model.SOCEventFall != null ? Model.SOCEventFall.FallTime.ToString("mm") : "", new { size = "2" })

    @Html.DropDownListFor(x => x.SOCEventFallAMPM, (SelectList)ViewData["AMPM"])
</div>
            <div class="grid_5">&nbsp;</div>
        </div>
        @*<div class="clear">&nbsp;</div>
    <div class="bottom_pad" style="margin-left: 140px;">
        <div class="grid_2 bottom_pad" style="margin-left: 35px;">@Html.Label("Time:")</div>
        <div class="grid_2 bottom_pad" style="margin-left: 32px">@Html.Label("Hr  ")@Html.TextBox("Hr", Model.SOCEventFall != null ? Model.SOCEventFall.FallTime.ToString("hh") : "", new { size = "2" })</div>
        <div class="grid_2 bottom_pad" style="margin-left: 5px;">@Html.Label("Min  ")@Html.TextBox("Min", Model.SOCEventFall != null ? Model.SOCEventFall.FallTime.ToString("mm") : "", new { size = "2" })</div>
        <div class="grid_1 bottom_pad">
            @Html.DropDownListFor(x => x.SOCEventFallAMPM, (SelectList)ViewData["AMPM"])
        </div>
    </div>*@
        <div class="clear">&nbsp;</div>
        <div class="container_16 bottom_pad">
            <div class="grid_1">&nbsp;</div>
            <div class="grid_2">@Html.Label("Location:")</div>
            <div class="grid_2">@Html.DropDownListFor(x => x.SOCEventFall.SOCFallLocationId, (SelectList)ViewData["FallLocations"], "Select a Fall Location", new { id = "FallLocations" })</div>
            <div class="grid_1">&nbsp;</div>
        </div>
        <div class="container_16 bottom_pad">
            <div class="grid_1">&nbsp;</div>
            <div class="grid_3">@Html.Label("Physician Notified:")</div>
            <div class="grid_1">@Html.CheckBoxFor(x => x.SOCEventFall.PhysicianNotifiedFlg)</div>
            <div class="grid_2">@Html.Label("Family Notified:")</div>
            <div class="grid_1">@Html.CheckBoxFor(x => x.SOCEventFall.FamilyNotifiedFlg)</div>
            <div class="grid_2">@Html.Label("State Notified:")</div>
            <div class="grid_1">@Html.CheckBoxFor(x => x.SOCEventFall.StateNotifiedFlg)</div>
        </div>
    <div class="clear">&nbsp;</div>
    <div class="container_16 bottom_pad">
        <div class="grid_1">&nbsp;</div>
        <div class="grid_2">@Html.Label("Root Cause: (512 max)")</div>
        <div class="grid_8">@Html.TextAreaFor(x => x.SOCEventFall.RootCause, 2, 60 , new { maxlength="511" })</div>
    </div>
        <div class="container_16 bottom_pad">
            <div class="grid_6">
                <table id="InterventionTable">
                    <thead>
                        <tr>
                            <th>SortOrder</th>
                            <th>Intervention Type</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.FallIntervention != null)
                        {
                            foreach (var intervention in Model.FallIntervention)
                            {
                            <tr id="@intervention.SOCFallInterventionId">
                                <td>@intervention.SortOrder</td>
                                <td>@intervention.SOCFallInterventionName</td>
                                <td>@Html.CheckBox("Interventions." + intervention.SOCFallInterventionId, Model.SOCEventFallInterventions != null && Model.SOCEventFallInterventions.Exists(e => e.SOCFallInterventionId == intervention.SOCFallInterventionId))</td>
                            </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="grid_6">
                <table id="typeOfFall">
                    <thead>
                        <tr>
                            <th>SortOrder</th>
                            <th>Fall Type</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.FallType != null)
                        {
                            foreach (var type in Model.FallType)
                            {
                            <tr id="@type.SOCFallTypeId">
                                <td>@type.SortOrder</td>
                                <td>@type.SOCFallTypeName</td>
                                <td>@Html.CheckBox("Types." + type.SOCFallTypeId, Model.SOCEventFallTypes != null && Model.SOCEventFallTypes.Exists(e => e.SOCFallTypeId == type.SOCFallTypeId))</td>
                            </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container_16 bottom_pad hidden injury">
            <div class="grid_6">
                <table id="typeOfInjury">
                    <thead>
                        <tr>
                            <th>SortOrder</th>
                            <th>Injury Type</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.FallInjuryType != null)
                        {
                            foreach (var injury in Model.FallInjuryType)
                            {
                            <tr id="@injury.SOCFallInjuryTypeId">
                                <td>@injury.SortOrder</td>
                                <td>@injury.SOCFallInjuryTypeName</td>
                                <td>@Html.CheckBox("Injury." + injury.SOCFallInjuryTypeId, Model.SOCEventFallInjuryTypes != null && Model.SOCEventFallInjuryTypes.Exists(e => e.SOCFallInjuryTypeId == injury.SOCFallInjuryTypeId))</td>
                            </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="grid_6">
                <table id="TreatmentTable">
                    <thead>
                        <tr>
                            <th>SortOrder</th>
                            <th>Treatment Type</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.FallTreatment != null)
                        {
                            foreach (var treatment in Model.FallTreatment)
                            {
                            <tr id="@treatment.SOCFallTreatmentId">
                                <td>@treatment.SortOrder</td>
                                <td>@treatment.SOCFallTreatmentName</td>
                                <td>@Html.CheckBox("Treatment." + treatment.SOCFallTreatmentId, Model.SOCEventFallTreatments != null && Model.SOCEventFallTreatments.Exists(e => e.SOCFallTreatmentId == treatment.SOCFallTreatmentId))</td>
                            </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container_16 bottom_pad">
            <div class="grid_4">&nbsp;</div>
            <div class="grid_2">
                <button type="button" id="saveFall">Save</button>
            </div>
            <div class="grid_2">
                <button type="button" id="clearFall">Clear</button>
            </div>
        </div> 
    }
</div>