@model AtriumWebApp.Models.ViewModel.EmployeeViewModel

<br />
<label style="font-weight:bold">Current Employee</label>
    <span style="font-weight:bold">Name/Community:</span>
    <p id="residentName">@Model.Employee.LastName, @Model.Employee.FirstName</p>
    @Model.Community.CommunityShortName
<p></p>
<span style="font-weight:bold">Date of Hire:</span>
<p> @Model.Employee.HireDate.ToString("d")</p>
<span style="font-weight:bold">Date of Termination:</span>
<p> @(Model.Employee.TerminationDate.HasValue ? Model.Employee.TerminationDate.Value.ToString("d") : "")</p>