@model AtriumWebApp.Web.RiskManagement.Models.ViewModel.RMMedicalRecordsViewModel

<form asp-action="SaveRMMRecord" id="formMRR">
    <input type="hidden" asp-for="Request.LastUser" />
    <input type="hidden" asp-for="Request.PatientId" />
    <input type="hidden" asp-for="Request.Requestid" />
    <div class="row">
        <div id="modal" style="display:none;">
            <div class="container-fluid">
                <div class="row text-center h2">
                    Lawsuit Form
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label asp-for="Request.PlaintiffCounsel"></label>
                    </div>
                    <div class="col-sm-6">
                        <textarea asp-for="Request.PlaintiffCounsel" rows="4"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label asp-for="Request.DefenseCounsel"></label>
                    </div>
                    <div class="col-sm-6">
                        <textarea asp-for="Request.DefenseCounsel" rows="4"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label asp-for="Request.Complaint"></label>
                    </div>
                    <div class="col-sm-6">
                        <textarea asp-for="Request.Complaint" rows="4"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label asp-for="Request.DeathClaim"></label>
                    </div>
                    <div class="col-sm-6">
                        <input type="checkbox" asp-for="Request.DeathClaim" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <label asp-for="Request.LawSuitFiledDate"></label>
                    </div>
                    <div class="col-sm-3">
                        <input asp-for="Request.LawSuitFiledDate" type="text" class="isDate" />
                        <br />
                        <span asp-validation-for="Request.LawSuitFiledDate" class="text-danger"></span>
                    </div>
                    <div class="col-sm-3">
                        <label asp-for="Request.TrialDate"></label>
                    </div>
                    <div class="col-sm-3">
                        <input asp-for="Request.TrialDate" type="text" class="isDate" />
                        <br />
                        <span asp-validation-for="Request.TrialDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <label asp-for="Request.SettlementDate"></label>
                    </div>
                    <div class="col-sm-3">
                        <input asp-for="Request.SettlementDate" type="text" class="isDate" />
                        <br />
                        <span asp-validation-for="Request.SettlementDate" class="text-danger"></span>
                    </div>
                    <div class="col-sm-3">
                        <label asp-for="Request.LawSuitClosedDate"></label>
                    </div>
                    <div class="col-sm-3">
                        <input asp-for="Request.LawSuitClosedDate" type="text" class="isDate" />
                        <br />
                        <span asp-validation-for="Request.LawSuitClosedDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="row text-center">
                    <input type="button" id="saveLawsuit" value="Save" />
                    <input type="button" id="clearLawsuit" value="Clear" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-1 text-right">
                    <input asp-for="Request.LawSuitFiledFlg" />
                </div>
                <div class="col-sm-5 text-left">
                    <label asp-for="Request.LawSuitFiledFlg"></label>
                </div>
                <div class="col-sm-1 text-right">
                    <input asp-for="Request.ArbitrationAgreementFlg" />
                </div>
                <div class="col-sm-5 text-left">
                    <label asp-for="Request.ArbitrationAgreementFlg"></label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <a href="#" id="showLawsuit" style="display:none;">Show Lawsuit</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <label asp-for="Request.RequestSource"></label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <textarea asp-for="Request.RequestSource" rows="5" style="width:100%"></textarea>
                    <br />
                    <span asp-validation-for="Request.RequestSource" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-left">
                    <label asp-for="Request.RequestDocument"></label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <textarea asp-for="Request.RequestDocument" rows="4" style="width:75%;">
                </textarea>
                    <br />
                    <span asp-validation-for="Request.RequestDocument" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label asp-for="Request.OpenDate"></label>
                </div>
                <div class="col-sm-6">
                    <input asp-for="Request.OpenDate" type="text" class="isDate" data-rule-date-future="true" data-rule-date="true" asp-format="{0:d}" />
                    <br />
                    <span asp-validation-for="Request.OpenDate" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label asp-for="Request.ClosedDate"></label>
                </div>
                <div class="col-sm-6">
                    <input asp-for="Request.ClosedDate" type="text" class="isDate" data-rule-date-future="true" data-rule-date="true" asp-format="{0:d}" />
                    <br />
                    <span asp-validation-for="Request.ClosedDate" class="text-danger"></span>
                </div>
            </div>
            <div class="documentSection">
                @if (String.IsNullOrEmpty(Model.Request.Requestid))
                {
                    <div style="max-width:515px;overflow: hidden;">
                        <label class="bold"> Sent Documents</label>
                        <br />
                        Load/Add a claim to upload files.
                        <hr />
                    </div>

                }
                else
                {
                    <div id="newDocumentSection">
                        @Html.EditorFor(a => a.NewDocument)
                    </div>
                        <div id="documentListSection">
                            @for (int i = 0; i < Model.Documents.Count; i++)
                            {
                                @Html.EditorFor(a => a.Documents[i])
                            }
                        </div>

                }
            </div>
            <div class="row text-center">
                <input type="submit" value="Save" id="saveRecord" />
                <input type="button" value="Clear" id="clearRecord" />
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row bold">
                Requested Files
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label asp-for="Request.FileRequestedDate"></label>
                </div>
                <div class="col-sm-6">
                    <input asp-for="Request.FileRequestedDate" type="text" class="isDate" data-rule-date-future="true" data-rule-date="true" asp-format="{0:d}" />
                    <br />
                    <span asp-validation-for="Request.FileRequestedDate" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label asp-for="Request.FileReceivedDate"></label>
                </div>
                <div class="col-sm-6">
                    <input asp-for="Request.FileReceivedDate" type="text" class="isDate" data-rule-date-future="true" data-rule-date="true" asp-format="{0:d}" />
                    <br />
                    <span asp-validation-for="Request.FileReceivedDate" class="text-danger"></span>
                </div>
            </div>
            <div class="row bold">
                Letter Dates
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label asp-for="Request.AcknowledgementSentDate"></label>
                </div>
                <div class="col-sm-6">
                    <input asp-for="Request.AcknowledgementSentDate" data-rule-date-future="true" data-rule-date="true" type="text" class="isDate" asp-format="{0:d}" />
                    <br />
                    <span asp-validation-for="Request.AcknowledgementSentDate" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label asp-for="Request.PaymentReceivedDate"></label>
                </div>
                <div class="col-sm-6">
                    <input asp-for="Request.PaymentReceivedDate" data-rule-date-future="true" data-rule-date="true" type="text" class="isDate" asp-format="{0:d}" />
                    <br />
                    <span asp-validation-for="Request.PaymentReceivedDate" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label asp-for="Request.PaymentSentDate"></label>
                </div>
                <div class="col-sm-6">
                    <input asp-for="Request.PaymentSentDate" data-rule-date-future="true" data-rule-date="true" type="text" class="isDate" asp-format="{0:d}" />
                    <br />
                    <span asp-validation-for="Request.PaymentSentDate" class="text-danger"></span>
                </div>
            </div>
            <div class="row" id="noteSection">
                @if (String.IsNullOrEmpty(Model.Request.Requestid))
                {
                    <div style="max-width:515px;overflow: hidden;">
                        <label class="bold">Notes</label>
                        <br />
                        Load/Add a claim to add notes.
                    </div>

                }
                else
                {
                    <div id="editNote">
                        @Html.EditorFor(a => a.NewNote, "", "")
                    </div>
                    <div id="noteTableSection">
                        <table id="notesTable">
                            <thead>
                                <tr>
                                    <th>
                                        User
                                    </th>
                                    <th>
                                        Date
                                    </th>
                                    <th>
                                        Notes
                                    </th>
                                    <th>
                                        Edit
                                    </th>
                                    <th>
                                        Delete
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var note in Model.Notes.OrderBy(a => a.InsertedDate))
                            {
                            <tr>
                                <td>
                                    @note.UserName
                                </td>
                                <td>
                                    @note.InsertedDate.ToString("g")
                                </td>
                                <td>
                                    @note.Notes.Substring(0, (note.Notes.Length > 20 ? 20 : note.Notes.Length))
                                    @if (note.Notes.Length > 20)
                    {
                                        <br />
                                        <a class="moreNotes" href="">More...</a>
                                        <div id="hiddenNotes" style="display:none;">
                                            @note.Notes
                                        </div>
                                        }
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "EditOrCreateRecordNote", new { requestid = note.Requestid, notesId = note.RequestNoteId }, new { @class = "edit" })
                                </td>
                                <td>
                                    @Html.ActionLink("Delete", "DeleteRecordNote", new { noteId = note.RequestNoteId }, new { @class = "delete" })
                                </td>
                            </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                }
            </div>
        </div>
    </div>
</form>

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

<environment names="Development">
    <script src="~/js/AdditionalValidation.js" asp-append-version="true"></script>
</environment>
<environment names="Testing,Production,Training">
    <script src="~/js/AdditionalValidation.min.js" asp-append-version="true"></script>
</environment>

<script>
    $.validator.setDefaults({ ignore: [] });
    $("#formMRR").removeData("validator");
    $("#formMRR").removeData("unobtrusiveValidation");
    $.validator.unobtrusive.parse($("#formMRR"));
    $("#formMRR").validate();
</script>