@model AtriumWebApp.Web.Survey.Models.ViewModel.ReviewSampleOptionViewModel
<tr>
    <td>@Html.DisplayFor(m => m.FirstName)</td>
    <td>@Html.DisplayFor(m => m.LastName)</td>
    <td>@Html.DisplayFor(m => m.Unit)</td>
    <td>@Html.DisplayFor(m => m.Room)</td>
    <td>
        @Html.HiddenFor(m => m.ResidentId)
        @Html.CheckBoxFor(m => m.IsSelected)
    </td>
</tr>