@model AtriumWebApp.Web.Schedule.Models.ViewModel.PayPeriodScheduleViewModel
@{
    ViewBag.Title = "Manage Schedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var year = DateTime.Now.Year.ToString();
}
<div id="saveWithNullEmpDiv" class="hidden center NullEmpDiv">
    <h4>Saved, However please validate Tabs in <strong><span class="redText">RED</span></strong> for incomplete entries.</h4>
    <br /><br />
    <span class="dissapearText">The message will disappear ..</span>
</div>

<section class="table-cell">
    <div class="grid_20 forcedWidth">
        <table>
            <tr>
                <td>
                    @if (Model.CanManageTemplates)
                    {
                        @Html.ActionLink("Master", "Index", "ScheduleTemplate", null, new { @class = "schedule-home-link" })
}
                </td>
                <td><h2 class="schedule-home-link title-padding">@ViewBag.Title</h2></td>
                <td>
                    <div class="grid_5">
                        @using (Html.BeginForm("UpdateCurrentCommunity", "Schedule", FormMethod.Post, new { id = "CommunitySelectionForm" }))
                        {
                            @Html.LabelFor(m => Model.CurrentCommunity)<text>:&nbsp;</text>
                            @Html.DropDownListFor(m => Model.CurrentCommunity, new SelectList(Model.Communities, "Value", "Text", Model.CurrentCommunity), new { id = "CurrentCommunity", @class = "right" })
                            @Html.Hidden("returnUrl", "");
                        }
                    </div>
                </td>
                <td>
                    <div class="grid_5">
                        @Html.Label("", "Weeks", new { Title = "The Date Range for Schedule compliance (below)." })<text>:&nbsp;</text>
                        @Html.EditorFor(m => m.PayPeriodStart, new { id = "PayPeriod", @class = "isDate", size = "10", @Value = "(Click to select ..)" })
                        <span class="redText" id="PayPeriodWarning" style="display:none;">No pay periods defined for this location.</span>
                    </div>
                </td>
                <td>
                    <div class="grid_5">
                        <span class="right"><input class="right hide" id="submitScheduleViewModel" name="submitScheduleViewModel" type="button" value="SAVE" onclick="SaveSchedule()" /></span>
                    </div>
                </td>

                @if (Model.CanDelete)
                {
                    <td>
                        <div class="grid_5">
                            <span class="right"><input class="right hide" id="deleteScheduleViewModel" name="deleteScheduleViewModel" type="button" value="DELETE" onclick="DeleteSchedule()" /></span>

                        </div>
                    </td>}

                <td>
                    <div class="grid_1">
                        <span class="right"><input class="right hide" id="textOpenShift" name="textOpenShift" type="button" value=" Text Open Shift " /></span>
                    </div>
                </td>
                <td>
                    <div id="employeeJobInfo">

                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div id="scheduleInfo">

    </div>
    <div id="TextOpenShiftModal" align="center" class="fade">
    </div>
    <div id="SlotEdit" align="center" class="fade center">

    </div>
</section>

<div id="blankRow" class="hidden">
    <table class="slotTable" slotnbr="@("@slot.SlotNbr")">
        <tbody>
            <tr class="">
                <td id="Shift_Add_@("@type")/_Shift_@("@shift")/_Index/@("@slot.SlotNbr")" class="outSR">
                    <label class="slotEmpNm">
                        Open Position
                    </label>
                    <br />
                    <input class="btnEditSlot btn" type="button" value="Edit" slotid="@("@slot.Id")" />
                </td>
                <td class="removeSlotRowTd">
                    <input class="center btn" id="RemoveScheduleSlotRow_@("@shift")/_@("@slot.SlotNbr")" type="button" value=" - " title="Click '-' to REMOVE a Row.." onclick="RemoveSlot(@("@slot.Id"))" />
                </td>
                <td class="day">
                    <label class="formatDayInfo">None</label>
                    <br />
                    <label class="formatDayInfo">None</label>
                    <br />
                    <label class="formatDayInfo">0</label>
                    <br />
                    <label class="formatDayInfo"></label>
                </td>
                <td class="day">
                    <label class="formatDayInfo">None</label>
                    <br />
                    <label class="formatDayInfo">None</label>
                    <br />
                    <label class="formatDayInfo">0</label>
                    <br />
                    <label class="formatDayInfo"></label>
                </td>
                <td class="day">
                    <label class="formatDayInfo">None</label>
                    <br />
                    <label class="formatDayInfo">None</label>
                    <br />
                    <label class="formatDayInfo">0</label>
                    <br />
                    <label class="formatDayInfo"></label>
                </td>
                <td class="day">
                    <label class="formatDayInfo">None</label>
                    <br />
                    <label class="formatDayInfo">None</label>
                    <br />
                    <label class="formatDayInfo">0</label>
                    <br />
                    <label class="formatDayInfo"></label>
                </td>
                <td class="day">
                    <label class="formatDayInfo">None</label>
                    <br />
                    <label class="formatDayInfo">None</label>
                    <br />
                    <label class="formatDayInfo">0</label>
                    <br />
                    <label class="formatDayInfo"></label>
                </td>
                <td class="day">
                    <label class="formatDayInfo">None</label>
                    <br />
                    <label class="formatDayInfo">None</label>
                    <br />
                    <label class="formatDayInfo">0</label>
                    <br />
                    <label class="formatDayInfo"></label>
                </td>
                <td class="day">
                    <label class="formatDayInfo">None</label>
                    <br />
                    <label class="formatDayInfo">None</label>
                    <br />
                    <label class="formatDayInfo">0</label>
                    <br />
                    <label class="formatDayInfo"></label>
                </td>
                <td class="day">
                    <label class="formatDayInfo">None</label>
                    <br />
                    <label class="formatDayInfo">None</label>
                    <br />
                    <label class="formatDayInfo">0</label>
                    <br />
                    <label class="formatDayInfo"></label>
                </td>
                <td class="day">
                    <label class="formatDayInfo">None</label>
                    <br />
                    <label class="formatDayInfo">None</label>
                    <br />
                    <label class="formatDayInfo">0</label>
                    <br />
                    <label class="formatDayInfo"></label>
                </td>
                <td class="day">
                    <label class="formatDayInfo">None</label>
                    <br />
                    <label class="formatDayInfo">None</label>
                    <br />
                    <label class="formatDayInfo">0</label>
                    <br />
                    <label class="formatDayInfo"></label>
                </td>
                <td class="day">
                    <label class="formatDayInfo">None</label>
                    <br />
                    <label class="formatDayInfo">None</label>
                    <br />
                    <label class="formatDayInfo">0</label>
                    <br />
                    <label class="formatDayInfo"></label>
                </td>
                <td class="day">
                    <label class="formatDayInfo">None</label>
                    <br />
                    <label class="formatDayInfo">None</label>
                    <br />
                    <label class="formatDayInfo">0</label>
                    <br />
                    <label class="formatDayInfo"></label>
                </td>
                <td class="day">
                    <label class="formatDayInfo">None</label>
                    <br />
                    <label class="formatDayInfo">None</label>
                    <br />
                    <label class="formatDayInfo">0</label>
                    <br />
                    <label class="formatDayInfo"></label>
                </td>
                <td class="day">
                    <label class="formatDayInfo">None</label>
                    <br />
                    <label class="formatDayInfo">None</label>
                    <br />
                    <label class="formatDayInfo">0</label>
                    <br />
                    <label class="formatDayInfo"></label>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<environment names="Development">
    <script type="text/javascript" src="~/js/ScheduleIndex.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/lib/moment/moment.js"></script>
</environment>
<environment names="Testing,Production,Training">
    <script type="text/javascript" src="~/js/ScheduleIndex.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/lib/moment/min/moment.min.js"></script>
</environment>

<script type="text/javascript">
    // Resizing global.
    var arrayResizeTimeoutIds = [];

    // KEEP HERE - otherwise after first selection, dates are CLEARED.
    var PayPeriodDates = null;
    var existingPayPeriodDates = null;

    var timeout = 1800;
    var idleAutoSaveCount = 0;
    var idleAutoSaveLimit = 4;
    var thresholdTime = moment('2:00', 'h:mma');

    $(document).ready(function () {
        $('#submit');
        $('#coreTable').hide();
        $('#textOpenShift').hide();
        $('#TextOpenShiftModal').hide();
        $('#SlotEdit').hide();
        PrepareCommunityAndPayPeriodSelectors();

        //$(document).on('click', function (e) {
        //    setformfieldsize(jQuery('#Message'), 100, null);
        //});

        var TextOpenShiftModal = $("#TextOpenShiftModal");
        var textOpenShiftEmployeeTable;
        InitSendTextNofication(TextOpenShiftModal);

        // When Community in list is ONE, default select community && disable selection.
        if ($('#CurrentCommunity option').length == 1) {
            $('#CurrentCommunity option').prop('selected', '');
            $('#CurrentCommunity option:last').prop('selected', true);
            //$('#CurrentCommunity').prop("disabled", true);
            //UpdateDatePicker(this);
            CurrentPayPeriodDates(this);
        };

        //$("input[id^=RemoveScheduleSlotRow]").off();
        //$(document).on('click', "input[id^=RemoveScheduleSlotRow]", function (e) {
        //    e.preventDefault();
        //    RemoveScheduleSlotRow(this);
        //    //$(this).parents('.slotTable').remove();
        //    HighlightNotUpdatedSummary(this);
        //});

        ActivateCountDown("CountDownPanel", timeout);

        // check time every FIFTEEN Seconds.
        window.setInterval(function () {
            if ($('#submitScheduleViewModel').is(':visible') &&
                (idleAutoSaveCount < idleAutoSaveLimit)) {
                var time = $('#CountDownPanel').text();
                var current = moment(time, 'h:mma');
                if ($("#IsDisabled").val().toLowerCase() != "true") {
                    if (current < thresholdTime) {
                        idleAutoSaveCount += 1;
                        //alert('autoSave on idle: idleAutoSaveCount==' + idleAutoSaveCount);
                        SetCountDownTime(timeout);
                        $('#submitScheduleViewModel').click();
                    };
                }
            };
        }, 15000);

        // Finally trigger change for dates to be filled for first Community
        $("#CurrentCommunity").trigger('change');
    });
</script>

