@model List<PatientIFCEvent>

<table id="infectionTable">
    <thead>
        <tr>
            <th>

            </th>
            <th>
                Onset Date
            </th>
            <th>
                Site
            </th>
            <th>
                Organism
            </th>
            <th>
                Symptoms
            </th>
            <th>
                Antibiotic
            </th>
            <th>
                Acq PT Admission
            </th>
            <th>
                Nosocomial
            </th>
            <th>
                Edit
            </th>
            <th>
                Delete
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var infection in Model)
        {
            <tr infectionId="@infection.PatientIFCEventId">
                <td>
                    @infection.PatientIFCEventId
                </td>
                <td>
                    @infection.OnsetDate.ToString("d")
                </td>
                <td>
                    @infection.Site.PatientIFCSiteName
                </td>
                <td>
                    @String.Join(" | ", infection.Organisms.Select(a => a.Organism.PatientIFCOrganismName))
                </td>
                <td>
                    @String.Join(" | ", infection.Symptoms.Select(a => a.Symptom.PatientIFCSymptomName))
                </td>
                <td>
                    @String.Join(" | ", infection.Antibiotics.Select(a => a.Antibiotic.PatientIFCAntibioticName))
                </td>
                <td>
                    @if (infection.AcquiredPriorToAdmissionFlg)
                    {
                        @:Yes
                    }
                    else
                    {
                        @:No

                    }
                </td>
                <td>
                    @if (infection.NosocomialFlg)
                    {
                        @:Yes
                    }
                    else
                    {
                        @:No

                    }
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditOrCreateInfectionVM", new { infectionId=infection.PatientIFCEventId }, new { @class="edit" })
                </td>
                <td>
                    @Html.ActionLink("Delete", "DeleteRow", new { rowId = infection.PatientIFCEventId }, new { @class = "delete" })
                </td>
            </tr>

        }
    </tbody>
</table>