@model AtriumWebApp.Web.ClinicalOps.Models.PatientIFCLimits

<table class="margin_separator dataTable" style="border:solid thin black">
    <tbody>
        <tr id="organismsLimit" class="odd">
            <td>@Html.Label("Organisms Max:")</td>
            <td>@Html.TextBoxFor(x => x.OrganismMax)</td>
            <td><button class="updateLimit">Update</button></td>
            <td>@Html.Label("Required:")</td>
            <td>@Html.CheckBox("Required", Model.OrganismRequiredFlg, new { @class = "Required" })</td>
        </tr>
        <tr id="symptomsLimit" class="even">
            <td>@Html.Label("Symptoms Max:")</td>
            <td>@Html.TextBoxFor(x => x.SymptomMax)</td>
            <td><button class="updateLimit">Update</button></td>
            <td>@Html.Label("Required:")</td>
            <td>@Html.CheckBox("Required", Model.SymptomRequiredFlg, new { @class = "Required" })</td>
        </tr>
        <tr id="diagnosesLimit" class="odd">
            <td>@Html.Label("Diagnoses Max:")</td>
            <td>@Html.TextBoxFor(x => x.DiagnosisMax)</td>
            <td><button class="updateLimit">Update</button></td>
            <td>@Html.Label("Required:")</td>
            <td>@Html.CheckBox("Required", Model.DiagnosisRequiredFlg, new { @class = "Required" })</td>
        </tr>
        <tr id="precautionsLimit" class="even">
            <td>@Html.Label("Precautions Max:")</td>
            <td>@Html.TextBoxFor(x => x.TypeOfPrecautionMax)</td>
            <td><button class="updateLimit">Update</button></td>
            <td>@Html.Label("Required:")</td>
            <td>@Html.CheckBox("Required", Model.TypeOfPrecautionRequiredFlg, new { @class = "Required" })</td>
        </tr>
        <tr id="antibioticsLimit" class="odd">
            <td>@Html.Label("Antibiotics Max:")</td>
            <td>@Html.TextBoxFor(x => x.AntibioticMax)</td>
            <td><button class="updateLimit">Update</button></td>
            <td>@Html.Label("Required:")</td>
            <td>@Html.CheckBox("Required", Model.AntibioticRequiredFlg, new { @class = "Required" })</td>
        </tr>
    </tbody>
</table>