@model List<AtriumWebApp.Web.HR.Models.MasterNewHireChecklist>

@Html.ActionLink("New Checklist Item", "EditNewHireChecklist", new { }, new { @class = "new" })
<table id="checkListTable">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Sort Order
            </th>
            <th>
                Begin Date
            </th>
            <th>
                End Date
            </th>
            <th>
                @*Edit*@
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var checklist in Model)
        {
            <tr>
                <td class="checkListName" checklistId="@checklist.NewHireChecklistId">
                    @checklist.CheckListName
                </td>
                <td>
                    @checklist.SortOrder
                </td>
                <td>
                    @checklist.EffectiveBeginDate.ToString("d")
                </td>
                <td>
                    @checklist.EffectiveEndDate.ToString("d")
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditNewHireChecklist", new { id = checklist.NewHireChecklistId }, new { @class = "edit"}  )
                </td>
            </tr>
        }
    </tbody>
</table>
