@model AtriumWebApp.Web.HR.Models.ViewModel.NewHireAdminViewModel
<style>
    .ui-dialog {
        background-color: #EFEEEF;
    }
</style>
<div id="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h2>New Hire Admin</h2>
        </div>
    </div>
    <div class="row">
        <form id="saveLookback" asp-action="SaveLookback">
            <table>
                <thead>
                    <tr>
                        <th>
                            Lookback Days
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <label asp-for="LookbackDays"></label>
                        </td>
                        <td>
                            <input asp-for="LookbackDays" />
                        </td>
                        <td>
                            <input type="submit" id="submitLookbackDays" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div id="tabs" style="min-height:500px;">
                <ul>
                    <li><a href="#communitiesTab">Communities</a></li>
                    <li><a href="#checklistTab">New Hire Checklist</a></li>
                </ul>
                <div id="admin-body">
                    <div id="communitiesTab">
                        <table id="CommunityTable">
                            <thead>
                                <tr>
                                    <th>Facility</th>
                                    <th>State</th>
                                    <th>Region</th>
                                    <th>Use in Display</th>
                                    <th>Report Flag</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var com in Model.AdminViewModel.Communities.OrderByDescending(c => c.IsCommunityFlg).ThenBy(c => c.CommunityShortName))
                                {
                                    <tr>
                                        <td>@com.CommunityShortName</td>
                                        <td>@com.StateCd</td>
                                        <td>@Model.AdminViewModel.Regions.Single(r => r.RegionId == com.RegionId).RegionName</td>
                                        <td>@Html.CheckBoxFor(x => x.AdminViewModel.ApplicationCommunityInfos.Single(aci => aci.CommunityId == com.CommunityId).DataEntryFlg, new { id = com.CommunityId, @class = "checkboxDisplay" })</td>
                                        <td>@Html.CheckBoxFor(x => x.AdminViewModel.ApplicationCommunityInfos.Single(aci => aci.CommunityId == com.CommunityId).ReportFlg, new { id = com.CommunityId, @class = "checkboxReport" })</td>
                                    </tr>}
                            </tbody>
                        </table>

                    </div>
                    <div id="checklistTab">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="display:none;">
    <div id="modal">

    </div>
</div>


<script>
    function getCheckListListing() {
        $("#checklistTab").load(path + "NewHireAdmin/CheckListListing", function () {
            $("#checkListTable").dataTable({
                "bFilter": false,
                "bAutoWidth": false,
                "fixedColumns": false,
                "sScrollY": "600px",
                "sDom": "frtS",
                "iDisplayLength": -1,
                "oLanguage": {
                    "sEmptyTable": "No Checklists"
                }
            });
            $("#checklistTab").on("click", ".edit, .new", function (e) {
                e.preventDefault();
                $("#modal").load(this.href, function () {
                    $("#modal").dialog({
                        width: 420,
                        height: 250
                    });
                });
            });
        });
    }
    function initCommunities() {
        //Community Table
        var oTableCom = $('#CommunityTable').dataTable({
            "bFilter": false,
            "bAutoWidth": false,
            "fixedColumns": false,
            "sScrollY": "600px",
            "sDom": "frtS",
            "iDisplayLength": -1,
            "oLanguage": {
                "sEmptyTable": "No Communities"
            }
        });

        $(".checkboxReport").click(function () {
            var checkbox = $(this);
            var checked = $(this).is(":checked");
            var comId = $(this).attr("id");
            var comName = $(this).parents("tr").children(":first-child").text();

            $.ajax({
                url: path + "Base/ChangeReportFlgCom",
                dataType: "json",
                cache: false,
                type: 'POST',
                data: {
                    community: comId,
                    dFlag: checked,
                    appCode: "NEWHIRE"
                },
                success: function (result) {
                    if (result.Success) {

                    } else {
                        checkbox.prop("checked", !checked);
                        alert("Community report flag has failed to be enabled/disabled. Please try again " +
                            "and if you see this message repeatedly the server may be down.");
                    }

                }
            });
        });
        $(".checkboxDisplay").click(function () {
            var checkbox = $(this);
            var checked = $(this).is(":checked");
            var comId = $(this).attr("id");
            var comName = $(this).parents("tr").children(":first-child").text();

            $.ajax({
                url: path + "Base/ChangeDataFlgCom",
                dataType: "json",
                cache: false,
                type: 'POST',
                data: {
                    community: comId,
                    dFlag: checked,
                    appCode: "NEWHIRE"
                },
                success: function (result) {
                    if (result.Success) {

                    } else {
                        checkbox.prop("checked", !checked);
                        alert("Community report flag has failed to be enabled/disabled. Please try again " +
                            "and if you see this message repeatedly the server may be down.");
                    }

                }
            });
        });
    }

    $(document).ready(function () {
        $("#tabs").tabs();
        initCommunities();
        getCheckListListing();
        $("#tabs").tabs({
            activate: function (event, ui) {
                var dataTables = ui.newPanel.find(".dataTable").filter(function () {
                    return this.id != "";
                });
                for (i = 0; i < dataTables.length; i++) {
                    var dataTable = $("#" + dataTables[i].id).dataTable();
                    dataTable.fnAdjustColumnSizing();
                }
            }
        });
    });
</script>