@model AtriumWebApp.Models.ViewModel.ContractDocumentViewModel
<tr>
    <td>
        @if (!(Model.FileName == null || Model.ContentType == null))
        {
            @Html.ActionLink(Model.FileName, "StreamContractDocument", new { id = Model.Id });
        }
        else
        {      
            <input type="file" name="document" id="document" data-field="Document" class="fileSelection" />
        } 
    </td>
    <td>
        @Html.CheckBoxFor(m => m.ArchiveFlg, new { data_field = "ArchiveFlg" })
    </td>
    <td>
        <button type="button" class="delete-item">&times;</button>
        @Html.HiddenFor(m => m.Id, new { data_field = "Id" })
        @Html.HiddenFor(m => m.ContractId, new { data_field = "ContractId" })
        @Html.HiddenFor(m => m.FileName, new { data_field = "FileName" })
        @Html.HiddenFor(m => m.ContentType, new { data_field = "ContentType" })
    </td>
</tr>




