@model HospitalAssociationsViewModel
@Html.HiddenFor(m => m.CommunityId)
<button class="float-right" id="close">X</button>
<h2>@Html.DisplayFor(m => m.CommunityName)</h2>
<table id="selectedHospitals">
    <thead>
        <tr>
            <th>Hospital Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var association in Model.Associations)
        {
            <tr id="@association.HospitalId">
                <td>@association.HospitalName</td>
                <td>@Html.CheckBoxFor(m => association.IsAssociated, new { @class = "selectHospital" })</td>
            </tr>
        }
    </tbody>
</table>