@model AtriumWebApp.Models.ViewModel.ProviderListViewModel
@{
    ViewBag.Title = "Providers";
}

<style>
    #errorList {
        display: none;
    }

    .contractManagementTitle {
        text-align: center;
    }

    .fileSelection {
        width: 600px;
    }
</style>
<section class="table-cell">

    <div class="container_16 margin_separator">
        <div class="grid_16">
            <div id="formContent">
                @if (Model.CurrentProvider != null)
                {
                    @Html.Partial("CurrentProvider", Model.CurrentProvider)
                }
            </div>
        </div>
    </div>

    <h3 class="contractManagementTitle">Provider List</h3>

    <div id="errorList" class="validation-summary-errors">
        <label id="errorResult"></label>
    </div>
    <div class="container_16">
        <div class="grid_13">
            @if (Model.CanManage)
            {
                @Html.ActionLink("Create New Vendor/Provider", "CreateProvider", "ContractProvider",null, new { id = "createProvider", @class = "create-link" })
            }
        </div>
        <div class="grid_3">
            @Html.ActionLink("Manage Contracts", "Contracts", "ContractManagement")
        </div>
    </div>
    <div class="container_16">
        <div class="grid_16">
            <table id="contractProvidersTable">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>License</th>
                        <th>License Expires</th>
                        <th>Insurance</th>
                        <th>Policy</th>
                        <th>Insurance Expires</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var provider in Model.Providers)
                    {
                        <tr id="@provider.Id">
                            <td>@Html.ActionLink(provider.Name, "ViewProvider", new { id = provider.Id }, new { @class = "viewProvider" })</td>
                            <td>@provider.LicenseId</td>
                            <td>@(provider.LicenseExpirationDate == null ? "" : provider.LicenseExpirationDate.Value.ToShortDateString()) </td>
                            <td>@provider.InsuranceCompany</td>
                            <td>@provider.InsurancePolicyId</td>
                            <td>@(provider.InsuranceExpirationDate == null ? "" : provider.InsuranceExpirationDate.Value.ToShortDateString())</td>
                            <td>
                                @(Model.CanManage ?
                            @Html.ActionLink("Edit", "EditProvider", new { id = provider.Id }, new { @class = "editProvider" }) :
                            @Html.ActionLink("View", "ViewProvider", new { id = provider.Id }, new { @class = "viewProvider" }))
                            </td>
                            <td>
                                @if (Model.CanManage)
                                {
                                    @Html.ActionLink("Delete", "DeleteProvider", new { id = provider.Id }, new { @class = "deleteProvider" })
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</section>

<environment names="Development">
    <script src="~/lib/jquery-form/src/jquery.form.js"></script>
    <script src="~/lib/autogrow/autogrow.js"></script>
    <script src="~/js/ContractProvider.js" asp-append-version="true"></script>
    <script src="~/js/ContractCommon.js" asp-append-version="true"></script>
</environment>

<environment names="Testing,Production,Training">
    <script src="~/lib/autogrow/autogrow.min.js"></script>
    <script src="~/lib/jquery-form/dist/jquery.form.min.js"></script>
    <script src="~/js/ContractProvider.js" asp-append-version="true"></script>
    <script src="~/js/ContractCommon.js" asp-append-version="true"></script>
</environment>



<script type="text/javascript">
    $(document).ready(function () {
        PreparePage();
    });
</script>


