@model AtriumWebApp.Web.Survey.Models.ViewModel.MockSurveyIndexViewModel
@{
    ViewBag.Title = "Customer Service and Compliance Surveys For Communities";
}
<style>
    .follow-up-link {
        white-space: nowrap;
    }
    textarea {
        width: 100%;
    }
</style>
<section class="table-cell">
    @using (Html.BeginForm("UpdateCurrentCommunity","MockSurvey", FormMethod.Post, new { id = "CommunitySelectionForm" }))
    {
        @Html.LabelFor(m => m.CurrentCommunity)<text>:</text><br />
        @Html.DropDownListFor(m => m.CurrentCommunity, new SelectList(Model.Communities, "CommunityId", "CommunityShortName", Model.CurrentCommunity))
        @Html.Hidden("returnUrl", Context.UrlPath());
    }
</section>
<section class="table-cell">
    <div class="container_16 margin_separator">
        <div class="grid_16">
            <div id="formContent">
                @if (Model.Current is AtriumWebApp.Web.Survey.Models.ViewModel.MockSurveyViewModel)
                {
                    @Html.Partial("_Dashboard", Model.Current)
                }
                else if (Model.Current is AtriumWebApp.Web.Survey.Models.ViewModel.MockSurveyPlanOfCorrectionViewModel)
                {
                    @Html.Partial("_FollowUpDashboard", Model.Current)
                }
            </div>
        </div>
    </div>
    <div class="container_16 bottom_pad">
        <div class="grid_6">
            @Html.ActionLink("Create New Customer Service and Compliance Survey", "Create", null,null, new { id = "create", @class = "create-link" })
        </div>
        <div class="grid_10">
            @using (Html.BeginForm("UpdateRange", "MockSurvey", FormMethod.Post, new { @class = "float-right" }))
            {
                @Html.Hidden("returnUrl", Context.UrlPath());
                <span>
                    Date Range - 
                    @Html.LabelFor(m => m.OccurredRangeFrom):
                    @Html.EditorFor(m => m.OccurredRangeFrom, new { @class = "isDate", size = "10" })
                    @Html.LabelFor(m => m.OccurredRangeTo):
                    @Html.EditorFor(m => m.OccurredRangeTo, new { @class = "isDate", size = "10" })
                </span>
                <input id="submit" name="submit" type="submit" value="Update" />
            }
            @{
                string ToDateRangeInvalid;
                Context.Session.TryGetObject("ToDateRangeInvalid", out ToDateRangeInvalid);
                string ToDateRangeInFuture;
                Context.Session.TryGetObject("ToDateRangeInFuture", out ToDateRangeInFuture);
                string FromDateRangeInvalid;
                Context.Session.TryGetObject("FromDateRangeInvalid", out FromDateRangeInvalid);
                string FromDateRangeInFuture;
                Context.Session.TryGetObject("FromDateRangeInFuture", out FromDateRangeInFuture);
                string FromAfterTo;
                Context.Session.TryGetObject("FromAfterTo", out FromAfterTo);
            }

            @Html.Hidden("ToDateRangeInvalid", ToDateRangeInvalid)
            @Html.Hidden("ToDateRangeInFuture", ToDateRangeInFuture)
            @Html.Hidden("FromDateRangeInvalid", FromDateRangeInvalid)
            @Html.Hidden("FromDateRangeInFuture", FromDateRangeInFuture)
            @Html.Hidden("FromAfterTo", FromAfterTo)
        </div>
    </div>
    <div class="container_16">
        <div class="grid_16">
            <table id="MockSurveys">
                <thead>
                    <tr>
                        <th>Open Date</th>
                        <th>Closed Date</th>
                        <th>Follow-up Date</th>
                        <th>Plan of Correction Complete Date</th>
                        <th>Follow-up Complete Date</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                    <tr id="@item.Id">
                        <td>@item.MockSurveyDate.ToShortDateString()</td>
                        <td>@(item.IsClosed ? item.ClosedDate.Value.ToShortDateString() : string.Empty)</td>
                        <td>@(item.FollowUpDate.HasValue ? item.FollowUpDate.Value.ToShortDateString() : string.Empty)</td>
                        <td>@(item.IsPlanOfCorrectionComplete ? item.PlanOfCorrectionCompleteDate.Value.ToShortDateString() : string.Empty)</td>
                        <td>@(item.IsFollowUpComplete ? item.FollowUpDate.Value.ToShortDateString() : string.Empty)</td>
                        <td>
                            @if (!item.IsClosed || Model.CanEditClosed)
                            {
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "edit-link" })
                            }
                        </td>
                        <td>
                            @if (!item.IsClosed || Model.CanDeleteClosed)
                            {
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "delete-link" })
                            }
                        </td>
                        <td>
                            @if (item.IsClosed && item.IsPlanOfCorrectionComplete)
                            {
                                @Html.ActionLink("Follow-up", "FollowUp", new { id = item.Id }, new { @class = "follow-up-link" })
                            }
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>
<environment names="Development">
    <script src="~/js/MockSurvey.js" asp-append-version="true"></script>
</environment>
<environment names="Testing,Production,Training">
    <script src="~/js/MockSurvey.min.js" asp-append-version="true"></script>
</environment>

<script type="text/javascript">
    $(document).ready(function () {
        PreparePage('@Url.Action("Index", "MockSurvey")');
    });
</script>
