@model AtriumWebApp.Web.Financial.Models.ViewModel.BudgetViewModel
@{
    ViewBag.Title = "Manage Budget";
}
<style>
    .ItemDescription {
        resize: none;
    }

    .delete-item,
    .delete-item-new {
        padding: 0 5px;
    }

    input[readonly], textarea[readonly] {
        background-color: lightgray;
    }

    select.input-validation-error {
        border: 1px solid red;
    }

    textarea.input-validation-error {
        border: 1px solid red;
    }

    #purchaseItems th {
        padding-right: 10px;
    }

    textarea {
        width: 100%;
    }

    .vendorModal {
        width: 700px;
        display: none;
        position: fixed;
        background-color: #EFEEEF;
        z-index: 999;
    }

    .note {
        padding-top: 6px;
        margin-bottom: 6px;
        border-top: 1px solid #949494;
        border-bottom: 1px solid #949494;
    }
    /*#VendorId {
        width: 200px;
    }*/
    /*Chosen overrides*/
    .chosen-container-single .chosen-single {
        height: 17px;
        line-height: 18px;
        padding: 0 0 4px 6px;
    }

    .chosen-container-single .chosen-single,
    .chosen-container-single .chosen-drop,
    .chosen-container-active.chosen-with-drop .chosen-single {
        border-radius: 0px;
        border-color: #707070;
        color: #212121;
    }

    .fileSelection {
        width: 600px;
    }

    #formContent {
        border-bottom: 1px solid black;
        margin-bottom: 15px;
        padding-bottom: 15px;
    }
</style>
<section class="table-cell">
    @using (Html.BeginForm("UpdateCurrentCommunity", "PurchaseOrder", FormMethod.Post, new { id = "CommunitySelectionForm" }))
    {
        @Html.LabelFor(m => m.CurrentCommunity)<text>:</text><br />
        @Html.DropDownListFor(m => m.CurrentCommunity, new SelectList(Model.Communities, "CommunityId", "CommunityShortName", Model.CurrentCommunity))
        @Html.Hidden("returnUrl", Context.UrlPath());
    }
</section>
<section class="table-cell">
    <div class="container_16 margin_separator">
        <div class="grid_16">
            @Html.ActionLink("Back to Purchase Order", "Index", "PurchaseOrder")
            <div id="formContent">

                <h2>Manage Budget</h2>
                @Html.DropDownListFor(b => b.BudgetYear, new SelectList(Model.BudgetYears, "Value", "Key", Model.BudgetYears.FirstOrDefault(y => y.Value == Model.BudgetYear)), new { id = "budgetYear", data_field = "SelectedYear", @class = "SelectedYear" }) Capital Budget -  @Model.Community.CommunityFullName
                <p>
                    Number of Beds: @Html.TextBoxFor(m => m.BedCount)
                    Amount per Bed: @Html.TextBoxFor(m => m.AmtPerBed, new { Value = String.Format("{0:0.00}", Model.AmtPerBed) })
                    @*Emergency Budget: @Html.TextBoxFor(m => m.EmergencyBudgetAmt, new { Value = String.Format("{0:0.00}", Model.EmergencyBudgetAmt) })*@
                    @*Available Funds: <input id="baseAmt" value="@Model.PreviousYearRolloverAmt" type="text">*@
                    @*Previous Year Rollover Amount: <input id="rolloverAmt" value="@Model.PreviousYearRolloverAmt" type="text">*@
                    <button id="saveBudgetData">Save</button>
                </p>
                <br />
                
                <table id="budgetTable">
                    <thead>
                        <tr>
                            <th>Quarter</th>
                            <th>Description</th>
                            <th>Amount</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>

                    <tfoot id="budget-table-foot" class="hidden">
                        <tr>
                            <td>Total</td>
                            <td></td>
                            <td><span id="budget-total-cell"></span></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tfoot>

                </table>
                <br />
            </div>
            <div id="budgetItemView" class="hidden">
                <input id="budgetYearTxt" value="@Model.BudgetYear" type="text" size="6" disabled />
                @Html.DropDownList("BudgetQtr", new SelectList(Model.BudgetQuarters, "Value", "Key", Model.BudgetQuarters.First()), new { id = "budgetQuarter", data_field = "SelectedQuarter", @class = "SelectedQuarter" })
                @Html.Editor("BudgetItem", "EditBudgetItem")
            </div>
            <p><a href="#" class="add-budget-item">Add a Budget Item</a></p>
            <a href="#" class="update-emergency-budget">Update Emergency Budget</a>
        </div>
    </div>
    
    <div id="popupModal">
        <button class="float-right" id="btnModalClose">X</button>
        <h2 id="modalTitle" class="margin_separator" style="text-align: center">
            Emergency Budget for <span id="modalBudgetYearTxt">@Model.BudgetYear</span>
        </h2>
        <div style="text-align: center">
                @*<input id="modalBudgetYearTxt" value="@Model.BudgetYear" type="text" size="6" disabled />*@
                @Html.TextBoxFor(m => m.EmergencyBudgetAmt, new { Value = String.Format("{0:0.00}", Model.EmergencyBudgetAmt) }) <br />



        </div>
            
            <br />
            <div class="container_16 margin_separator">
                <div class="grid_4">&nbsp;</div>
                <div class="grid_2">
                    <button type="button" id="btnModalSave">Save</button>
                </div>
                <div class="grid_2">
                    <button type="button" id="btnModalClear">Cancel</button>
                </div>
            </div>
    </div>
</section>
<environment names="Development">
    <script src="~/lib/jquery-form/src/jquery.form.js"></script>
    <script src="~/lib/autogrow/autogrow.js"></script>
    <script src="~/lib/chosen/chosen.jquery.js"></script>
    <script src="~/js/ManageBudget.js"></script>
</environment>

<environment names="Testing,Production,Training">
    <script src="~/lib/autogrow/autogrow.min.js"></script>
    <script src="~/lib/jquery-form/dist/jquery.form.min.js"></script>
    <script src="~/lib/chosen/chosen.jquery.js"></script>
    <script src="~/js/ManageBudget.js"></script>
</environment>

<script type="text/javascript">
    $(document).ready(function () {
        $("#CurrentCommunity").change(function () {
            var community = $('#CurrentCommunity').val();
            if (community != '') {
                $('#CommunitySelectionForm').submit();
            }
        });
    });
    $(document).ready(PrepareBudgetTable);
</script>
