@model AtriumWebApp.Models.ViewModel.ContractCommunityViewModel
<tr>
    <td>
        @Html.HiddenFor(m => m.CommunityId, new { data_field = "CommunityId" })
        @Html.HiddenFor(m => m.ContractInfoId, new { data_field = "ContractInfoId" })
        @Html.DropDownListFor(m => m.CommunityId, new SelectList(Model.Communities, "CommunityId", "CommunityShortName", Model.CommunityId), new { data_field = "SelectedCommunity", @class = "SelectedCommunity", disabled = "disabled" })
    </td>
    <td>
        @Html.TextBoxFor(x => x.StartDate, new { size = "10", data_field = "StartDate", @class = "isDate", disabled = "disabled" })
    </td>
    <td>
        @Html.TextBoxFor(x => x.EndDate, new { size = "10", data_field = "EndDate", @class = "isDate", disabled = "disabled" })
    </td>
    <td>
        @Html.DropDownListFor(m => m.ContractRenewalId, new SelectList(Model.Renewals, "Id", "Name", null), new { data_field = "ContractRenewalId", disabled = "disabled" })
    </td>
    <td>
        @Html.DropDownListFor(m => m.ContractTerminationNoticeId, new SelectList(Model.TerminationNotices, "Id", "Name", null), new { data_field = "ContractTerminationNoticeId", disabled = "disabled" })
    </td>
    <td>
        @Html.DropDownListFor(m => m.ContractPaymentTermId, new SelectList(Model.PaymentTerms, "Id", "Name", null), new { data_field = "ContractPaymentTermId", disabled = "disabled" })
    </td>
    <td></td>
    <td>@Html.TextBoxFor(x => x.CredentialingDate, new { size = "10", data_field = "CredentialingDate", @class = "isDate", disabled = "disabled" })</td>
    <td>@Html.TextBoxFor(x => x.ReCredentialingDate, new { size = "10", data_field = "ReCredentialingDate", @class = "isDate", disabled = "disabled" })</td>
    <td>@Html.CheckBoxFor(m => m.ArchiveFlg, new { data_field = "ArchiveFlg", disabled = "disabled" })</td>
    <td></td>
</tr>


<script type="text/javascript">
    $(document).ready(function () {
        if ($('input[type=checkbox][id^=ContractCommunities_][id$=__ArchiveFlg]').length > 0) {
            var allCommunitiesChecked = true;
            $('input[type=checkbox][id^=ContractCommunities_][id$=__ArchiveFlg]').each(function (i, elem) {
                if ($(elem).prop('checked') == false) {
                    allCommunitiesChecked = false;
                    return false;
                }
            });
            $('input#AllArchiveFlg').prop('checked', allCommunitiesChecked);
        }
    });
</script>