@model AtriumWebApp.Models.ViewModel.ContractDocumentViewModel
<tr>
    <td>
        @Html.ActionLink(Model.FileName, "StreamContractDocument", new { id = Model.Id, disabled = "disabled" })

        @Html.HiddenFor(m => m.Id, new { data_field = "Id" })
        @Html.HiddenFor(m => m.FileName, new { data_field = "FileName" })
        @Html.HiddenFor(m => m.ContentType, new { data_field = "ContentType" })
        @Html.HiddenFor(m => m.ContractId, new { data_field = "ContractId" })
    </td>
    <td>
        @Html.CheckBoxFor(m => m.ArchiveFlg, new { data_field = "ArchiveFlg", disabled = "disabled" })
    </td>
</tr>