@model List<AtriumWebApp.Models.Employee>

@{
    var rnList = ViewBag.rnList as List<string>;
    var lpnList = ViewBag.lpnList as List<string>;
    var cnaList = ViewBag.cnaList as List<string>;
    var employeeList =
                Model.Select(x => new SelectListItem() { Value = x.EmployeeId.ToString(), Text = x.LastName + ", " + x.FirstName })
                            .ToList<SelectListItem>().OrderBy(a => a.Text);
}
<style>
    .jobDialog label{
        font-weight:bolder;
    }
</style>
<select asp-items="employeeList" id="employeeJobSelector">
    <option value="">Select to View Employee Jobs</option>
</select>
<button id="viewEmployeeJobs" disabled="disabled">View Employee Jobs</button>

@foreach (var employee in Model)
{
    <div id="employeeJob@(employee.EmployeeId)" class="jobDialog" style="display:none">
        <h1>Job listings for @employee.LastName, @employee.FirstName</h1>
        <table class="jobTable">
            <thead>
                <tr>
                    <td class="bold">
                        Job Description
                    </td>
                    <td class="bold">
                        GL Account
                    </td>
                    <td class="bold">
                        Primary?
                    </td>
                    <td class="bold">
                        Nursing Role
                    </td>
                    <td class="bold">
                        Start Date
                    </td>
                    <td class="bold">
                        Stop Date
                    </td>
                </tr>
            </thead>
            <tbody>
                @foreach (var job in employee.JobClasses)
                {
                    <tr>
                        <td>
                            @job.JobClass.JobDescription
                        </td>
                        <td>
                            @job.GLAccount.AccountNbr - @job.GLAccount.AccountName
                        </td>
                        <td>
                            @(job.PrimaryFlg ? "Yes" : "No")
                        </td>
                        <td>
                            @if (rnList.Contains(job.GLAccount.AccountNbr))
                            {
                                <span>RN </span>
                            }
                            @if (lpnList.Contains(job.GLAccount.AccountNbr))
                            {
                                <span>LPN </span>
                            }
                            @if (cnaList.Contains(job.GLAccount.AccountNbr))
                            {
                                <span>CNA </span>
                            }
                        </td>
                        <td>
                            @job.StartDate.ToString("d")
                        </td>
                        <td>
                            @job.StopDate.ToString("d")
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

<script>

    $("#employeeJobSelector").on("change", function () {
        var id = $(this).val();
        if (id != "") {
            $("#viewEmployeeJobs").removeAttr("disabled");
            $("#employeeJob" + id).dialog({
                width: 850,
                height: "auto",
                resizable: false,
                modal: true,
                open: function () {
                    $(this).find(".jobTable").dataTable({
                        "bDestroy": true,
                        "bFilter": false,
                        "bAutoWidth": false,
                        "sScrollY": "70px",
                        "sDom": "frtS",
                        "iDisplayLength": -1,
                    });
                }
            });
        }
        else {
            $("#viewEmployeeJobs").attr("disabled","disabled");

        }

    });
    $("#viewEmployeeJobs").on("click", function () {
        var id = $("#employeeJobSelector").val();
        $("#employeeJob" + id).dialog();
    });
</script>