@model AtriumWebApp.Web.Home.Models.ViewModels.AdminUserAppListViewModel

@{
    ViewBag.Title = "UserAccess";
}

<h2>UserAccess</h2>
<style>
    #userAutoList {
        width: 300px;
    }

    .accessContainer, .multiSelectContainers {
        display: inline-block;
    }

    #currentObjectCommunitiesContainer, .accessContainer, #currentCommunitiesContainer {
        border: solid thin gray;
    }

    .accessContainer {
        max-width: 550px;
    }

    .multiSelectContainers {
        max-width: 500px;
        padding-left: 40px;
        vertical-align:top;
    }

    .adminTabNav {
        border-bottom: solid thin gray;
    }

    .dataTables_scrollHead {
        border-bottom: solid thin black !important;
    }

    table.dataTable {
    }

        table.dataTable thead th {
            border: none;
        }

    .tableHead {
        border-bottom: solid thin black;
    }

    .borderRow:hover{
        cursor:pointer;
    }

    .borderRow {
        border-left: solid 4px transparent;
        border-right: solid 4px transparent;
        border-top: solid 4px transparent;
    }

    #objectAccess thead {
        display: none;
    }

    #adminAccessContainer {
        width: auto;
        max-width: none;
    }

    #applicationAccess {
        /*border-collapse:separate;*/
    }

        #applicationAccess thead {
            display: none;
        }

    .highlight {
        border: solid 4px yellow;
    }

    table.dataTable {
        border-collapse: collapse;
        margin-left: -4px;
    }

        table.dataTable tr.odd {
            background-color: #E2E4FF;
        }

        table.dataTable tr.even {
            background-color: white;
        }

    .no-footer.dataTables_wrapper .dataTables_scrollBody {
        border-bottom: none;
    }
    .adminRow:hover{
        cursor:default;
    }
</style>
@{ 
    string selectedUserValue = "422";
    string selectedUserDisplay = "cardinal (Cardinal Solutions)";
    if (Model.SelectedUser.HasValue)
    {
        var user = Model.UserList.FirstOrDefault(a => a.BusinessUserId == Model.SelectedUser.Value);
        if (user != null)
        {
            selectedUserValue = Model.SelectedUser.Value.ToString();
            selectedUserDisplay = user.AccountName + " (" + user.DisplayName + ")";
        }
        else
        {
            <script>
                alert("User ID is not valid.");
            </script>
        }
        //user.AccountName (@user.DisplayName
    }
}
<input type="hidden" id="UserList" value="@selectedUserValue" />
<input type="text" id="userAutoList" value="@selectedUserDisplay" />
<br />
<div id="tabs" style="min-height:500px">
    <ul class="adminTabNav">
        <li><a href="#General">General Access</a></li>
        <li><a href="#Object">Object Access</a></li>
        <li><a href="#Admin">Admin Access</a></li>
    </ul>
    <div id="General">
        <div id="applicationAccessContainer" class="accessContainer">
            <table id="applicationAccess">
                <thead>
                    <tr>
                        <th>
                            Application Name
                        </th>
                        <th>
                            Application Code
                        </th>
                        <th>
                            Application Group
                        </th>
                        <th>
                            Has Access
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var application in Model.ApplicationList)
    {
                        <tr class="borderRow" id="application@(application.ApplicationId)" appid="@application.ApplicationId">
                            <td>
                                @application.ApplicationName
                            </td>
                            <td>
                                @application.ApplicationCode
                            </td>
                            <td>
                                @application.MasterApplicationGroup.ApplicationGroupName
                            </td>
                            <td>
                                <i class="fa fa-times-circle notExists" style="color:red;display:none;" aria-hidden="true"></i>
                                <i class="fa fa-check-square-o exists" aria-hidden="true" style="color:green;display:none;"></i>
                                @*<input type="checkbox" disabled="disabled" />*@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="multiSelectContainers" id="communitySection" style="display:none;">
            <div id="currentCommunitiesContainer" style="width:600px;display:inline-block">
                <table id='communityTable'>
                    <thead>
                        <tr>
                            <th>Community</th>
                            <th>App Flag</th>
                            <th>Report Flag</th>
                            <th>Delete</th>
                            <th>Row Exists</th>
                        </tr>
                        <tr>
                            <td>All</td>
                            <td><input type='checkbox' id='AllApps' /></td>
                            <td><input type='checkbox' id='AllReport' /></td>
                            <td><input type='checkbox' id='AllDelete' /></td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var comm in Model.CommunityList)
                        {
                            <tr commId="@comm.CommunityId">
                                <td>
                                    @comm.CommunityShortName
                                </td>
                                <td>
                                    <input type='checkbox' class='appFlag' />
                                </td>
                                <td>
                                    <input type='checkbox' class='reptFlag' />
                                </td>
                                <td>
                                    <input type='checkbox' class='deleteFlag' />
                                </td>
                                <td>
                                    <i class="fa fa-times-circle notExists" style="color:red;display:none;" aria-hidden="true"></i>
                                    <i class="fa fa-check-square-o exists" aria-hidden="true" style="color:green;display:none;"></i>
                                    <input type='checkbox' class='rowExists' disabled='disabled' style="display:none;" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <div id="Object">
        <div id="objectAccessContainer" class="accessContainer">
            <table id="objectAccess">
                <thead class="tableHead">
                    <tr>
                        <th>
                            Object Description
                        </th>
                        <th>
                            Object Code
                        </th>
                        <th>
                            Application Name
                        </th>
                        <th>
                            Has Access
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var objectAccess in Model.ObjectAccessList)
                    {
                        <tr id="object@(objectAccess.ObjectPermissionId)" class="borderRow" objectid="@objectAccess.ObjectPermissionId" appId="@objectAccess.ApplicationId">
                            <td>
                                @objectAccess.ObjectDesc
                            </td>
                            <td>
                                @objectAccess.ObjectCode
                            </td>
                            <td>
                                @objectAccess.Application.ApplicationName
                            </td>
                            <td>
                                <i class="fa fa-times-circle notExists" style="color:red;display:none;" aria-hidden="true"></i>
                                <i class="fa fa-check-square-o exists" aria-hidden="true" style="color:green;display:none;"></i>
                                @*<input type="checkbox" disabled="disabled" />*@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="multiSelectContainers" id="objectCommunitySection" style="display:none;">
            <div id="currentObjectCommunitiesContainer" style="display:inline-block">
                <table id='communityObjTable'>
                    <thead>
                        <tr>
                            <th>Community</th>
                            <th>Access Flag</th>
                            <th>Delete</th>
                            <th>Row Exists</th>
                        </tr>
                        <tr>
                            <td>All</td>
                            <td><input type='checkbox' id='AllObjAccess' /></td>
                            <td><input type='checkbox' id='AllObjDelete' /></td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var comm in Model.CommunityList)
                        {
                            <tr objcommid="@comm.CommunityId">
                                <td>
                                    @comm.CommunityShortName
                                </td>
                                <td>
                                    <input type='checkbox' class='accessFlag' />
                                </td>
                                <td>
                                    <input type='checkbox' class='deleteObjFlag' />
                                </td>
                                <td>
                                    <i class="fa fa-times-circle notExists" style="color:red;display:none;" aria-hidden="true"></i>
                                    <i class="fa fa-check-square-o exists" aria-hidden="true" style="color:green;display:none;"></i>
                                    <input type='checkbox' class='rowExists' disabled='disabled' style="display:none;" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div id="Admin">
        <div id="adminAccessContainer" class="accessContainer">
            <table id="adminAccess">
                <thead>
                    <tr>
                        <th>
                            Application Name
                        </th>
                        <th>
                            Application Code
                        </th>
                        <th>
                            Application Group
                        </th>
                        <th>
                            Is Admin
                        </th>
                        <th>
                            Delete
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var application in Model.ApplicationList)
                    {
                        <tr class="borderRow adminRow" id="adminapplication@(application.ApplicationId)" adminappid="@application.ApplicationId">
                            <td>
                                @application.ApplicationName
                            </td>
                            <td>
                                @application.ApplicationCode
                            </td>
                            <td>
                                @application.MasterApplicationGroup.ApplicationGroupName
                            </td>
                            <td>
                                <input class="isAdmin" type="checkbox" />
                            </td>
                            <td>
                                <input class="deleteAdmin" type="checkbox" />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<script>
    var userList = [
        @foreach(var user in Model.UserList.OrderBy(a => a.AccountName).ToList())
        {
            @:{ label: "@user.AccountName (@user.DisplayName)", value: "@user.BusinessUserId" },
        }
    ];
    var communityList = [
        @foreach(var community in Model.CommunityList.OrderBy(a => a.CommunityShortName).ToList())
        {
            @:{ id: "@community.CommunityId", display: "@community.CommunityShortName" },
        }
    ];
</script>
<environment names="Development">
    <script src="~/js/UserAdmin.js" asp-append-version="true"></script>
</environment>
<environment names="Testing,Production,Training">
    <script src="~/js/UserAdmin.min.js" asp-append-version="true"></script>
</environment>

