@using AtriumWebApp.Models;
<section class="left-column-picker" style="height: 500px">
    @{
        string SKCLookbackDate;
        Context.Session.TryGetObject("SKCLookbackDate", out SKCLookbackDate);
        string SKCCurrentFacility;
        Context.Session.TryGetObject("SKCCurrentFacility", out SKCCurrentFacility);
        string SKCCurrentFacilityStateCode;
        Context.Session.TryGetObject("SKCCurrentFacilityStateCode", out SKCCurrentFacilityStateCode);
        string CensusDateInvalid;
        Context.Session.TryGetObject("CensusDateInvalid", out CensusDateInvalid);
        string CensusDateInFuture;
        Context.Session.TryGetObject("CensusDateInFuture", out CensusDateInFuture);
        IList<Community> SKCFacilityList;
        Context.Session.TryGetObject("SKCFacilityList", out SKCFacilityList);
        IList<Patient> SKCResidentList;
        Context.Session.TryGetObject("SKCResidentList", out SKCResidentList);
        string SKCCurrentResidentIdString;
        Context.Session.TryGetObject("SKCCurrentResidentIdString", out SKCCurrentResidentIdString);
        string SKCCurrentResidentName;
        Context.Session.TryGetObject("SKCCurrentResidentName", out SKCCurrentResidentName);
        string SKCCurrentResidentFacility;
        Context.Session.TryGetObject("SKCCurrentResidentFacility", out SKCCurrentResidentFacility);
        string SKCCurrentResidentRoom;
        Context.Session.TryGetObject("SKCCurrentResidentRoom", out SKCCurrentResidentRoom);
        string SKCCurrentResidentBirthdate;
        Context.Session.TryGetObject("SKCCurrentResidentBirthdate", out SKCCurrentResidentBirthdate);
        string SKCCurrentResidentAdmitDate;
        Context.Session.TryGetObject("SKCCurrentResidentAdmitDate", out SKCCurrentResidentAdmitDate);
        string SKCCurrentResidentCensusDate;
        Context.Session.TryGetObject("SKCCurrentResidentCensusDate", out SKCCurrentResidentCensusDate);
    }
    @using (Html.BeginForm("Lookback", "SkilledCharting", FormMethod.Post, new { id = "Lookback" }))
    {
        @Html.Label("Last Census Date:")<br />
        @Html.TextBox("LookbackDate", SKCLookbackDate, new { @class = "dateUS", size = "10" })
        @Html.Hidden("returnUrl", Context.UrlPath());
        @Html.Hidden("CurrentCommunity", SKCCurrentFacility)
        <input type="submit" value="Update" onclick="" /> 
    }
    @Html.Hidden("CensusDateInvalid", CensusDateInvalid)
    @Html.Hidden("CensusDateInFuture", CensusDateInFuture)
    @using (Html.BeginForm("SideDDL", "SkilledCharting", FormMethod.Post, new { id = "SideDDL" }))
    {
        @Html.Label("Community:")<br />
        @Html.DropDownList("Communities", SKCFacilityList as SelectList, new { id = "Communities" })
        <br />
        <br />
        @Html.Label("Resident:")<br />
        @Html.DropDownList("Residents", SKCResidentList as SelectList, "Select a Resident", new { id = "Residents", onselectedindexchanged = "this.form.submit();" })
        <br />
        @Html.Hidden("returnUrl", Context.UrlPath());
    }

    @Html.Hidden("CurrentResidentId", SKCCurrentResidentIdString)

    @if (SKCCurrentResidentName == null)
    {
        <br />
        <div style="color: red; font-weight: bold;">Please choose a Resident</div>
    }
    <br />@Html.Label("","Current Resident", new { style = "font-weight: bold" })
    <p>
        Name/Community:
        <br />@SKCCurrentResidentName
        <br />@SKCCurrentResidentFacility
    </p>
    <p>Rm#: @SKCCurrentResidentRoom</p>
    <p>Birthdate: @SKCCurrentResidentBirthdate</p>
    <p>Admit Date: @SKCCurrentResidentAdmitDate</p>
    <p>Last Census Date: @SKCCurrentResidentCensusDate</p>
    @*<p>
        Admission Diagnosis:<br />
        @SKCCurrentResidentAdmissionDiagnosis
    </p>
    <p>
        Diagnosis:
        <br />
        1. @SKCCurrentResidentDiagnosis1
        <br />
        2. @SKCCurrentResidentDiagnosis2
        <br />
        3. @SKCCurrentResidentDiagnosis3
    </p>*@
</section>

<script type="text/javascript">
    $(document).ready(function () {
        $("#LookbackDate").datepicker({
            beforeShow: function (textbox, instance) {
                instance.dpDiv.css({
                    marginTop: '10px',
                    marginLeft: '0px'
                });
            }
        });

        $(function () {
            if ($("#CensusDateInvalid").val() == "1") {
                alert("Error: Please enter a valid Last Census Date (mm/dd/yyyy)");
            }
            if ($("#CensusDateInFuture").val() == "1") {
                alert("Error: You can not have a Census date that is in the future");
            }
        });

        var currentCommunity = $("#CurrentCommunity").val();
        $("#Communities").val(currentCommunity);

        var currentResident = $("#CurrentResidentId").val();
        $("#Residents").val(currentResident);

        $("#Residents").change(function () {
            var resident = $("#Residents option:selected").val();
            if (resident != "") {
                $("#SideDDL").submit();
            }
        });

        $("#Communities").change(function () {
            ShowProgress();
            $.post(path + "/Base/ChangeCommunityForResident", { appCode: "SKC", facilityId: $("#Communities option:selected").val() }).done(function () {
                window.location.reload();
            });
        });
    });
</script>