@model AtriumWebApp.Web.HR.Models.STNATrainingFacility

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>STNATrainingFacility</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TrainingFacilityName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TrainingFacilityName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Address1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Address2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.City)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.City)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StateCd)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StateCd)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ZipCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ZipCode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ContactName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContactName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ContactPhone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContactPhone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ContactEmail)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContactEmail)
    </div>

    <div class="display-field">
        @*@Html.HiddenFor(model => model.InsertedDate)*@
    </div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.STNATrainingFacilityId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
