@model AtriumWebApp.Web.HR.Models.STNATrainingFacilityInteraction

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>STNATrainingFacilityInteraction</legend>
    @Html.HiddenFor(model => model.STNATrainingFacilityInteractionId)
    <div class="display-field">
        @Html.Label("STNA Training Facility") <br />

        @Html.HiddenFor(model => model.STNATrainingFacilityId)
        @Html.DropDownList("STNATrainingFacilityList", ViewData["STNATrainingFacilityList"] as SelectList, new { @disabled = true })
    </div>

    <div class="display-field">
        @Html.Label("STNA Training Action Item") <br />
        @Html.DropDownListFor(model => model.STNATrainingActionItemId, ViewData["STNATrainingActionItemList"] as SelectList, new { @disabled = true })
    </div>

    <div class="display-field">
        @Html.Label("Interaction Date") <br />
        @String.Format("{0:d}", Model.InteractionDate)
        
    </div>

</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
