@model AtriumWebApp.Web.HR.Models.STNATrainingFacilityNote

@{
    ViewBag.Title = "Edit Training Facility Note";
}

<h2>Edit Training Facility Note</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>STNATrainingFacilityNote</legend>

        @Html.EditorForModel()
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script>
    $(document).ready(function () {
        $(".isDate").datepicker();
        $("#STNATrainingFacilityList").val(@Model.STNATrainingFacilityId);
    });
</script>
