@model AtriumWebApp.Web.HR.Models.EmployeeNewHire

<label asp-for="CompletedFlg"></label>
<input asp-for="CompletedFlg" data-info-id="@Model.EmployeeNewHireId" />
<table id="newHireChecklistTable">
    <thead>
        <tr>
            <th></th>
            <th>
                Check List
            </th>
            <th>
                File
            </th>
            <th>
                File Count
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var checklist in Model.CheckList)
        {
            var viewModel = new AtriumWebApp.Web.HR.Models.ViewModel.DocumentViewModel() { ParentId = checklist.EmployeeNewHireChecklistId };
            <tr checklistId="@checklist.EmployeeNewHireChecklistId">
                <td>
                    <div class="glyphicon glyphicon-plus-sign text-success expandRows"></div>
                    <div class="glyphicon glyphicon-minus-sign text-danger retractRows" style="display:none;"></div>
                </td>
                <td>
                    @checklist.CheckListInfo.CheckListName
                </td>
                <td>
                    @Html.EditorFor(a => viewModel)
                </td>
                <td>
                    @checklist.Documents.Count
                </td>
            </tr>
            <tr style="display:none" parentId="@checklist.EmployeeNewHireChecklistId" class="fileListing">
                <td></td>
                <td></td>
                <td>
                    @foreach (var checklistDocument in checklist.Documents)
                    {
                        var document = (AtriumWebApp.Web.HR.Models.ViewModel.DocumentViewModel)checklistDocument;
                        @Html.EditorFor(a => document)
                    }
                </td>
                <td></td>
            </tr>

        }
    </tbody>
</table>