@model AtriumWebApp.Web.PayrollTransfer.Models.EmployeePayrollTransfer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>EmployeePayrollTransfer</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EmployeeId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmployeeId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SourceCommunityId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SourceCommunityId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SourceGeneralLedgerId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SourceGeneralLedgerId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TransferDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TransferDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DestinationGeneralLedgerId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DestinationGeneralLedgerId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DestinationCommunityId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DestinationCommunityId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HourCnt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HourCnt)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PayAmt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PayAmt)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PayType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PayType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PBJOnlyFlg)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PBJOnlyFlg)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
