@model AtriumWebApp.Models.ViewModel.ProviderContactViewModel
<tr>
    <td>@Html.TextBoxFor(m => m.Name, new { size = "10", data_field = "Name" })</td>
    <td>@Html.TextBoxFor(m => m.Title, new { size = "10", data_field = "Title" })</td>
    <td>@Html.TextBoxFor(m => m.Phone, new { size = "10", data_field = "Phone" })</td>
    <td>@Html.TextBoxFor(m => m.CellPhone, new { size = "10", data_field = "CellPhone" })</td>
    <td>@Html.TextBoxFor(m => m.Fax, new { size = "10", data_field = "Fax" })</td>
    <td>@Html.TextBoxFor(m => m.Email, new { size = "10", data_field = "Email" })</td>
    <td>@Html.DropDownListFor(m => m.ProviderContactTypeId, new SelectList(Model.ProviderContactTypes, "Id", "Name", Model.ProviderContactTypeId), new { data_field = "ProviderContactTypes", @class = "ProviderContactTypes" })</td>
    
    <td>
        <button type="button" class="delete-item">&times;</button>
        @Html.HiddenFor(m => m.Id, new { data_field = "Id" })
        @Html.HiddenFor(m => m.ContractProviderId, new { data_field = "ContractProviderId" })
        @Html.HiddenFor(m => m.ProviderContactTypeId, new { data_field = "ProviderContactTypeId" })
    </td>
</tr>