@model List<Equipment>

<table id="equipmentTable">
    <thead>
        <tr>
            <th>
                Equipment
            </th>
            <th>
                Serial#
            </th>
            <th>
                Model#
            </th>

            <th>
                Vendor Name
            </th>
            <th>
                Purchase Date
            </th>
            <th>
                Install Date
            </th>
            <th>
                Condition
            </th>
            <th>
                Decomissioned
            </th>
            <th class="noSort"></th>
            <th class="noSort"></th>
            <th class="noSort"></th>
            <th class="noSort"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var equipment in Model)
        {
            <tr>
                <td>
                    @equipment.Description
                </td>
                <td>
                    @equipment.SerialNbr
                </td>
                <td>
                    @equipment.ModelNbr
                </td>

                <td>
                    @equipment.Vendor.VendorName
                </td>
                <td>
                    @equipment.PurchaseDate.ToString("MM/dd/yyyy")
                </td>
                <td>
                    @equipment.InstalledDate.ToString("MM/dd/yyyy")
                </td>
                <td>
                    @equipment.Condition
                </td>
                <td>
                    @if (equipment.DecommissionedFlg)
                    {
                        @:Yes
                    }
                    else
                    {
                        @:No
                    }
                </td>
                <td>
                   @Html.ActionLink("Details", "EquipmentDetails", new { equipmentId = equipment.EquipmentId }, new { @class = "details" })
                </td>
                <td>
                    @Html.ActionLink("Add Repair", "EditRepair", new { equipmentId = equipment.EquipmentId }, new { @class = "newRepair" })
                </td>
                <td>
                    @Html.ActionLink("Add Plan", "EditMaintenancePlan", new { equipmentId = equipment.EquipmentId }, new { @class = "newPlan" })
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditEquipment", new { equipmentId = equipment.EquipmentId, communityId = equipment.CommunityId }, new { @class = "edit" })
                </td>
            </tr>

        }
    </tbody>
</table>