@model List<EquipmentMaintenancePlan>

<table class="planTable">
    <thead>
        <tr>
            <th class="planId">
                Plan Id
            </th>
            <th class="planEquipment">
                Equipment
            </th>
            <th class="planDescription">
                Description
            </th>
            <th class="planDueDate">
                Next Due Date
            </th>
            <th class="planInterval">
                Interval
            </th>
            <th class="noSort">
                @*Add Inspection*@
            </th>
            <th class="noSort">
                @*Edit*@
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var plan in Model)//.Equipment.SelectMany(a => a.MaintenancePlans).Where(a => a.GetNextMaintenanceDate() >= DateTime.Now))
        {
            <tr planId="@plan.EquipmentMaintenancePlanId">
                <td>
                    @plan.EquipmentMaintenancePlanId
                </td>
                <td>
                    @plan.Equipment.Description
                </td>
                <td>
                    @plan.Description
                </td>
                <td>
                    @plan.NextInspectionDate.ToString("MM/dd/yyyy")
                </td>
                <td>
                    @plan.Interval
                </td>
                <td>
                    @Html.ActionLink("Add Inspection", "EditInspection", new { planId = plan.EquipmentMaintenancePlanId }, new { @class = "newInspection" })
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditMaintenancePlan", new { equipmentId = plan.EquipmentId, planId = plan.EquipmentMaintenancePlanId }, new { @class = "edit" })
                </td>
            </tr>
        }
    </tbody>
</table>