@model AtriumWebApp.Web.PayrollTransfer.Models.ViewModel.ContractorPayrollEntryViewModel
@{

    var sourceGLList = new SelectList(Model.GLAccounts.Select(a => new SelectListItem()
    {
        Text = a.AccountNbr + " - " + a.AccountName,
        Value = a.GeneralLedgerId.ToString()
    }).OrderBy(a => a.Text), "Value", "Text", Model.SourceGeneralLedgerId);
}
<div class="contractor-payroll-item">
    <div>
        @Html.HiddenFor(m => m.Id, new { @class = "item-id" })
        <div class="display-field">
            @Html.Label("Community")
            @Html.DropDownListFor(m => m.SourceCommunity, new SelectList(Model.Communities, "CommunityId", "CommunityShortName", Model.SourceCommunity), "Select a Community", new { @disabled = "disabled", @class = "source-community" })
            @Html.HiddenFor(m => m.SourceCommunityId)
            @Html.ValidationMessageFor(m => m.ContractorId)
        </div>
        <div class="display-field">
            @Html.Label("Contractor")
            @Html.DropDownList("ActiveEmployees", ViewData[Model.AppCode + "ContractorList"] as SelectList, "Select a Contractor", new { @disabled = "disabled", @id = "ActiveEmployees", @class = "employee-list" })
            @Html.HiddenFor(m => m.ContractorId, new { @class = "employee-id" })

        </div>

        <div class="display-field">
            @Html.Label("General Ledger")
            @Html.DropDownListFor(m => m.SourceGLAccount, sourceGLList, "Select a Job Role", new { @disabled = "disabled", @class = "source-ledger" })
            @Html.HiddenFor(m => m.SourceGeneralLedgerId)
            @Html.ValidationMessageFor(m => m.SourceGeneralLedgerId)
        </div>
    @*</div>


    <div>*@

        <div class="display-field">
            @Html.Label("Transfer Date")
            @Html.TextBoxFor(m => m.TransferDate, "{0:d}", new { @disabled = "disabled", @id = "TransferDate", size = "10", maxlength = 10 })
            @Html.ValidationMessageFor(m => m.TransferDate)
        </div>
        @*


        <div class="display-field">
            @Html.Label("Destination Community")
            @Html.DropDownListFor(m => m.DestinationCommunity, new SelectList(Model.Communities, "CommunityId", "CommunityShortName", Model.DestinationCommunity), "Select a Community", new { @class = "destination-community" })
            @Html.HiddenFor(m => m.DestinationCommunityId)
            @Html.ValidationMessageFor(m => m.DestinationCommunityId)
        </div>

        <div class="display-field">
            @Html.Label("Destination General Ledger")
            @Html.DropDownListFor(m => m.DestinationGLAccount, new SelectList(Model.GLAccounts, "GLAccountId", "AccountNameNbr", Model.DestinationGLAccount), "Select a Job Role", new { @class = "destination-ledger" })
            @Html.HiddenFor(m => m.DestinationGeneralLedgerId)
            @Html.ValidationMessageFor(m => m.DestinationGeneralLedgerId)
        </div>*@

        <div class="display-field">
            @Html.Label("Hours")
            @Html.TextBoxFor(m => m.HourCnt, new { @disabled = "disabled", size = "10", Value = String.Format("{0:F}", Model.HourCnt) })
            @Html.ValidationMessageFor(m => m.HourCnt)
        </div>

        <div class="display-field">
            @Html.Label("Dollars")
            @Html.TextBoxFor(m => m.PayAmt, new { @disabled = "disabled", size = "10", Value = String.Format("{0:F}", Model.PayAmt) })
            @Html.ValidationMessageFor(m => m.PayAmt)
        </div>

        @*<div class="display-field">
            @Html.Label("PayType")
            @Html.DropDownListFor(m => m.PayType, new List<SelectListItem>
                                                        {
                                                            new SelectListItem {Text = "Regular", Value = "Regular", Selected = true},
                                                            new SelectListItem {Text = "Overtime", Value = "Overtime"}
                                                        })
            @Html.ValidationMessageFor(m => m.PayType)
        </div>*@

        <div class="display-field a-center">
            @Html.Label("PBJ Only")
            @Html.DisplayFor(m => m.PBJOnlyFlg)
            @Html.ValidationMessageFor(m => m.PBJOnlyFlg)
        </div>
    </div>
</div>
