@model AtriumWebApp.Models.Budget.ViewModels.OtherExpensesViewModel
@{
    var glAccount = Model.OtherExpense.FirstOrDefault();
    short currentRecordType = Model.Account.RecordTypeCd;
    string name = "none";
    if (Model.Account.GeneralLedger.OtherExpensesCalcID.HasValue)
    {
        name = Model.Account.GeneralLedger.OtherExpensesGLCalc.CalcNm;
    }
    string recordType1 = string.Empty;
    string recordType2 = string.Empty;
    string recordType3 = string.Empty;
    if (currentRecordType == 1)
    {
        recordType1 = "checked=checked";
    }
    else if (currentRecordType == 2)
    {
        recordType2 = "checked=checked";
    }
    else
    {
        recordType3 = "checked=checked";
    }
    SelectList expenseAccounts = new SelectList(Model.GeneralLedgers.OrderBy(a => a.GLAccountNb).ToList(), "GLAccountIndex", "DisplayName", Model.Account.GLAccountIndex);
}
<div style="display:inline-block;vertical-align:top;">
    <table>
        <tr>
            <td>
                <label>GL Account</label>
            </td>
            <td>
                <select asp-items="expenseAccounts" id="expenseGL" class="glDropdown"></select>
            </td>
            <td>
                <label>Calc Nm</label>
            </td>
            <td>
                <input value="@name" disabled="disabled" />
            </td>
        </tr>
        <tr>
            <td>
                Account Nm
            </td>
            <td>
                <input value="@Model.GeneralLedgers.First(a => a.GLAccountIndex == Model.Account.GLAccountIndex).GLAccountNm" disabled="disabled" class="glAccountName" />
            </td>
        </tr>
    </table>
    <input type="radio" name="recordType" value="1" @recordType1 />PPD
    <input type="radio" name="recordType" value="2" @recordType2 />Fixed
    <input type="radio" name="recordType" value="3" @recordType3 />Calculation

    <br />
    <br />
    Other Expenses Detail
    <div style="width:690px; min-height: 353px;">
        <table id="expenseDetail">
            <thead>
                <tr>
                    <th>
                        Month
                    </th>
                    <th>
                        PPD
                    </th>
                    <th>
                        Fixed Amt
                    </th>
                </tr>
            </thead>
            <tbody>

                @foreach (var expense in Model.OtherExpense)
            {
                SelectList months = new SelectList(Model.Months, "MonthID", "MonthNm", expense.MonthID);
                    <tr monthId="@expense.MonthID">
                        <td>
                            <select asp-items="months" class="expenseMonth"></select>
                        </td>

                        <td>
                            @Html.TextBoxFor(m => expense.DollarsPPD, "{0:C}", new { @class = "displayField expensePPD" })
                        </td>

                        <td>
                            @Html.TextBoxFor(m => expense.ExpenseAmount, "{0:C}", new { @class = "displayField expenseAmount" })
                        </td>
                    </tr>
                }
            </tbody>
            @if (Model.OtherExpense.Count() < 12)
            {
                SelectList months = new SelectList(Model.Months, "MonthID", "MonthNm");
                <tfoot>
                    <tr>
                        <td>
                            <i class="fa fa-asterisk"></i>
                            <select asp-items="months" id="newMonth"></select>
                        </td>
                        <td>
                            <input type="text" id="newExpensePPD" />
                        </td>
                        <td>
                            <input type="text" id="newExpenseAmmount" />
                            <input type="button" id="newExpense" value="Add" />
                        </td>
                    </tr>
                </tfoot>

            }
        </table>
    </div>
</div>
<div style="display:inline-block;border:solid thin black;width:180px;">
    Enter an amount to propagate over all the selected Record Type:
    <br />
    <br />
    <input type="text" id="propagateValue" class="propagate" />
    <br />
    <input type="button" value="Propagate Amount Over All Months" id="propagateButton" class="propagate" />
</div>