@model AtriumWebApp.Web.PayrollTransfer.Models.ViewModel.ContractorAssociationsViewModel
@Html.HiddenFor(m => m.ContractorId)
<button class="float-right" id="close">X</button>
<h2>@Html.DisplayFor(m => m.FullName)</h2>
<table id="selectedCommunities">
    <thead>
        <tr>
            <th>Community</th>
            <th>Associated</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var association in Model.Associations)
        {
            <tr id="@association.CommunityId">
                <td>@association.CommunityName</td>
                @if (association.CanDisassociate)
                {
                    <td>@Html.CheckBoxFor(m => association.IsAssociated, new { @class = "selectCommunity" })</td>
                }
                else
                {
                    <td>@Html.CheckBoxFor(m => association.IsAssociated, new { @class = "selectCommunity", @disabled = "disabled"
                       , @title="Contractor has payroll records assigned to community and cannot be disassociated." })</td>
                }
                
            </tr>
        }
    </tbody>
</table>
