@model AtriumWebApp.Web.ClinicalOps.Models.ViewModel.VaccinationViewModel
<div id="tb_annual" class="vaccineModal">
    <button class="float-right" id="btnClose_TB_Annual">X</button>
    <h2 class="margin_separator" style="text-align: center">TB Annual Vaccination</h2>
    @using (Html.BeginForm("SaveVaccineTBAnnual", "Vaccination", FormMethod.Post, new { id = "SaveVaccineTBAnnual" }))
    {
        @Html.Hidden("VaccineId")
        @Html.Hidden("VaccineType")
        @Html.HiddenFor(m => m.PatientId)
        @Html.HiddenFor(m => m.IsEmployeeVaccine)
        @Html.HiddenFor(m => m.RoomId)
        @Html.HiddenFor(m => m.PayerId)
        if (!Model.IsEmployeeVaccine)
        {
            <fieldset class="borderTop">
                <legend>System</legend>
                <div class="container_16 bottom_pad">
                    <div class="grid_1">&nbsp;</div>
                    <div class="grid_2">@Html.Label("Consent Signed:")</div>
                    <div class="grid_2">@Html.CheckBox("ConsentSignedFlg")</div>
                </div>
            </fieldset>
        }
        <fieldset class="note">
            <legend>PPD</legend>
            <div class="container_16 bottom_pad">
                <div class="grid_1">&nbsp;</div>
                <div class="grid_3">@Html.Label("", "PPD", new { @style = "font-weight: bold" })</div>
            </div>
            <div class="container_16 bottom_pad">
                <div class="grid_1">&nbsp;</div>
                <div class="grid_2">@Html.Label("Given Date:")</div>
                <div class="grid_2">@Html.TextBox("PPDGivenDate", "", new { @class = "isDate date" })</div>
            </div>
            <div class="container_16 bottom_pad">
                <div class="grid_1">&nbsp;</div>
                <div class="grid_2">@Html.Label("Site:")</div>
                <div class="grid_2">@Html.DropDownList("PPDSite", new SelectList(Model.VaccineTBSites, "VaccineTBSiteId", "SiteName"), "Select a Site")</div>
            </div>
            <div class="container_16 bottom_pad">
                <div class="grid_1">&nbsp;</div>
                <div class="grid_2">@Html.Label("Read Date:")</div>
                <div class="grid_2">@Html.TextBox("PPDReadDate", "", new { @class = "isDate date" })</div>
            </div>
            <div class="container_16 bottom_pad">
                <div class="grid_1">&nbsp;</div>
                <div class="grid_2">@Html.Label("Reaction:")</div>
                <div class="grid_2">@Html.CheckBox("PPDReactionFlg")</div>
            </div>
            <div class="container_16 bottom_pad reactionMeasurementShow" style="display: none;">
                <div class="grid_1">&nbsp;</div>
                <div class="grid_2">@Html.Label("Measurement:")</div>
                <div class="grid_2">@Html.DropDownList("PPDReactionMeasurement", new SelectList(Model.VaccineTBReactionMeasurements, "VaccineTBReactionMeasurementId", "Description"), "Select a Measurement")</div>
            </div>
            @if (!Model.IsEmployeeVaccine)
            {
                <div class="container_16 bottom_pad">
                    <div class="grid_1">&nbsp;</div>
                    <div class="grid_2">@Html.Label("Lot #:")</div>
                    <div class="grid_2">@Html.TextBox("PPDLotNumber", "", new { style = "width: 75px;", maxlength = "16" })</div>
                </div>
            }
        </fieldset>
        <fieldset class="borderBottom">
            <legend>Other</legend>
            <div class="container_16 bottom_pad">
                <div class="grid_1">&nbsp;</div>
                <div class="grid_2">@Html.Label("Questionnaire Complete:")</div>
                <div class="grid_1">@Html.CheckBox("QuestionnaireCompleteFlg")</div>
                <div class="grid_2 questionnaireDateShow" style="display: none">@Html.TextBox("QuestionnaireCompleteDate", "", new { @class = "isDate date" })</div>
            </div>
            <div class="container_16 bottom_pad">
                <div class="grid_1">&nbsp;</div>
                <div class="grid_2">@Html.Label("", "BMAT:", new { @style = "font-weight: normal" })</div>
                <div class="grid_1">@Html.CheckBox("BMATFlg")</div>
                <div class="grid_2 bmatDateShow" style="display: none">@Html.TextBox("BMATDate", "", new { @class = "isDate date", @id = "BMATDate_Annual" })</div>
            </div>
        </fieldset>
        <br />
        <div class="container_16 bottom_pad">
            <div class="grid_3">&nbsp;</div>
            <div class="grid_2">
                <button type="button" id="btnSave_TB_Annual">Save</button>
            </div>
            <div class="grid_2">
                <button type="button" id="btnClear_TB_Annual">Clear</button>
            </div>
        </div>
    }
</div>