@model AtriumWebApp.Models.ViewModel.ProviderViewModel

@Html.HiddenFor(m => m.Id) 
<h3 class="contractManagementTitle">View Provider</h3>
<div class="container_16">
    @Html.HiddenFor(m => m.SelectedCommunityId)
    <div class="grid_7">@Html.LabelFor(m => m.Name)</div>
    <div class="grid_3">@Html.LabelFor(m => m.LicenseId)</div>
    <div class="grid_3">@Html.LabelFor(m => m.LicenseExpirationDate)</div>
    <div class="grid_3"></div>
</div>
<div class="container_16 bottom_pad">
    <div class="grid_7">@Html.TextBoxFor(m => m.Name, new { size = "60", disabled="disabled" })</div>
    <div class="grid_3">@Html.TextBoxFor(m => m.LicenseId, new { size = "20", disabled="disabled" })</div>
    <div class="grid_3">@Html.DisplayFor(m => m.LicenseExpirationDate, new { size = "10", @class = "isDate" })</div>
    <div class="grid_3"></div>
</div>
<div class="container_16 top_pad">
    <div class="grid_7">@Html.LabelFor(m => m.InsuranceCompany)</div>
    <div class="grid_3">@Html.LabelFor(m => m.InsurancePolicyId)</div>
    <div class="grid_4">@Html.LabelFor(m => m.InsuranceExpirationDate)</div>
</div>
<div class="container_16">
    <div class="grid_7">@Html.TextBoxFor(m => m.InsuranceCompany, new { size = "60", disabled="disabled" })</div>
    <div class="grid_3">@Html.TextBoxFor(m => m.InsurancePolicyId, new { size = "20", disabled="disabled" })</div>
    <div class="grid_4">@Html.DisplayFor(m => m.InsuranceExpirationDate, new { size = "10", @class = "isDate" })</div>
</div>
<div class="clear"></div>

<h3>Documents</h3>
<table id="documents" class="margin-separator">
    <thead>
        <tr>
            <th>Description</th>
            <th>Save Date</th>
            <th>Document</th>
        </tr>
    </thead>
    <tbody>  
        @Html.DisplayFor(m => m.Documents)                  
    </tbody>
</table> 

<h3>Addresses</h3>
<table id="addresses" class="margin-separator">
    <thead>
        <tr>
            <th>Address 1</th>
            <th>Address 2</th>
            <th>City</th>
            <th>County</th>
            <th>State</th>
            <th>Zip</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
        @Html.DisplayFor(m => m.Addresses)
    </tbody>
</table> 

<h3>Contacts</h3>
<table id="contacts" class="margin-separator">
    <thead>
        <tr>
            <th>Name</th>
            <th>Title</th>
            <th>Phone</th>
            <th>Cell</th>
            <th>Fax</th>
            <th>Email</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
        @Html.DisplayFor(m => m.Contacts)
    </tbody>
</table> 
<div class="container_16">
    <div class="grid_7"></div>
    <div class="grid_3"></div>
    <div class="grid_3">
        <button type="button" id="clearProvider">Cancel</button>
    </div>
    <div class="grid_3"></div>
</div>

