@using AtriumWebApp.Models.ViewModel
@using AtriumWebApp.Web.Base.Library
@{
    string controller = ViewContext.RouteData.Values["controller"].ToString();
    string rootPath = Url.Content("~/").Split('/')[1];
    string path = Url.Content("~/");
    if (string.IsNullOrEmpty(path) || path == "/")
    {
        string requestPath = Context.Request.Path.ToString();
        rootPath = requestPath.Split('/')[1];
        if (controller == "Home")
        {
            path = "/" + rootPath + "/";
        }
        else
        {
            path = requestPath.Substring(0, requestPath.LastIndexOf(controller));
        }
    }
    string baseUrl = "/" + rootPath;
    Navigation globalNav;
    Context.Session.TryGetObject("globalNav", out globalNav);
}
<style>
    .noHighlight:hover {
        background-color: transparent;
        padding: 0;
    }
    .noHighlight{
        color:transparent !important;
        padding:0;
    }
    .noHighlight img{
        border:none !important;
    }
        .noHighlight:hover img {
            border: none !important;
        }
</style>

<header id="banner">
    <environment names="Development">
        <div style="width:100%;position:absolute;top:0px;text-align:center;font-size:40px;font-weight:900;">
            DEVELOPMENT
        </div>
    </environment>
    <environment names="Training">
        <div style="width:100%;position:absolute;top:0px;text-align:center;font-size:40px;font-weight:900;">
            Training
        </div>
    </environment>
    <environment names="Testing">
        <div style="width:100%;position:absolute;top:0px;text-align:center;font-size:40px;font-weight:900;">
            Testing
        </div>
    </environment>
    <div class="logoContainer" style="display:inline-block">
        <div style="padding-left:10px;">
            <a href="@baseUrl" class="noHighlight"><img src="~/images/logo_atrium_centers.png" style="height:60px;" /></a>
        </div>
    </div>
    <div class="navContainer">
        <table class="navSection">
            <tr>
                @foreach (var appGroup in globalNav.Groups)
                {
                    string name = appGroup.ApplicationGroupName;

                <td class="navTab">
                    <div class="topMenuItem ui-corner-top">
                        <div class="topMenuDisplay">
                            @name
                        </div>
                        <span class="ui-icon ui-icon-triangle-1-s dropdownChevron" style="display:block"></span>
                    </div>

                    <div class="menu ui-corner-bottom" style="display:none;">
                        @foreach (var app in globalNav.Application.Where(a => a.ApplicationGroupId == appGroup.ApplicationGroupId))
                            {
                                string appUrl = app.RelativeApplicationURL;
                                string additionalClass = "";
                            <div class="subMenu">
                                @if (!string.IsNullOrEmpty(app.RelativeAdminURL))
                                    {
                                        additionalClass = "subMenuTitle";
                                    }

                                <div class="subMenuContainer">
                                    <div class="menuItem @additionalClass">
                                        <a href="@(baseUrl)@appUrl" style="white-space:nowrap">@app.ApplicationName</a>
                                    </div>
                                    @if (!string.IsNullOrEmpty(app.RelativeAdminURL))
                                        {
                                        <span class="ui-icon ui-icon-triangle-1-e expandChevron">

                                        </span>
                                        }
                                </div>
                                @if (!string.IsNullOrEmpty(app.RelativeAdminURL))
                                    {
                                    <div class="subMenuMenu" style="display:none;">
                                        <div class="menuItem">
                                            <a href="@(baseUrl)@app.RelativeAdminURL" style="white-space:nowrap">@app.ApplicationName - Admin</a>
                                        </div>
                                    </div>
                                    }
                            </div>
                            }
                    </div>

                </td>
                }
                @foreach (var tab in globalNav.OtherTabs)
                {
                    string name = tab.TabName;

                <td class="navTab">
                    <div class="topMenuItem ui-corner-top">
                        <div class="topMenuDisplay">
                            @name
                        </div>
                        <span class="ui-icon ui-icon-triangle-1-s dropdownChevron" style="display:block"></span>
                    </div>

                    <div class="menu ui-corner-bottom" style="display:none;">
                        @foreach (var nav in tab.NavItems)
                            {
                                string appUrl = nav.Url;
                                if (!appUrl.StartsWith("http"))
                                {
                                    appUrl = "/" + rootPath + "/" + appUrl;
                                    appUrl = appUrl.Replace("//", "/");
                                }

                            <div class="menuItem">
                                <a href="@(appUrl)" style="white-space:nowrap">@nav.DisplayName</a>
                            </div>
                            }
                    </div>

                </td>
                }
            </tr>
        </table>
    </div>
    <div class="topContainer">
        <div class="topContainer">
            <div id="user-info" style="max-width: 205px; padding-top:5px;">

                Welcome @ViewBag.CurrentUserDisplayName
                <br />
                @ViewBag.CurrentDate
            </div>
        </div>
        <br />
        <div class="CountDownPanel" style="padding-top:5px;">Session Time: </div>
        <div id="CountDownPanel" class="home-link">00:00</div>
    </div>
</header>

<script>
    function ResizeNav() {
        var tabHeight = 1;
        $(".topMenuDisplay").each(function (index, element) {

            if (tabHeight < $(element).height()) {
                tabHeight = $(element).height();
                tabHeight += $(element).siblings().height();
            }
        });
        $(".navTab").height(tabHeight);
    }
    ResizeNav();
    var timeoutID;
    var timeoutTime = 1000;
    $(".navTab").mouseenter(function () {
        if (timeoutID) {
            window.clearTimeout(timeoutID);
        }
        CloseSubMenu();

        $(this).find(".menu").show();
    });
    $(".navTab").mouseleave(function () {
        if (timeoutID) {
            window.clearTimeout(timeoutID);
        }
        timeoutID = window.setTimeout(CloseSubMenu, timeoutTime);
    });
    function CloseSubMenu() {
        $(".menu").hide();
        $(".subMenuMenu").hide();
        $(".subMenu").css("background-color", "");
    }

    $(".subMenu").mouseenter(function () {
        $(".subMenuMenu").hide();
        var left = $(this).width();
        var top = $(this).position().top;
        var position = { left: left, top: top };
        $(".subMenu").css("background-color", "");
        $(this).css("background-color", "#c8c8c8");
        $(this).find(".subMenuMenu").css(position);
        $(this).find(".subMenuMenu").show();

    })
    $(".navSection").find("a").on('click', function () {
        window.ShowProgress();
    });

</script>
<script>
    var path = "@path";
    var rootPath = "/@rootPath/";
</script>



