@model AtriumWebApp.Models.Budget.ViewModels.ExcelExportViewModel


<style>
    #facilityExcelExportTable, #ExcelExportRegionTableContainer {
        border: solid thin gray;
    }

        #facilityExcelExportTable tr:hover, #ExcelExportRegionTableContainer tr:hover {
            cursor: pointer;
        }

        #facilityExcelExportTable td {
            border-left: solid thin gray;
        }

        #facilityExcelExportTable thead, #ExcelExportRegionTableContainer thead {
            border-bottom: solid thin gray;
        }

    #ExcelExportTableContainer, #ExcelExportRegionTableContainer {
        max-width: 640px;
        display: inline-block;
    }
    #exportButtonContainer {
        float: right;
    }
    .disabledOverlay {
        background-color: lightgray;
    }
</style>



<div class="facilityExportSelection">
    Select Facilities:
    <div style="float:right;display:inline-block">
        Export All:
        <input type="checkbox" id="selectAllExcelExport" style="float:right" />
    </div>
    <br />
    <br />
    <div id="ExcelExportTableContainer" style="overflow-y:scroll;height:250px">
        <table id="facilityExcelExportTable">
            <thead>
                <tr>
                    <td>
                        State
                    </td>
                    <td>
                        Region
                    </td>
                    <td>
                        Facility Number
                    </td>
                    <td>
                        Facility Name
                    </td>
                </tr>
            </thead>
            <tbody>
                @foreach (var facility in Model.Facilities)
            {
                    <tr rowNum="@facility.FacilityID">
                        <td>
                            @facility.State.StateCd
                        </td>
                        <td>
                            @facility.Region.RegionNm
                        </td>
                        <td>
                            @facility.FacilityNb
                        </td>
                        <td style="min-width:340px">
                            @facility.FacilityNm
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div id="exportButtonContainer">
        <input type="button" value="Export By Facility" id="excelExportByFacility" />
    </div>

</div>
<div>
    Select Regions:
    <div style="float:right;display:inline-block">
        Export All:
        <input type="checkbox" id="selectAllRegionsExcelExport" style="float:right" />
    </div>
    <br />
    <br />
    <div id="ExcelExportRegionTableContainer" style="overflow-y:scroll;height:150px;width:100%">
        <table id="regionExcelExportTable" style="width:100%">
            <thead>
                <tr>
                    <td>Region</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var region in Model.Regions)
            {
                    <tr rowNum="@region.RegionID">
                        <td>
                            @region.RegionNm
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div id="exportButtonContainer">
        <input type="button" value="Export By Region" id="excelExportByRegion"/>
        <br />
        <br />
        <br />
        <input type="button" value="Export Company" id="excelExportAll" />
    </div>
    
</div>
<script>
    $("#facilityExcelExportTable tbody tr").on("click", function () {
        if (!$("#facilityExcelExportTable").hasClass("disabledOverlay")) {
            $(this).toggleClass("negative");
        }
    });

    $("#regionExcelExportTable tbody tr").on("click", function () {
        if (!$("#regionExcelExportTable").hasClass("disabledOverlay")) {
            $(this).toggleClass("negative");
        }
    });

    $("#selectAllExcelExport").on("change", function () {
        if ($(this).is(":checked")) {
            $("#facilityExcelExportTable").addClass("disabledOverlay");

        } else {
            $("#facilityExcelExportTable").removeClass("disabledOverlay");
        }
    });

    $("#selectAllRegionsExcelExport").on("change", function () {
        if ($(this).is(":checked")) {
            $("#regionExcelExportTable").addClass("disabledOverlay");

        } else {
            $("#regionExcelExportTable").removeClass("disabledOverlay");
        }
    });

    $("#excelExportByFacility").on("click", function () {
        if ($("#selectAllExcelExport").is(":checked")) {
            getFacilityFiles("")
        }
        else {
            if ($("#facilityExcelExportTable").find(".negative").length == 0) {
                alert("Please select a facility to export or all.")
                return;
            }

            var facilities = "";

            $("#facilityExcelExportTable").find(".negative").each(function (index, element) {
                facilities += "facilities=" + $(element).attr("rowNum") + "&";
            });
            getFacilityFiles(facilities)
        }
    });

    $("#excelExportByRegion").on("click", function () {
        if ($("#selectAllRegionsExcelExport").is(":checked")) {
            getRegionFiles("")
        }
        else {
            if ($("#regionExcelExportTable").find(".negative").length == 0) {
                alert("Please select a region to export or all.")
                return;
            }

            var regions = "";

            $("#regionExcelExportTable").find(".negative").each(function (index, element) {
                regions += "regions=" + $(element).attr("rowNum") + "&";
            });
            getRegionFiles(regions)
        }
    });

    $("#excelExportAll").on("click", function () {
        getCompanyFile();

    });

</script>