@model AtriumWebApp.Models.Budget.ViewModels.CensusViewModel

@{
    var glAccount = Model.MonthlyCensus.First().GeneralLedger;
    SelectList censusAccounts = new SelectList(Model.GeneralLedgers.OrderBy(a => a.GLAccountNb).ToList(), "GLAccountIndex", "DisplayName", glAccount.GLAccountIndex);
}
<table>
    <tr>
        <td>
            <label>GL Account</label>
        </td>
        <td>
            <select asp-items="censusAccounts" id="censusGLAccountID" class="glDropdown"></select>
        </td>
    </tr>
    <tr>
        <td>
            Account Name
        </td>
        <td>
            <input value="@glAccount.GLAccountNm" disabled="disabled" class="glAccountName" />
        </td>
    </tr>
</table>

<br />
<br />

    Census Detail <div style="float:right"><label>Yearly ADC:</label><input asp-for="TotalADC" style="width:65px;" disabled="disabled" /></div>
<table id="censusDetail">
    <thead>
        <tr>
            <th>
                Month
            </th>
            <th>
                ADC
            </th>
            <th>
                ADR
            </th>
            <th>
                Fixed Amt
            </th>
            <th>
                Monthly ADC
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var census in Model.MonthlyCensus)
            {
                SelectList months = new SelectList(Model.Months, "MonthID", "MonthNm", census.MonthID);
                var monthlyADC = census.MonthTable.Census.Where(a => a.FacilityID == census.FacilityID && a.MonthID == census.MonthID).Sum(b => b.AvgDailyCensus);
                var fixedAmt = census.AvgDailyRate * census.AvgDailyCensus * census.MonthTable.NumDaysInMonth;
            <tr>
                <td>
                    <select asp-items="months"></select>
                </td>

                <td>
                    @Html.TextBoxFor(m => census.AvgDailyCensus, "{0:N1}", new { @class = "displayField" })
                </td>

                <td>
                    @Html.TextBoxFor(m => census.AvgDailyRate, "{0:C}", new { @class = "displayField" })
                </td>

                <td daysInMonth="@census.MonthTable.NumDaysInMonth">

                    @Html.TextBoxFor(m => fixedAmt, "{0:C}", new { @class = "displayField", disabled = "disabled" })
                </td>

                <td>
                    @Html.TextBoxFor(m => monthlyADC, "{0:n2}", new { disabled = "disabled", @class = "displayField" })
                </td>

            </tr>
        }
    </tbody>
</table>
