@model AtriumWebApp.Web.Survey.Models.ViewModel.CitationFollowUpViewModel
@Html.HiddenFor(m => m.CitationId)
<div class="container_16">
    <div class="grid_13 bottom_pad">
        @Model.DeficiencyDescription
    </div>
    <div class="grid_3">
        <span class="float-right">Severity: <strong>@Model.MockSeverity</strong></span>
    </div>
</div>
@if (Model.DeficiencyInstructions != null)
{
<div class="container_16">
    <div class="grid_13 bottom_pad">
        @Model.DeficiencyInstructions
    </div>
</div>
}
<div class="container_16">
    <div class="grid_16">
        <span class="float-right">@Html.LabelFor(m => m.IsCompliant) @Html.CheckBoxFor(m => m.IsCompliant)</span>
    </div>
</div>
<div class="container_16">
    <div class="grid_5">
        Finding Details:
    </div>
    <div class="grid_5">
        Plan of Correction:
    </div>
    <div class="grid_6">
        @Html.LabelFor(m => m.FollowUpDetails):
    </div>
</div>
<div class="container_16 margin_separator">
    <div class="grid_5">
        @Html.TextAreaFor(m => m.FindingDetails, new { @readonly = "readonly", rows = 12 })
    </div>
    <div class="grid_5">
        @Html.TextAreaFor(m => m.PlanOfCorrection, new { @readonly = "readonly", rows = 12 })
    </div>
    <div class="grid_6">
        @Html.TextAreaFor(m => m.FollowUpDetails, new { rows = 12 })
    </div>
</div>