@model AtriumWebApp.Models.ViewModel.ResidentViewModel

<br />
<label style="font-weight:bold">Current Resident</label>
    Name/Community:
    <div id="residentName">@Model.ResidentName</div>
    @Model.CommunityName
<p></p>
<p>Rm#: @Model.RoomName</p>
<p>Birthdate: @Model.BirthDate</p>
<p>Admit Date: @Model.AdmitDate</p>
<p>Last Census Date: @Model.LastCensusDate </p>
<p>
    Admission Diagnosis:<br />
    @Model.AdmissionDiagnosis
</p>
<p>
    Diagnosis:
    @for (int i = 0; i < Model.OtherDiagnosis.Count; i++)
    {
        <br />
        @((i + 1).ToString() + ". " + Model.OtherDiagnosis[i])

    }
</p>